.autofillField {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(magnify.gif); BACKGROUND-REPEAT: no-repeat; background-origin: border
}
.autofillDropDown {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: black 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: black 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: white
}
.autofillDropDown TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.af-choice {
	FONT-WEIGHT: bold
}
.af-extra {
	COLOR: #999999
}
.af-highlighted {
	BACKGROUND-COLOR: #666666
}
.af-highlighted TD {
	COLOR: white
}