.php {
	font-size: 12px;
	text-align: left;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.php_title {
	font-size: 16px;
	font-weight: 800;
	color: #008888;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	}
.php_table {
	font-size: 12px;
	text-align: left;
	width: 100%;
	height: 90%;
	margin: 0;
	border: 0;
	padding: 0;
	}
.php_textarea {
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 100%;
	height: 40%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.php_attributes {
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	height: 40%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.php_functions {
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	height: 40%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.php_buttons {
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	width: 50%;
	height: 5%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
