.calendar_table
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	color: #6191cf;
	background-color: #EEEEEE;
}
.calendar_header
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #6191cf;
	padding: 2px;
}

.calendar_combo
{
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
}

.calendar_dayname
{
	color: #ffffff;
	background-color: #6191cf;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	padding: 2px;
}

.calendar_day
{
	color: #6191cf;
	background-color: #EEEEEE;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	padding: 1px;
}

.calendar_today
{
	color: #ffffff;
	background-color: #6191cf;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	padding: 1px;
}

.calendar
{
	border: 2px outset white;
	position: absolute;
	top: 1px;
	left: 1px;
}
