.menu {
	font-family: MS Shell Dlg;
	text-align: right;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
}
.path {
	font-family: MS Shell Dlg;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
}
.path_table {
	font-family: MS Shell Dlg;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
}
.path_left {
	font-family: MS Shell Dlg;
	text-align: left;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 4px;
}
.path_right {
	font-family: MS Shell Dlg;
	text-align: right;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 4px;
}
.message {
	font-family: MS Shell Dlg;
	font-weight: 800;
	color: white;
	text-align: left;
	width: 100%;
	margin: 4px;
	border: 0;
	padding: 2px;
	background: #FF0000;
}
.contents {
	font-family: MS Shell Dlg;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
}
.collection {
	font-family: MS Shell Dlg;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
}
.collection_title {
	font-family: MS Shell Dlg;
	font-size: 125%;
	font-weight: 800;
	color: white;
	text-align: left;
	margin: 0;
	border: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	background: url(title_bg.png) repeat-x; 
	height: 30px;
}
.collection_buttons {
	font-family: MS Shell Dlg;
	font-size: 125%;
	font-weight: 800;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	border-bottom: inset 2 highlighttext;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
}
.collection_associateButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_dissociateButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_addButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_removeButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_OkButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_CancelButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_topButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_table {
	font-family: MS Shell Dlg;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	border-collapse: collapse;
	border-right: inset 2 highlighttext;
	border-bottom: inset 2 highlighttext;
	padding: 0;
}
.collection_field_title {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	border-right: inset 2 highlighttext;
	border-bottom: inset 2 highlighttext;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	cursor: hand;
}
.collection_field_value {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	background-color: white;
}
.collection_title_checkbox {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	border-left: outset 2 highlighttext;
	border-right: inset 2 highlighttext;
	border-bottom: inset 2 highlighttext;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	width: 20px;
}
.collection_title_checkbox input {
	border: 0;
}
.collection_value_checkbox {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	border-left: outset 2 highlighttext;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	width: 20px;
	background-color: white;
}
.collection_value_checkbox input {
	background-color: white;
	border: 0;
}
.collection_title_number {
	font-family: MS Shell Dlg;
	text-align: right;
	vertical-align: top;
	margin: 0;
	border: 0;
	border-right: inset 2 highlighttext;
	border-bottom: inset 2 highlighttext;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	cursor: hand;
}
.collection_value_number {
	font-family: MS Shell Dlg;
	text-align: right;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	background-color: white;
}
.object {
	font-family: MS Shell Dlg;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
}
.object_title {
	font-family: MS Shell Dlg;
	font-size: 125%;
	font-weight: 800;
	color: white;
	text-align: left;
	margin: 0;
	border: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	background: url(title_bg.png) repeat-x; 
	height: 30px;
}
.object_buttons {
	font-family: MS Shell Dlg;
	font-size: 125%;
	font-weight: 800;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: MS Shell Dlg;
	font-size: 125%;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	border-bottom: inset 2 highlighttext;
	padding-top: 0px;
	padding-bottom: 0px;
	padding: 0;
	padding-left: 6px;
	padding-right: 6px;
}
.object_removeButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_editButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_okButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_cancelButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_topButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_goLabel {
	vertical-align: top;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_goRadio {
	background-color: #ffffff;
	vertical-align: middle;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_goImg {
	vertical-align: middle;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_table {
	font-family: MS Shell Dlg;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	border-collapse: collapse;
	padding: 0;
}
.object_field_title {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	width: 25%;
	margin: 0;
	border: 0;
	border-left: outset 2 highlighttext;
	border-right: inset 2 highlighttext;
	border-bottom: inset 2 highlighttext;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
.object_field_value {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	width: 25%;
	margin: 0;
	border: 0;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: white;	
}
.object_field_value_1 {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	width: 25%;
	margin: 0;
	border: 0;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: white;	
}
.object_field_value_2 {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: white;	
}
.object_field_value_3 {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	width: 75%;
	margin: 0;
	border: 0;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: white;	
}
.object_field_array {
	font-family: MS Shell Dlg;
	text-align: left;
	vertical-align: top;
	width: 75%;
	margin: 0;
	border: 0;
	padding: 0;
	background-color: white;	
}
.disabled {
}
