/** DataView Collection ----------------------------- */
.dhx_dataview_item .checkContainer {
	display: none !important;
}

.dhx_dataview_item.dhx_dataview_custom_item, .dhx_dataview_item.dhx_dataview_custom_item_selected {
	text-align: center;
}

.dhx_dataview_selecting .dhx_dataview_item {
	position: relative;
	background-color: #FFFFFF;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.dhx_dataview_selecting .dhx_dataview_custom_item_selected  {
	background-color: #F5F5F5;
}

.dhx_dataview_selecting .dhx_dataview_custom_item_selected .checkContainer, .dhx_dataview_selecting .dhx_dataview_selecting .dhx_dataview_item .checkContainer {
	display: block !important;
	top: 5px;
	left: 5px;
	position: absolute;
	width: 20%;
	height: 37px;
	border-radius: 4px;
	text-align: center;
}

.dhx_dataview_custom_item_selected .checkContainer div, .dhx_dataview_selecting .dhx_dataview_item .checkContainer div {
	padding-top: 8px;
}

.dhx_dataview_selecting .dhx_dataview_item .checkContainer div i {
	color: rgba(54, 32, 190, 0.2);
	font-size: 20px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.dhx_dataview_selecting .dhx_dataview_custom_item_selected .checkContainer div i, .dhx_dataview_selecting .dhx_dataview_item:hover .checkContainer div i  {
	color: rgba(54, 32, 190, 0.6);
}
/** ------------------------------------------------- */

#divDesignBody .dhx_dataview img {
	float: initial !important;
	vertical-align: middle;
}

#divDesignBody .dhxlayout_base_dhx_terrace div.dhxcelltop_toolbar {
	padding: 6px;
}

#divInviteUsersParent, #divInviteGroupsParent {
	height: initial !important;
}

/*#divInviteUsers, #divInviteGroups {
	margin-left: 20px;
  	margin-top: 20px;
}*/

.assoc_button .dhxform_btn, .remove_button .dhxform_btn, #divInviteUsers div.dhxform_btn, #divInviteGroups div.dhxform_btn {
	border: none !important;
  	border-radius: 50% !important;
  	height: 38px !important;
  	width: 38px !important;
	background-color: #f8d17c !important;
}

.assoc_button .dhxform_btn .dhxform_btn_txt, .remove_button .dhxform_btn .dhxform_btn_txt, #divInviteUsers .dhxform_btn .dhxform_btn_txt, #divInviteGroups .dhxform_btn .dhxform_btn_txt {
	margin-top: 4px !important;  
	margin-left: 8px !important;
	-webkit-filter: brightness(0) invert(1);    filter: brightness(0) invert(1);
}

#divInviteUsers div.gridbox_dhx_terrace.gridbox .xhdr, #divInviteGroups div.gridbox_dhx_terrace.gridbox .xhdr, .customGrid div.gridbox_dhx_terrace.gridbox .xhdr,
.selection_list .selection_container div.gridbox_dhx_terrace.gridbox .xhdr {
	background-color: #3D5E90;
  	padding-left: 12px;
}

#divInviteUsers .hdrcell, #divInviteGroups .hdrcell, .customGrid .hdrcell, 
.selection_list .selection_container .hdrcell {
	background-color: #3D5E90;
	padding-left: 5px;
	color: #FFFFFF;
  	font-size: 16px;
}

#divInviteUsers div.objbox table, #divInviteGroups div.objbox table, .customGrid div.objbox table, 
.selection_list .selection_container div.objbox table {
	border-spacing: 8px;
	width: initial !important;
}

#divInviteUsers div.objbox table tr, #divInviteGroups div.objbox table tr, .customGrid div.objbox table tr,
.selection_list .selection_container div.objbox table tr {
	height: 27px;
	border: none;
}

#divInviteUsers div.objbox table tr td, #divInviteGroups div.objbox table tr td, .customGrid div.objbox table tr td, 
.selection_list .selection_container div.objbox table tr td {
	background-color: #F1F1F1;
	border: none;
	padding-left: 10px !important;
}

#divInviteUsers div.objbox table tr.rowselected td, #divInviteGroups div.objbox table tr.rowselected td, .customGrid table tr.rowselected td,
.selection_list .selection_container div.objbox table tr.rowselected td {
  background-color: #fff3a1;
}
.divInfo { 
	 float: right; 
	 height: 100%; 
	 color: #333333; 
	 text-align: right; 
	 padding-top: .5%;
}
.divInfo #displayLoc{
	font-weight: bold;
	font-family: Helvetica;
	margin-right: 6px;
}
.divInfo #currentUser, .divInfo #currentVersion{
	font-size: 12px;
	font-family: Helvetica;
	margin-right: 6px;
}
.divInfo #logOut{
	font-size: 12px;
	font-family: Helvetica;
	margin-right: 10px;
	text-decoration:underline;
	cursor:pointer;
}
.dhx_clist{ 
	font-size: 12px;
	font-family: Roboto Regular;
	height: 200px !important;
	overflow-y: scroll !important;
}.dhx_cell_cont_editor{
	border-color: rgb(238, 238, 238) !important;
}
.formulaButtonRight .dhxform_btn {
	float: right !important;
	background-image: url(../images/admin/editFormula.gif) !important;
	background-repeat:no-repeat !important;
	top: -10;
	width: 18px;
	height: 18px;
	cursor: pointer !important;
}
.editorHTMLButtonRight .dhxform_btn {
	float: right !important;
	background-image: url(../images/admin/editorhtml.gif) !important;
	background-repeat:no-repeat !important;
	top: -10;
	width: 18px;
	height: 18px;
	cursor: pointer !important;
}

/* eForms App */
.formItemDiv {
	overflow:hidden;
	width:100px;
	height:200px;
}
.formItemDiv a {
	padding:0px!important;
	margin:0px;
	text-decoration: none;
}
.formItemTable {
	width:100px;
	overflow:hidden;
}
.formTextTable {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border-spacing:0px;
}

/* Celda que contiene nombre de la forma y descripción esto es un td */
.formDescTD {
	width:100px;
	height:100px;
	text-shadow:none;
	color:white !important;
	font-family:Roboto;
	background-color:#252832 !important;
	display: block;
}

/* div dentro de .formDescTD */
.formDescTDdiv {
	width:100px;
	height:100px;
	text-align:center !important;
	color: white;
}

/* div dentro de .formDescTD almacena la tabla con el nombre */
.formDescTDdivName {
	height:50px;
	width:100px;
	overflow:hidden;
	font-size:12px;
	background-color:#252832;
	color: white;
}

/* div dentro de .formDescTD almacena la tabla con la descripción */
.formDescTDdivDesc {
	height:50px;
	width:100px;
	overflow:hidden;
	font-size:9px;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:20px;
	font-size:9px;
	background-color:#252832;
	color: white;
}

/* contenedor de la imagen de la forma */
.formImgTD {
	text-align:center !important;
	width:100px;
	height:100px;
	background-color:#B7B7B7;
}
.formImgTD img {
	max-width:95px;
	max-height:95px;
	vertical-align:middle;
}

#formsListDiv {
	text-align: center !important;
}

#formsListDiv .dhx_dataview_item {
    float: none !important;
    display: inline-block !important;
}

#jPanelMenu-menu {
	overflow-y:auto !important;
}

#socialNetBar {
	bottom: 8%;
	position: fixed;
}

#leyenda {
	bottom: .5%;
	position: fixed;
}

#socialNetBar a {
	padding:0px !important;
}

li.emptyLi {
	border: 0px !important;
}

/* estilos para las bullets de las preguntas ranking */

.rankLabel {
	padding-left: 50px;
}

.ui-controlgroup-controls > label.rankBullet, .ui-controlgroup-controls > label.rankBulletSelected, .ui-controlgroup-controls > label.rankBulletInline, .ui-controlgroup-controls > label.rankBulletSelectedInline {
	clip: auto;
}

.rankBullet{
	position: absolute;
	margin-top: -33px !important;
	margin-left: 10px !important;
	color: transparent !important;
	z-index: 5;
	width: 25px !important;
	height: 20px !important;
	text-align: center;
	border: 2px solid transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.rankBulletSelected{
	position: absolute;
	margin-top: -33px !important;
	margin-left: 10px !important;
	color: #FFFFFF !important;
	z-index: 5;
	width: 25px !important;
	height: 20px !important;
	text-align: center;
	border: 2px solid white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.rankBulletInline{
	position:absolute; 
	width:25px !important; 
	height:20px !important; 
	text-align:center;
	color: black; 
	border: 2px solid transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.rankBulletSelectedInline{
	position:absolute; 
	width:25px !important; 
	height:20px !important; 
	text-align:center; 
	color: black; 
	border: 2px solid #72B0D4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* eForms App end */

.errorinput {
  border-color: #3c763d !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-width: 1px;
  border-style: solid;
}

div.gridbox_dhx_terrace.gridbox button {
	line-height: initial;
}

div.dhx_toolbar_dhx_terrace * {
    box-sizing: initial;
}

/*MAPR 2018-10-19: Ocurría un problema con las preguntas tipo fecha con formato, debido a que al seleccionar un valor 
	este aparecía 2 veces, una encima de la otra, era debido a una transparencia del valor original	#AHBA8Q*/
/* estilos para que funcione correctamente el componente de date nuevo */
input[type=date] {
	position: relative;
	color: black;
	text-shadow: none !important;
}

/*MAPR 2018-10-19: Ocurría un problema con las preguntas tipo fecha con formato, debido a que al seleccionar un valor 
	este aparecía 2 veces, una encima de la otra, era debido a una transparencia del valor original #AHBA8Q	*/
input[type=date]:not(.has-value):before {
	position: absolute;
	top: 3px;
	left: 3px;
	content: attr(data-date);
	display: inline-block;
	color: black;
	width: 98%;
}

input[type=date]::-webkit-datetime-edit, input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button {
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}
/* por error en iOS los campos se ponen con tamaños fijos */
input[type=date],input[type=time] {
    height: 24px;
    width: 98%;
}

/* colores de los bullets de las agendas */
.ui-icon-agenda-canceled::after {
	background: #666666;
}

.ui-icon-agenda-sync::after {
	background: #007300;
}

.ui-icon-agenda-captured::after {
	background: #FF4E03;
}

.ui-icon-agenda-uncaptured::after {
	background: #D10005;
}

.ui-icon-agenda-unallowed::after {
	background: #6112C9;
}

.re-fEditor{
	background-image: url("../images/admin/editFormula.gif");
	background-repeat: no-repeat;
}

.forms {
	width:100%;
}

/*OMMC 2016-04-14: Quitado el important para permitir imagenes de fondo*/
.form-item {
	float: left;
	background: transparent;/*#D26;*/
}

.form-item--Table {
	width:100%;
	height:100%;
	border-spacing: 0px;
}

.form-item--ImgTD {
	text-align:center !important;
	padding: 0px;
}

.form-item--ImgTD img {
	vertical-align:middle;
}

.form-item--TextTable {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border-spacing:0px;
}
/* Celda que contiene nombre de la forma y descripción esto es un td */
.form-item--DescTD {
	text-shadow:none;
	color:white !important;
	font-family:Roboto;
	background-color:#252832 !important;
	display: block;
}

.form-item--DescTDNoBG {
	text-shadow:none;
	color:white !important;
	font-family:Roboto;
	display: block;
}

/* div dentro de .formDescTD */
.form-item--DescTDdiv {
	text-align:center !important;
	color: white;
}

/* div dentro de .formDescTD almacena la tabla con el nombre */
.form-item--DescTDdivName {
	width:100%;
	overflow:hidden;
	font-size:12px;
	background-color:#252832;
	color: white;
}

.form-item--DescTDdivNameNoBG {
	width:100%;
	overflow:hidden;
	font-size:12px;
	color: white;
}

/* div dentro de .formDescTD almacena la tabla con la descripción */
.form-item--DescTDdivDesc {
	width:100%;
	overflow:hidden;
	font-size:9px;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:20px;
	font-size:9px;
	background-color:#252832;
	color: white;
}

.form-item--DescTDdivDescNoBG {
	width:100%;
	overflow:hidden;
	font-size:9px;
	font-size:9px;
	color: white;
}

.singleChoiceMap {
	margin-top:2px;
	width:98%;
	height:300px;
}
/*OMMC 2016-04-18: Agregados los CSS para la pregunta tipo Mi localización*/
.myLocationContainer {
    vertical-align: middle;
    width:98%;
    display: inline-block;
}

/*OMMC 2019-04-25: Agregado !important a los CSS del puntero para evitar que los CSS de mapkit lo recorran (#S90LFL)*/
.myLocationPointer {
	position:absolute;
	background:url("../images/marker.png") no-repeat;
	top:50% !important;
	left:50% !important;
	z-index:99;
	height:34px;
	width:20px;
	cursor:pointer;
}

.myLocationMap {
	width:99%;
    height:300px;
}

.customHyperlink{
	color: #2489CE;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.googleMapSearch{
	background-color: #fff;
	font-family: Arial;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	margin-top: 13px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 50%;
	border: 2px solid transparent;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #C0C0C0;
	position: absolute;
	z-index: 100;
}

.googleMapSearch:focus {
	border-color: #74A9FE;
   outline-width: 0;
}

/*OMMC 2016-04-13: Agregado el estilo para los títulos de las agendas.*/
#agendasgrouppage_List h3 {
	color: rgb(47, 62, 70) !important;
}

#mainpage{
	background: transparent !important;
}

/* custom JIRH */
.menu-trigger{
	padding-top: 8px;
}

.footercl{
	bottom:0px;
	position:fixed;
}

.loginbuttn{
	background-color: #2088C5 !important;
	border-color: #2088C5 !important;
	color: #FFFFFF !important;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 20px;
}

li.loginli {
	border-radius:0em !important;
	margin-left:auto !important;
	margin-right:auto !important;
	max-width:300px;
}

div.logimput{
	margin-bottom:10px;
	border-radius: 0em;
	width: 100%;
	box-shadow: none;
}

/*OMMC 2016-09-06: Corregido el CSS de la imagen del login*/
#kpifimg, #kpifimg:hover{
	max-width: 100%;
	cursor:pointer
}

#kpiflogodiv{
	width: 255px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
#logtitle{
	font-size: 28px;
}

.loginlabs{
	font-size: 90%;
}

.labcss{
	width:100%;
}

/* Clases para el rediseño del App v6 */
/* Tabla contenedora de preguntas y respuestas */
.tableCont {
	width: 100%;
	padding:0px;
	margin:0px;
}

/* Borde default de los td contenedores de pregunta y respueta para permitir aplicar un color con solo cambiar dicha propiedad sin especificar width o size 
Alineación vertical top por default */
.tdCont {
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	width:100%;
}

/* Para lograr que aparezca el borde del td + el del label en la parte derecha, ya que se estaban comiendo 2px */
.tdContLabAdj {
	padding-right: 2px;
}

/* Para lograr que aparezca el borde del td + el del componente (input) en la parte inferior, ya que se estaban empalmando */
.tdContAnsAdj {
	padding-bottom: 1px;
}

/* Contenedores div _area */
.defaultastl {
	padding: 0em 0px !important;
	border-bottom-style: none;
	border-bottom-width: 0px;
	margin: 0px !important;
	width: 98% !important;
}

/* Contenedores div de pregunta y respuesta dentro de la tabla contenedora */
.defaultlstl {
	width:100% !important;
	font-size:14px !important;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	text-align: left;
}

/* cambia el color de las etiquetas de username y password de color*/
#myUserKPAlabel, #passlabel {
	color: #2088C5;
}

div[id$="_footer"][data-role="footer"] {
	z-index: 100;
}

/* Agregado el tipo de despliegue Metro para preguntas simple choice (#XRKG3R) */
.metroTable {
	width: 100%;
	display: table;
}

.metroImgCell {
	padding-top: 4px;
	padding-left: 4px;
	width:0%;
}

.metroImgCell img{
	width: 77px;
	height: 115px;
}

.metroDataCell {
	display: table-cell;
    vertical-align: middle;
	text-align: left;
    padding-left: 10px;
	width:100%;
	font-family: Lato Regular !important;
}
.metroMainAttr {
	font-weight: bold !important;
	color: #333333;
	font-family: Lato Regular !important;
}
.metroExtraAttr {
	font-size: 13px !important;
	color: #9B9B9B !important;
	font-weight: light !important;
	font-family: Lato Regular !important;

}
.dhx_list_default_item label,.dhx_list_default_item_selected label {
    cursor: pointer;
}

.dhx_list .dhx_list_default_item,.dhx_list .dhx_list_default_item_selected {
	border: 0px; /* Esta propiedad es para evitar que el estilo default de DHTMLX coloque el borde derecho) */
	border-bottom: 1px solid #429ACE;

}

/*clase agregada para modificar los estilos de los botones de las preguntas multimedia (en web) la clase se llama en fileuploader*/
.styledMediaButton {
	text-align: center;
	width: 70px !important;
	position: relative;
	overflow: hidden;
	direction: ltr;
}

/*boton de la pregunta sketch con el lápiz*/
.sketchButton{
	background-color: transparent;
	border-color: transparent;
	margin: 0px;

}

/*estilos para los tags <a> que envuelven a los botones de las preguntas OTROS*/
.buttonwrap {
	background-color: transparent !important;
	border-color: transparent !important;
	text-align: left !important;
	display: inline-block !important;
}

/*estilos para los tags <a> que envuelven a los botones de las preguntas OTROS*/
.buttonwrapCustom {
	background-color: transparent !important;
	border-color: transparent !important;
	text-align: left !important;
	display: inline-block !important;
}

/*estilos para imagenes personalizadas en los botones de las preguntas OTROS*/
.buttonwrap img, .buttonwrapCustom img {
	width: inherit;
}

/*botón de cruz roja para eliminar las opciones de respuesta de las autocomplete*/
.divautoimg{
	width: 5%;
	float: left;
	/* JAPR 2016-05-18: Ajuste debido a que la imagen debe estar sobre el input de auto-complete sin modificar como se genera el input, así que sólo flotará sobre él */
    /*position: absolute;
    display: inline-block;
    right: 8px;
    padding-right: 12px;
	padding-left: 5px;*/
}
.autoimg{
	float: right;
	padding-right: 10px;
	width: 12px;
	/*height: 12px;*/
	/*padding-left: 10px;*/
	cursor: pointer;
	/*vertical-align: middle;*/
}

.ocr_label {
	position: absolute;
	text-align: center;
	font-weight: bold; 
	color: #2088C5; 
	background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5));
}

.ocr_popup {
    padding: 15px;
    box-shadow: 4px 4px 7px #B4B3B3;
    border-radius: 0.7em;
    border: 1px solid #E5E4E4;
    width: 280px;
    display: inline-block;
}

.ocr_popup span b {
	word-break: break-word;
}

.ocr_popup .ui-select {
	margin-top: 10px;
}

.ocr_popup .ui-select div.ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow {
	background-color: white;
    border: 1px solid #AFD8E4;
    border-radius: 9px;
    text-align: left;
}

.ocr_popup center {
	cursor: pointer;
    margin-top: 10px;
    background-color: #2088C5;
    border: 1px solid #2088C5;
    border-radius: 9px;
    padding: 5px;
    color: white;
}

/*Para envolver las respuestas de las MChoice horizontal y ranking en una inline*/
.inlineMC-horizontal {
	display: inline-flex;
	/*display: inline-block;*/
}

/* JAPR 2016-05-20: Integrado cambio de RVega para permitir especificar imagen de fondo para los botones de Next y Back de las secciones */
.btnSectionLeft{
	background-image:url(../images/left.png); 
	background-repeat: no-repeat; 
	background-color: transparent;
	background-size: contain;
	width: 24px;
	height: 24px;
	display: inline-block;
	cursor: pointer;
}

.btnSectionRight{
	background-image:url(../images/right.png); 
	background-repeat: no-repeat; 
	background-color: transparent;
	background-size: contain;
	width: 24px;
	height: 24px;
	display: inline-block;
	cursor: pointer;
}

/*Boton de settings con la última posición*/
.settingsStyled {
	background-color: #FFFFFF !important;
	border: solid 1px #AFD8E4 !important;
	border-radius: 9px !important;
}

.summaryButton {
	display: inline-block;
	width: 100%;
	background-color: #2088C5 !important;
}

.summaryButton .ui-controlgroup-controls{
	display:block;
}

.summaryButton a {
	width: 31% !important;
	font-size: 0.8em !important;
	background-color: #2088C5 !important;
	border: none;
	float: left !important;
	padding: .7em 0 .7em 0;
	color: #FFFFFF !important;
}

ul[id$='summaryList'].ui-listview > li p.summaryList {
	font-size: 12px; 
	font-weight: normal; 
	display: block; 
	margin: -.5em 0 .6em; 
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
}

/*Para opciones de respuesta muy largas en las preguntas SChoice*/
.tdCont.tdContAnsAdj span.longOptions, .tdCont.tdContAnsAdj label.longOptions {
	white-space: normal;
   word-break: break-word;
}

/*Agregado para los divs contenedores de las mensaje y HTML para evitar que textos largos salieran de la pantalla*/
.messageContainer {
	word-break: break-word;
}

/*Para ocultar el div de el archivo subido en el FileUploader*/
div[id$='_area'] ul li.qq-upload-success {
	display: none;
}

/******************************* Drafts y Outbox *********************************/
div#draftgrouppage #draftgrouppage_List li, div#outboxgrouppage #outboxgrouppage_List li  {
	border: none;
	border-bottom: 1px solid #2088C5;
}

div#draftgrouppage #draftgrouppage_List li a, div#outboxgrouppage #outboxgrouppage_List li a {
	border: none;
	background-color: #FFFFFF;
}

.btnEditDraft, .btnDeleteDraft {
	color: #FFFFFF !important;
	border-radius: 0.5em !important;
	background-color: #2088C5 !important;
	border-color: #2088C5 !important;
}

/************************** Settings ****************************/
#debuggerlog_List li, #showfiles_List li {
	white-space: normal !important;
}

/************************** Login ********************************/
.customRegisterAlign {
	margin: 0 auto;
	max-width: 330px;
	text-align: center;
	font-weight: bold;
	color: #2B3338;
}

.customRegisterClick {
	color: #2088C5;
	cursor: pointer;
	text-decoration: none;
}

/************************ About ***********************************/
.aboutPage .aboutHeader {
	font-weight:bold;
	text-align:right;
	display:block;
	color: #333333;
}

.aboutPage .aboutDetail {
	text-align: left;
	display: block;
	color: #8B93A0;
}

.aboutPage .aboutFooter {
	text-align:center;
	display:block;
}


/***************************** Register *****************************/

.register_option button.ui-btn {
	width: 260px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border: 2px solid #2088C5;
   color: #055482;
} 

.register_option .btn-label {
	width: 140px;
	padding-left: 15px;
	border-left: 1px solid #2088C5;
}

.register_option button.btn_manual {
	margin-top: 50px;
}

.register_option .register_spacer {
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}

.register_option button.ui-btn.btn_facebook {
	margin-top: 10px;
}

.icon-user_manual {
	background-image: url("../images/user_manual.png");
	background-size: 32px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	padding-right:10px;
}

.icon-user_facebook {
	background-image: url("../images/user_facebook.png");
	background-size: 32px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	padding-right:10px;
}

.register_container .register_tag {
	margin-top: 30px !important;
}

.register_container div.ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-corner-all.ui-shadow {
	background-color: #FFFFFF;
	border: 1px solid #AFD8E4;	
}

.register_container center .register_submit {
	width: 300px;
	height: 50px;
	font-weight: bold;
	margin-top: 50px;
	font-size: 18px;
	background-color: #2088C5;
	border: 1px solid #2088C5;
	color: #FFFFFF;
	padding: 8px;
	box-sizing: border-box;
}

/*Estilos en rows de tablas para que no tome ni los bordes ni el color de fondo*/
.inlineTab .oty3.qtp1.dsp4 .ele7[disabled], .inlineTab .oty3.qtp2 .ele7[disabled], .inlineTab .oty3.qtp3 .ele7[disabled], .inlineTab .oty3.qtp4.dsp4 .ele7[disabled], .inlineTab .oty3.qtp5.dsp4 .ele7[disabled], .inlineTab .oty3.qtp6.dsp4 .ele7[disabled], .inlineTab .oty3.qtp12.dsp4 .ele7[disabled], .inlineTab .oty3.qtp14.dsp4 .ele7[disabled], .inlineTab .oty3.qtp19.dsp4 .ele7[disabled] {
	background-color: transparent !important;
	border: none;
}

/*Estilos en los elementos de respuesta de tablas para que no tome ni los bordes ni el color de fondo*/
.inlineTab .oty3.qtp1.dsp4 .ele10[disabled], .inlineTab .oty3.qtp2 .ele10[disabled], .inlineTab .oty3.qtp3 .ele10[disabled], .inlineTab .oty3.qtp4.dsp4 .ele10[disabled], .inlineTab .oty3.qtp5.dsp4 .ele10[disabled], .inlineTab .oty3.qtp6.dsp4 .ele10[disabled], .inlineTab .oty3.qtp12.dsp4 .ele10[disabled], .inlineTab .oty3.qtp14.dsp4 .ele10[disabled], .inlineTab .oty3.qtp19.dsp4 .ele10[disabled] {
	background-color: transparent !important;
	border: none;
}

.multiLineEllipsis {
	/*display: block;*/ /* Fallback for non-webkit */
	display: -webkit-box;
	/*max-width: 200px;*/
	/*height: $font-size*$line-height*$lines-to-show;*/ /* Fallback for non-webkit */
	/*margin: 0 auto;*/
	/*font-size: $font-size;*/
	/*line-height: $line-height;*/
	-webkit-line-clamp: 3;	/* $lines-to-show */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*Agregados estilos para las SChoice y MChoice horizontales cuando tienen imagen*/
.noBorder-ui-btn {
	border-width: 0px !important;
}
.reducedOptions {
	padding: 3px 3px 0px 3px;
}
/*MAPR 2017-05-08: (#7OZGZV) Los listados de outbox y draft no se alcanzan a mostrar completos por el footer*/
#outboxgrouppage_List, #draftgrouppage_List {
	margin-bottom: 20%;
}
/*OMMC 2016-09-13: Agregados los CSS para las ventanas de mensajes push*/
/*Listado de mensajes push*/
.pushList .pushDate {
    font-weight: bold;
}

.pushList .pushTitleCont {
	display: inline-block;
	width: 100%;
}

.pushList .pushCell {
	cursor: pointer;
	color: #4F4848;
	padding: 5px;
}

.pushList .pushTitle {
	width: 80%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.pushList .pushTitle img {
	vertical-align: bottom;
}

.pushList .pushNew {
    color: #269ABC;
}

.pushList .pushBtn {
	float: right;
    width: 20%;
    max-width: 50px;
    text-align: center;
    border-radius: 5px;
    color: #FF6000;
    cursor: pointer;
}

.pushList .notIcon {
	float: left;
	margin-right: 5px;
	line-height: 30px;
	vertical-align: middle;
}

.pushList .pushMessage {
	width: 100%;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    font-size: 16px;
}

/*Detalle de mensajes push*/
.pushContainer {
	display: inline-block;
	width: 100%;
}

.pushContainer .pushDetail {
	margin: 0 auto;
	width: 85%;
	margin-top: 30px;
}

.pushContainer .pushLogo img {
	max-width: inherit;
}

.pushContainer .pushTitle {
	margin-top: 25px;
	color: #333333;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.pushContainer .pushBody {
	margin-top: 20px;
}

.pushContainer .pushBody .pushMessage {
	font-size: 18px;
}

.pushContainer .pushBtn {
	margin-top: 80px;
    width: 20%;
    max-width: 50px;
    text-align: center;
    border-radius: 5px;
    color: #FF6000;
    cursor: pointer;
}

.pushList .pushSpacer, .pushContainer .pushSpacer{
	height: 60px;
}

.menuBadge {
	display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #FF6000;
    width: 20px;
    height: 20px;
    font-size: 1em;
    text-align: center;
    color: white;
}