/* Diálogo de Sketch+ */
.ui-mobile .ui-page.openLayerSketch {
	height: 100%;
	background-color: #000000 !important;
	padding: 0px !important;
	overflow: hidden;
	margin: 0px !important;
}

/*.openLayerSketch .ui-header a.sketchClear {
	position: relative;
	top: 3px;
	left: 0px;
}*/

.sketchPopUpDataViewCont {
	width: 300px;
	height: 300px;
}

/*.ui-mobile .ui-page.openLayerSketch .ui-btn-right {
	right: 5px;
}*/

.ui-mobile .ui-page.openLayerSketch .skecthScroll {
	position: absolute;
	top: 0px;
	pointer-events: none;
	background-color: transparent;
}

.ui-mobile .ui-page.openLayerSketch .skecthScroll.scrolling {
	position: absolute;
	top: 0px;
	pointer-events: auto;
	background-color: transparent;
}

.ui-mobile .ui-page.openLayerSketch  .ui-btn-opts {
	top: 3px;
	position: relative;	/*absolute;*/
	left: 0px;	/*60px;*/
}

.ui-mobile .ui-page.openLayerSketch [data-role="header"] {
	width: 100%;
	height: 30px;	/*18px;*/
	margin: 0px;
	position: fixed;
	top: 0px;
	text-align: center;
}

/*.ui-mobile .ui-page.openLayerSketch [data-role="header"] {
	padding: 20px;
}*/

.ui-mobile .ui-page.openLayerSketch .ui-dialog-contain {
	height: 100%;
	max-width: none;
	width: 100%;
	margin: 0px;
	margin-top: 30px;	/*74px;*/
}

.ui-mobile .ui-page.openLayerSketch .ui-dialog-contain [data-role="content"] {
	padding: 0px;
}

.ui-mobile .ui-page.openLayerSketch .map {
	background-color: #777576;
}

.ui-mobile .ui-page.openLayerSketch div.sketch-panel {
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin-bottom: 5px;
	margin-right: 5px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: 1px solid black;
}

.ui-mobile .ui-page.openLayerSketch div.sketch-panel.colorPanel div {
	width: 100%;
	height: 100%;
}

.ui-mobile .ui-page.openLayerSketch div.sketch-panel.itemPanel {
	background-color: #ffffff;
}

.ui-mobile .ui-page.openLayerSketch div.sketch-panel.itemPanel img {
	max-width: 50px;
	max-height: 50px;
	width: 100%;
}

.ui-mobile .ui-page.openLayerSketch div.tagHidden {
	display: none;
}

/* Estilos de la toolbar */
.ui-mobile .ui-page.openLayerSketch .ol-control, .ui-mobile .ui-page.openLayerSketch .ol-control button {
	color: transparent;
	background-color: #333333;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-mobile .ui-page.openLayerSketch .ol-control, .ui-mobile .ui-page.openLayerSketch .ol-control label {
	color: transparent;
	background-color: #333333;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-mobile .ui-page.openLayerSketch .ol-control label {
	color: transparent;
	background-color: transparent;
}

.ui-mobile .ui-page.openLayerSketch .ol-control button.ol-zoom-in {
	background-image: url(../images/sketchPlus/sketch_zoom_in.png);
}

.ui-mobile .ui-page.openLayerSketch .ol-control button.ol-zoom-out {
	background-image: url(../images/sketchPlus/sketch_zoom_out.png);
}

.ui-mobile .ui-page.openLayerSketch .ol-control button.restoreZoomBtn {
	background-image: url(../images/sketchPlus/sketch_restore_zoom.png);
}

.ui-mobile .ui-page.openLayerSketch .ol-control.sketch-mode-move label {
	background-image: url(../images/sketchPlus/sketch_select.png);
}

.ui-mobile .ui-page.openLayerSketch .ol-control.sketch-mode-draw label {
	background-image: url(../images/sketchPlus/sketch_draw.png);
}

.ui-mobile .ui-page.openLayerSketch .ol-control.sketch-mode-icon label {
	background-image: url(../images/sketchPlus/sketch_item.png);
}

.ui-mobile .ui-page.openLayerSketch .ol-control.sketch-mode-delete button {
	background-image: url(../images/sketchPlus/sketch_clear.png);
}

.ui-mobile .ui-page.openLayerSketch .ol-control button.clearCanvasBtn {
	background-image: url(../images/sketchPlus/sketch_trash.png);
}

.ol-overlaycontainer-stopevent {
	position: fixed;
	top: 80px;
}

/* Posiciones fijas para modo browser */
.sketch-restore-zoom {
	top: 65px;
	left: 8px;
}

.sketch-mode-move {
	top: 100px;
	left: 8px;
}

.sketch-mode-draw {
	top: 130px;
	left: 8px;
}

.sketch-mode-icon {
	top: 160px;
	left: 8px;
}

.sketch-mode-icon-select {
	top: 160px;
	left: 40px;
}

.sketch-mode-delete {
	top: 195px;
	left: 8px;
}

.sketch-clear-canvas {
	top: 230px;
	left: 8px;
}

.sketch-color-selector {
	left: 40px;
}

/* Posiciones fijas para modo móvil */
.ol-touch .sketch-restore-zoom {
	top: 81px;
	left: 8px;
}

.ol-touch .sketch-mode-move {
	top: 125px;
	left: 8px;
}

.ol-touch .sketch-mode-draw {
	top: 164px;
	left: 8px;
}

.ol-touch .sketch-mode-icon {
	top: 203px;
	left: 8px;
}

.ol-touch .sketch-mode-icon-select {
	top: 203px;
	left: 50px;
}

.ol-touch .sketch-mode-delete {
	top: 242px;
	left: 8px;
}

.ol-touch .sketch-clear-canvas {
	top: 281px;
	left: 8px;
}

.ol-touch .sketch-color-selector {
	left: 50px;
}

.sketch-mode-icon.no-options {
	display: none;
}

.sketch-color-selector.ol-control label {
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}

.ol-control label {
	display: block;
	margin: 1px;
	padding: 0.185em 0em 0em 0em;
	color: #fff;
	font-size: 1.14em;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	height: 1.190em;
	width: 1.375em;
	background-color: rgba(0,60,136,.5);
	border: none;
	border-radius: 0 0 2px 2px;
}

.ol-touch .ol-control label {
	font-size:1.265em;
	padding: 0.250em 0em 0em 0em;
	height: 1.375em;
	width: 1.625em;
}

.ol-control input[type=radio] {
	position: absolute;
	visibility: hidden;
	display: none;
}

.ol-control input[type=radio]:checked + label {
	//background-color: rgba(80,72,129,1);
	background-color: transparent;
}

.sketchButton {
	background-repeat: no-repeat;
	background-position: center;
}

.sketchDialog .btnSectionLeft{
	background-image:url(../images/sketchPlus/sketch_save.png);
	background-repeat: no-repeat; 
	background-color: transparent;
	background-size: contain;
	width: 24px;
	height: 24px;
	display: inline-block;
	cursor: pointer;
}

.sketchDialog .btnSectionRight {
    background-image: url(../images/sketchPlus/sketch_cancel.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
}

.metroSketchItems img {
	max-width: 50px;
	max-height: 50px;
}