FORM{
    padding:0;
    margin:0;
	overflow:hidden;
}

INPUT{
    border:#aaaaaa 1px solid;
    padding:1px 2px;
    margin:0;
    color:#000066;
    font-family:arial,sans-serif;
    background:#fff;
}
INPUT[type="checkbox"]{ border:none; }

TEXTAREA{
    border:#aaaaaa 1px solid;
    padding:1px 0 1px 2px;
    margin:0;
    color:#000066;
    font-family:arial,sans-serif;
    background:#fff;
    overflow:auto;
}

SELECT{
    border:#aaaaaa 1px solid;
    padding:1px 0 1px 2px;
    margin:0;
    color:#080808;
    font-family:arial,sans-serif;
    background:#fff;
}

#OfficeID, #ManagerID, #AccountManagerID, #TypeID{
    margin-right:10px;
}

TABLE{
    border:none;
    margin:0;
}

P{
   TEXT-ALIGN: justify;
}

H1{
    FONT-WEIGHT: 800;
    FONT-SIZE: 250%;
    MARGIN: 15px;
    COLOR: #000066;
}

H2{
    FONT-WEIGHT: 600;
    FONT-SIZE: 150%;
    MARGIN: 10px;
    COLOR: #000066;
}

H3{
    FONT-WEIGHT: 400;
    FONT-SIZE: 125%;
    MARGIN: 5px;
    COLOR: #000066;
}

H5{
    FONT-WEIGHT: 800;
    FONT-SIZE: 100%;
    COLOR: #000066;
}

H6{
    FONT-WEIGHT: 400;
    FONT-SIZE: 100%;
    COLOR: #000066;
}

A:link{
    COLOR: #000099;
    TEXT-DECORATION: none;
}

A:visited{
    COLOR: #000099;
    TEXT-DECORATION: none;
}

A:active{
    COLOR: #0000ff;
    TEXT-DECORATION: none;
}

A:hover{
    COLOR: #000099;
    TEXT-DECORATION: none;
}

A.nav:link{
    COLOR: #000099;
    TEXT-DECORATION: none;
}

A.nav:visited{
    COLOR: #000099;
    TEXT-DECORATION: none;
}

A.nav:active{
    COLOR: #ffffff;
    TEXT-DECORATION: none;
}

A.nav:hover{
    COLOR: #ffffff;
    TEXT-DECORATION: none;
}

UL{
    padding:0;
    margin:0;
}

IMG{
    margin:0;
}

.trIndForm{
    padding:0;
    margin:0;
    BACKGROUND-COLOR: black;
}

.inputValueIndForm{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: 0px;

    PADDING-LEFT: 0px;

    FONT-SIZE: 100%;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: 0px;

    COLOR: #000066;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: 0px;

    font-family:arial,sans-serif;

    BACKGROUND-COLOR: transparent;

    TEXT-ALIGN: right

}

.inputValueIndFormComment

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: 0px;

    PADDING-LEFT: 0px;

    FONT-SIZE: 100%;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: 0px;

    COLOR: #000066;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: 0px;

    font-family:arial,sans-serif;

    TEXT-ALIGN: right;

    BACKGROUND-POSITION: right top;

    BACKGROUND-IMAGE: url(../images/comment_red.gif);

    BACKGROUND-REPEAT: no-repeat;

    BACKGROUND-COLOR: transparent;    

}

.inputValueInd

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: 0px;

    PADDING-LEFT: 0px;

    FONT-SIZE: 100%;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: 0px;

    COLOR: #000066;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: 0px;

    font-family:arial,sans-serif;

    BACKGROUND-COLOR: transparent;

    TEXT-ALIGN: right

}



.inputValueIndComment

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: 0px;

    PADDING-LEFT: 0px;

    FONT-SIZE: 100%;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: 0px;

    COLOR: #000066;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: 0px;

    font-family:arial,sans-serif;

    TEXT-ALIGN: right;

    BACKGROUND-POSITION: right top;

    BACKGROUND-IMAGE: url(../images/comment_red.gif);

    BACKGROUND-REPEAT: no-repeat;

    BACKGROUND-COLOR: transparent;    

}



.inputValuePercent

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: 0px;

    PADDING-LEFT: 0px;

    FONT-SIZE: 100%;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: 0px;

    COLOR: #000066;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: 0px;

    font-family:arial,sans-serif;

    BACKGROUND-COLOR: transparent;

    TEXT-ALIGN: right

}

.cellGlobalDate

{

    TEXT-ALIGN: center;

    COLOR: #5d6d7d;

    FONT-WEIGHT: bold;

    BACKGROUND-IMAGE: url(../images/azul.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #a8c1dc 1px;

    BORDER-TOP: #a8c1dc 1px;

    BORDER-LEFT: #a8c1dc 1px;

    BORDER-BOTTOM: #a8c1dc 1px;

    BORDER-STYLE:solid;    

}

.cellDate

{

    /*BACKGROUND-COLOR: #E6F2FF;*/

	TEXT-ALIGN: left;

    COLOR: #5d6d7d;

    FONT-WEIGHT: bold;

    BACKGROUND-IMAGE: url(../images/azul.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #a8c1dc 1px;

    BORDER-TOP: #a8c1dc 1px;

    BORDER-LEFT: #a8c1dc 1px;

    BORDER-BOTTOM: #a8c1dc 1px;

    BORDER-STYLE:solid;    

}

.cellDate INPUT

{

    BORDER-RIGHT: 0px;

    BORDER-TOP: 0px;

    BORDER-LEFT: 0px;

    BORDER-BOTTOM: 0px;

    /*BACKGROUND-COLOR: #E6F2FF;*/

    BACKGROUND-IMAGE: url(../images/azul.gif);

    BACKGROUND-REPEAT: repeat-x;

}

.cellDate SPAN

{

	CURSOR: pointer;

}

.cellImg

{

    /*BACKGROUND-COLOR: #ffffd8;*/

    TEXT-ALIGN: center;

    VERTICAL-ALIGN: middle;

    BACKGROUND-IMAGE: url(../images/amarillo.gif);

    BACKGROUND-REPEAT: repeat-x;



    BORDER-RIGHT: #beb38a 1px;

    BORDER-TOP: #beb38a 1px;

    BORDER-LEFT: #beb38a 1px;

    BORDER-BOTTOM: #beb38a 1px;

    BORDER-STYLE:solid;

}

.cellImg INPUT

{

    BORDER-RIGHT: 0px;

    BORDER-TOP: 0px;

    BORDER-LEFT: 0px;

    BORDER-BOTTOM: 0px;

    /*BACKGROUND-COLOR: #ffffd8*/

    BACKGROUND-IMAGE: url(../images/amarillo.gif);

    BACKGROUND-REPEAT: repeat-x;

}

.cellImgDim

{

    /*BACKGROUND-COLOR: #ffffd8;*/

    TEXT-ALIGN: center;

    COLOR: #6b6640;

    FONT-WEIGHT: bold;

    BACKGROUND-IMAGE: url(../images/amarillo.gif);

    BACKGROUND-REPEAT: repeat-x;



    BORDER-RIGHT: #beb38a 1px;

    BORDER-TOP: #beb38a 1px;

    BORDER-LEFT: #beb38a 1px;

    BORDER-BOTTOM: #beb38a 1px;

    BORDER-STYLE:solid;

}

.cellTotalByRow

{

    /*BACKGROUND-COLOR: #E6F2FF;*/

	VERTICAL-ALIGN: middle;

	TEXT-ALIGN: center;

    COLOR: #5d6d7d;

    FONT-WEIGHT: bold;	

    BACKGROUND-IMAGE: url(../images/azul.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #a8c1dc 1px;

    BORDER-TOP: #a8c1dc 1px;

    BORDER-LEFT: #a8c1dc 1px;

    BORDER-BOTTOM: #a8c1dc 1px;

    BORDER-STYLE:solid;

}

.cellToggle

{

    BACKGROUND-COLOR: #ffffd8;

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

}

.cellToggle INPUT

{

    BORDER-RIGHT: 0px;

    BORDER-TOP: 0px;

    BORDER-LEFT: 0px;

    BORDER-BOTTOM: 0px;

    BACKGROUND-COLOR: #ffffd8

}

.cellValueDim

{

    /*BACKGROUND-COLOR: #ffffd8;*/

    TEXT-ALIGN: left;

    COLOR: #6b6640;

    BACKGROUND-IMAGE: url(../images/amarillo.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #beb38a 1px;

    BORDER-TOP: #beb38a 1px;

    BORDER-LEFT: #beb38a 1px;

    BORDER-BOTTOM: #beb38a 1px;

    BORDER-STYLE:solid;    

}

.cellValueDimGrowth

{

    /*BACKGROUND-COLOR: #ebfff3;*/

    TEXT-ALIGN: left;

    COLOR: #5d7471;

    BACKGROUND-IMAGE: url(../images/verde_intenso.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #a2be94 1px;

    BORDER-TOP: #a2be94 1px;

    BORDER-LEFT: #a2be94 1px;

    BORDER-BOTTOM: #a2be94 1px;

    BORDER-STYLE:solid;    

}

.cellNameIndicator

{

	/*BACKGROUND-COLOR: #ffffd8;*/

    TEXT-ALIGN: left;

    COLOR: #6b6640;

    BACKGROUND-IMAGE: url(../images/amarillo.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #beb38a 1px;

    BORDER-TOP: #beb38a 1px;

    BORDER-LEFT: #beb38a 1px;

    BORDER-BOTTOM: #beb38a 1px;

    BORDER-STYLE:solid;    

}

.cellTotalValue

{

    /*BACKGROUND-COLOR: #ffffd8*/

    TEXT-ALIGN: right;

    COLOR: #6b6640;

    BACKGROUND-IMAGE: url(../images/amarillo.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #beb38a 1px;

    BORDER-TOP: #beb38a 1px;

    BORDER-LEFT: #beb38a 1px;

    BORDER-BOTTOM: #beb38a 1px;

    BORDER-STYLE:solid;    

}

.cellTotal

{

    /*BACKGROUND-COLOR: #ffffd8*/

    TEXT-ALIGN: center;

    COLOR: #6b6640;

    FONT-WEIGHT: bold;

    BACKGROUND-IMAGE: url(../images/amarillo.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #beb38a 1px;

    BORDER-TOP: #beb38a 1px;

    BORDER-LEFT: #beb38a 1px;

    BORDER-BOTTOM: #beb38a 1px;

    BORDER-STYLE:solid;    

}

.cellTotalGrowth

{

    /*BACKGROUND-COLOR: #ebfff3;*/

    BACKGROUND-IMAGE: url(../images/verde_intenso.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #a2be94 1px;

    BORDER-TOP: #a2be94 1px;

    BORDER-LEFT: #a2be94 1px;

    BORDER-BOTTOM: #a2be94 1px;

    BORDER-STYLE:solid;    

}

.cellTotalByRowIndForm

{

    /*BACKGROUND-COLOR: #f0f8ff*/

    COLOR: #746b85;

    BACKGROUND-IMAGE: url(../images/violeta.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #bdb5cc 1px;

    BORDER-TOP: #bdb5cc 1px;

    BORDER-LEFT: #bdb5cc 1px;

    BORDER-BOTTOM: #bdb5cc 1px;

    BORDER-STYLE:solid;    

}

.cellTotalByRowIndFormGrowth

{

    /*BACKGROUND-COLOR: #ebfff3:*/

    BACKGROUND-IMAGE: url(../images/verde_intenso.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #a2be94 1px;

    BORDER-TOP: #a2be94 1px;

    BORDER-LEFT: #a2be94 1px;

    BORDER-BOTTOM: #a2be94 1px;

    BORDER-STYLE:solid;     

}

.inputImg

{

    BORDER-RIGHT: #ffffff;

    BORDER-TOP: #ffffff;

    BORDER-LEFT: #ffffff;

    BORDER-BOTTOM: #ffffff;

    BACKGROUND-COLOR: #f5f5f5

}

.txtArea

{

    BORDER-RIGHT: #000000 1px solid;

    PADDING-RIGHT: 0px;

    BORDER-TOP: #000000 1px solid;

    PADDING-LEFT: 0px;

    FONT-SIZE: 100%;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: #000000 1px solid;

    COLOR: #000066;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: #000000 1px solid;

    font-family:arial,sans-serif;

    BACKGROUND-COLOR: #dddddd;

    TEXT-ALIGN: left

}

.inputValueIndImg

{

    BORDER-RIGHT: #f4f4f4 1px solid;

    PADDING-RIGHT: 0px;

    BORDER-TOP: #f4f4f4 1px solid;

    PADDING-LEFT: 0px;

    FONT-SIZE: 100%;

    BACKGROUND: url(comen.bmp) #f4f4f4 fixed no-repeat right top;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: #f4f4f4 1px solid;

    COLOR: #000066;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: #f4f4f4 1px solid;

    font-family:arial,sans-serif;

    TEXT-ALIGN: right

}

.cellComment

{

    BACKGROUND-POSITION: right top;

    BACKGROUND-IMAGE: url(../images/comment_red.gif);

    BACKGROUND-REPEAT: no-repeat;

    BACKGROUND-COLOR: transparent;

}

.cellGlobalInd

{

    BACKGROUND-IMAGE: url(../images/gris.gif);

    BACKGROUND-REPEAT: repeat-x;

    BORDER-RIGHT: #c3c2c2 1px;

    BORDER-TOP: #c3c2c2 1px;

    BORDER-LEFT: #c3c2c2 1px;

    BORDER-BOTTOM: #c3c2c2 1px;

    BORDER-STYLE:solid;

}

.cellRow

{

    BACKGROUND-IMAGE: url(../images/gris.gif);

    BACKGROUND-REPEAT: repeat-x;

}

.cellRowCell

{

    BORDER-RIGHT: #c3c2c2 1px;

    BORDER-TOP: #c3c2c2 1px;

    BORDER-LEFT: #c3c2c2 1px;

    BORDER-BOTTOM: #c3c2c2 1px;

    BORDER-STYLE:solid;

}

.cellRowCapture

{

    BACKGROUND-IMAGE: url(../images/violeta.gif);

    BACKGROUND-REPEAT: repeat-x;

}

.cellRowCaptureCell

{

    BORDER-RIGHT: #bdb5cc 1px;

    BORDER-TOP: #bdb5cc 1px;

    BORDER-LEFT: #bdb5cc 1px;

    BORDER-BOTTOM: #bdb5cc 1px;

    BORDER-STYLE:solid;    

}

.cellRowPercentage

{

    BACKGROUND-IMAGE: url(../images/verde_intenso.gif);

    BACKGROUND-REPEAT: repeat-x;

}

.cellRowPercentageCell

{

    BORDER-RIGHT: #a2be94 1px;

    BORDER-TOP: #a2be94 1px;

    BORDER-LEFT: #a2be94 1px;

    BORDER-BOTTOM: #a2be94 1px;

    BORDER-STYLE:solid;      

}

.headerInfo

{

    FONT-WEIGHT: bold;

    FONT-SIZE: 11px;

    COLOR: #336699

}

#extremos

{

    DISPLAY: inline;

    FLOAT: left;

    WIDTH: 10%

}

#extremos TR

{

    HEIGHT: 22px

}

#extremoLeft

{

    DISPLAY: inline;

    FLOAT: left;

    WIDTH: 10%;

}

#extremoLeft TR

{

    HEIGHT: 22px

}

#extremoRight

{

    DISPLAY: inline;

    FLOAT: left;

    WIDTH: 10%

}

#extremoRight TR

{

    HEIGHT: 22px

}

#srvDivcentro

{

    DISPLAY: inline;

    FLOAT: left;

    OVERFLOW: auto;

    WIDTH: 50%

}

#srvDivcentro TR

{

    HEIGHT: 22px

}

HTML #srvDivcentro

{

    OVERFLOW-Y: hidden;

    OVERFLOW-X: scroll

}

#statisticColumns

{

    DISPLAY: inline;

    FLOAT: left;

    OVERFLOW: auto;

    WIDTH: 15%

}

#statisticColumns TR

{

    HEIGHT: 22px

}

HTML #statisticColumns

{

    OVERFLOW-Y: hidden;

    OVERFLOW-X: scroll

}

.tableCapture

{

    BORDER-RIGHT: #aeaeae 2px outset;

    PADDING-RIGHT: 1px;

    BORDER-TOP: #aeaeae 2px outset;

    PADDING-LEFT: 1px;

    PADDING-BOTTOM: 1px;

    MARGIN: 1px;

    BORDER-LEFT: #aeaeae 2px outset;

    PADDING-TOP: 1px;

    BORDER-BOTTOM: #aeaeae 2px outset;

    BACKGROUND-COLOR: #ffffff;

}

 .tableCaptureLeft

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: #aeaeae 2px outset;

    PADDING-LEFT: 1px;

    PADDING-BOTTOM: 1px;

    MARGIN: 1px 0px 1px 1px;

    BORDER-LEFT: #aeaeae 2px outset;

    PADDING-TOP: 1px;

    BORDER-BOTTOM: #aeaeae 2px outset;

    BACKGROUND-COLOR: #ffffff;

}

.tableStatisticColumns

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: #aeaeae 2px outset;

    PADDING-LEFT: 0px;

    PADDING-BOTTOM: 1px;

    MARGIN: 1px 0px;

    BORDER-LEFT: 0px;

    PADDING-TOP: 1px;

    BORDER-BOTTOM: #aeaeae 2px outset;

    BACKGROUND-COLOR: #ffffff

}

.tableCaptureCenter

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: #aeaeae 2px outset;

    PADDING-LEFT: 0px;

    PADDING-BOTTOM: 1px;

    MARGIN: 1px 0px;

    BORDER-LEFT: 0px;

    PADDING-TOP: 1px;

    BORDER-BOTTOM: #aeaeae 2px outset;

    BACKGROUND-COLOR: #ffffff

}

.tableCaptureRight

{

    BORDER-RIGHT: #aeaeae 2px outset;

    PADDING-RIGHT: 1px;

    BORDER-TOP: #aeaeae 2px outset;

    PADDING-LEFT: 0px;

    PADDING-BOTTOM: 1px;

    MARGIN: 1px 1px 1px 0px;

    BORDER-LEFT: 0px;

    PADDING-TOP: 1px;

    BORDER-BOTTOM: #aeaeae 2px outset;

    BACKGROUND-COLOR: #ffffff

}

.cellNode

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: 0px;

    PADDING-LEFT: 0px;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: 0px;

    COLOR: #000099;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: 0px;

    FONT-FAMILY: Verdana

}

.tab-list-over

{

    BACKGROUND-COLOR: #d8e9ef;

}

.tab-list-out

{

    BACKGROUND-COLOR: #fff;

}

.headerDate

{

    COLOR: #000099;

    FONT-FAMILY: Arial

}

.errormsg

{

    FONT-SIZE: 70%;

    COLOR: red;

    FONT-FAMILY: Verdana

}

.menuTreeComp

{

    BORDER-RIGHT: 0px;

    PADDING-RIGHT: 0px;

    BORDER-TOP: 0px;

    PADDING-LEFT: 0px;

    FONT-WEIGHT: bold;

    PADDING-BOTTOM: 0px;

    MARGIN: 0px;

    BORDER-LEFT: 0px;

    COLOR: #000099;

    PADDING-TOP: 0px;

    BORDER-BOTTOM: 0px;

    font-family:arial,sans-serif;

    TEXT-DECORATION: underline

}

.cellImgStat

{

    /*BACKGROUND-COLOR: #ffffd8;*/

    TEXT-ALIGN: left;

    COLOR: #6b6640;

    FONT-WEIGHT: bold;

    BACKGROUND-IMAGE: url(../images/amarillo.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #beb38a 1px;

    BORDER-TOP: #beb38a 1px;

    BORDER-LEFT: #beb38a 1px;

    BORDER-BOTTOM: #beb38a 1px;

    BORDER-STYLE:solid;    

}

.cellStatisticColumn

{

/*

	VERTICAL-ALIGN: middle;

    TEXT-ALIGN: right;

    BACKGROUND-COLOR: #e8fcfa;

*/

	COLOR: #5d7471;

    TEXT-ALIGN: right;

    BACKGROUND-IMAGE: url(../images/verde.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #a6c8c5 1px;

    BORDER-TOP: #a6c8c5 1px;

    BORDER-LEFT: #a6c8c5 1px;

    BORDER-BOTTOM: #a6c8c5 1px;

    BORDER-STYLE:solid;    

}

.cellStatisticColumnCapInd

{

	/*BACKGROUND-COLOR: #fdf2d7;*/

    VERTICAL-ALIGN: middle;

    COLOR: #7f6678;

	TEXT-ALIGN: right;

    BACKGROUND-IMAGE: url(../images/salmon.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #bbafb8 1px;

    BORDER-TOP: #bbafb8 1px;

    BORDER-LEFT: #bbafb8 1px;

    BORDER-BOTTOM: #bbafb8 1px;

    BORDER-STYLE:solid;

}

.cellStatisticColumnDim

{

	/*BACKGROUND-COLOR: #fdf2d7;*/

    COLOR: #7f6678;

    FONT-WEIGHT: bold;

	TEXT-ALIGN: left;

    BACKGROUND-IMAGE: url(../images/salmon.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #bbafb8 1px;

    BORDER-TOP: #bbafb8 1px;

    BORDER-LEFT: #bbafb8 1px;

    BORDER-BOTTOM: #bbafb8 1px;

    BORDER-STYLE:solid;    

}

.cellStatisticColumnGrowth

{

	/*BACKGROUND-COLOR: #ebfff3;*/

    COLOR: #000066;

    TEXT-ALIGN: right;

    BACKGROUND-IMAGE: url(../images/verde_intenso.gif);

    BACKGROUND-REPEAT: repeat-x;

    

    BORDER-RIGHT: #a2be94 1px;

    BORDER-TOP: #a2be94 1px;

    BORDER-LEFT: #a2be94 1px;

    BORDER-BOTTOM: #a2be94 1px;

    BORDER-STYLE:solid;

}

.cellStatColumnTotal
{
    /*BACKGROUND-COLOR: #ffffd8*/
    TEXT-ALIGN: right;
    COLOR: #6b6640;
    BACKGROUND-IMAGE: url(../images/amarillo.gif);
    BACKGROUND-REPEAT: repeat-x;
    BORDER-RIGHT: #beb38a 1px;
    BORDER-TOP: #beb38a 1px;
    BORDER-LEFT: #beb38a 1px;
    BORDER-BOTTOM: #beb38a 1px;
    BORDER-STYLE:solid;    
}

#mainTSDiv{
    WIDTH: 100%;
}

#mainTSDiv TR
{
    HEIGHT: 22px
}

.cellSpaceTS
{
	PADDING-LEFT:0px;
	PADDING-RIGHT:0px;
	WIDTH:2px;
	BACKGROUND-COLOR:transparent;
	BORDER:none;
	FONT-SIZE:1px;
}

.rowSpaceTS
{
	PADDING-TOP:0px;
	PADDING-BOTTOM:0px;
	WIDTH:2px;
	BACKGROUND-COLOR:transparent;
	BORDER:none;
	FONT-SIZE:1px;
}

.inputValueTS
{
    border:none;
    padding:0;
    margin:0;
    color:#224c78;
    font-size:100%;
    font-weight:bold;
    font-family:arial,sans-serif;
    background-color:transparent;
    text-align:center;
}

.inputValueTSComment
{
    border:none;
    padding:0;
    margin:0;
    color:#224c78;
    font-size:100%;
    font-weight:bold;
    font-family:arial,sans-serif;
    background-color:transparent;
    text-align:center;
    background:transparent url(../images/comment_red.gif) no-repeat right top;
}

.paddingLogFilter
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
}

.styleBorderFilterTop
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-TOP-WIDTH:1px;
	BORDER-TOP-STYLE:solid;
	BORDER-TOP-COLOR:#c3c2c2;
}

.styleBorderFilterBottom
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-BOTTOM-WIDTH:1px;
	BORDER-BOTTOM-STYLE:solid;
	BORDER-BOTTOM-COLOR:#c3c2c2;
}

.styleBorderFilterLeftTop
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT-WIDTH:1px;
	BORDER-LEFT-STYLE:solid;
	BORDER-LEFT-COLOR:#c3c2c2;
	BORDER-TOP-WIDTH:1px;
	BORDER-TOP-STYLE:solid;
	BORDER-TOP-COLOR:#c3c2c2;
}

.styleBorderFilterLeftBottom
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT-WIDTH:1px;
	BORDER-LEFT-STYLE:solid;
	BORDER-LEFT-COLOR:#c3c2c2;
	BORDER-BOTTOM-WIDTH:1px;
	BORDER-BOTTOM-STYLE:solid;
	BORDER-BOTTOM-COLOR:#c3c2c2;
}

.styleBorderFilterRightTop
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-RIGHT-WIDTH:1px;
	BORDER-RIGHT-STYLE:solid;
	BORDER-RIGHT-COLOR:#c3c2c2;
	BORDER-TOP-WIDTH:1px;
	BORDER-TOP-STYLE:solid;
	BORDER-TOP-COLOR:#c3c2c2;
}

.styleBorderFilterRightBottom
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-RIGHT-WIDTH:1px;
	BORDER-RIGHT-STYLE:solid;
	BORDER-RIGHT-COLOR:#c3c2c2;
	BORDER-BOTTOM-WIDTH:1px;
	BORDER-BOTTOM-STYLE:solid;
	BORDER-BOTTOM-COLOR:#c3c2c2;
}

.styleBorderFilterLeft
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT-WIDTH:1px;
	BORDER-LEFT-STYLE:solid;
	BORDER-LEFT-COLOR:#c3c2c2;
}

.styleBorderFilterRight
{
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-RIGHT-WIDTH:1px;
	BORDER-RIGHT-STYLE:solid;
	BORDER-RIGHT-COLOR:#c3c2c2;
}