.oty3.qtp2.dsp0 .ele9 .ui-radio label, .oty3.qtp2.dsp1 .ele9 .ui-radio label, .oty3.qtp3.dsp0 .ele9 .ui-checkbox label, .oty3.qtp3.dsp0 .ele9 .ui-block-a label, .oty3.qtp3.dsp1 .ele9 label, .oty3.qtp3.dsp6 .ele9 .ui-checkbox label{
	color: #000;
	text-shadow: none;
}
.oty3.qtp3.dsp6 .ele9 .rankBulletSelected {
	color: #000 !important; 
	border:2px solid  #000;
}
.oty3.qtp2.dsp0 .ele9 .ui-radio input, .oty3.qtp2.dsp1 .ele9 .ui-radio input {
	visibility: hidden;
}