/*this section contains all formatting elements*/

form{
	margin: 0;
	border: 0;
	padding: 0;	}

button

{

	font-family:arial,sans-serif;

	font-size: 100%;

	text-align: center;

	color: #000066;

	background-color: #dddddd;

	scrollbar-3dlight-color: #eeeeee;

	scrollbar-arrow-color: #aaaaaa;

	scrollbar-base-color: #cccccc;

	scrollbar-darkshadow-color: #bbbbbb;

	scrollbar-face-color: #dddddd;

	scrollbar-highlight-color: #eeeeee;

	scrollbar-shadow-color: #cccccc;

	scrollbar-track-color: #cccccc;

	margin: 0;

	border: 1px solid #aaaaaa;

	padding: 0;

}

table {

	margin: 0;

	border: 0;

	padding: 0;

	}

tr {

	margin: 0;

	border: 0;

	padding: 0;

	}

td {

	font-family:arial,sans-serif;

	/**font-size: 70%;*/

	vertical-align: top;

	margin: 0;

	border: 0;

	padding: 0;

	}

p {

	font-family:arial,sans-serif;

	font-size: 100%;

	text-align: justify;

	margin: 5 0 0 0;

	border: 0;

	padding: 0;

	}

h1 {

	font-weight: 800;

	font-family:arial,sans-serif;

	color: #000066;

	font-size: 250%;

	margin: 15px;

	border: 0;

	padding: 0;

	}

h2 {

	font-weight: 600;

	font-family:arial,sans-serif;

	color: #000066;

	font-size: 150%;

	margin: 10px;

	border: 0;

	padding: 0;

	}

h3 {

	font-family: Arial;

	font-weight: 400;

	font-size: 125%;

	color: #000066;

	margin: 5px;

	border: 0;

	padding: 0;

	}

h5 {

	font-weight: 800;

	font-family:arial,sans-serif;

	font-size: 100%;

	color: #000066;

	margin: 0;

	border: 0;

	padding: 0;

	}

h6 {

	font-weight: 400;

	font-family:arial,sans-serif;

	font-size: 100%;

	color: #000066;

	margin: 0;

	border: 0;

	padding: 0;

	}

a:link {

	color: #000099;

	text-decoration: none;

	}

a:visited {

	color: #000099;

	text-decoration: none;

	}

a:active {

	color: #0000ff;

	text-decoration: none;

	}

a:hover {

	color: #000099;

	text-decoration: none;

	}

a.nav:link {

	color: #000099;

	text-decoration: none;

	}

a.nav:visited {

	color: #000099;

	text-decoration: none;

	}

a.nav:active {

	color: #ffffff;

	text-decoration: none;

	}

a.nav:hover {

	color: #ffffff;

	text-decoration: none;

	}

ul {

	margin: 0;

	border: 0;

	padding: 0;

	}

img {

	margin: 0;

	border: 0;

	padding: 0;

	}

*   {

  	-webkit-box-sizing: initial !important;

  	-moz-box-sizing: initial !important;

  	box-sizing: initial !important;

	}

