/*this section contains all positional ids*/

/*this section contains all formatting classes*/

.dialog {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.dialog_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.dialog_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.dialog_field_title {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #003366;
	width: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.dialog_field_value {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.dialog_buttons {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	width: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.disabled {
	color: #000000;
	background-color: #ffffff;
	}
/*this section contains all formatting elements*/
