.dijitReset {
	margin:0;
	border:0;
	padding:0;
	line-height:normal;
	font: inherit;
	color: inherit;
}
.dijitInline {
	
	display:-moz-inline-box;		
	display:inline-block;			
	#zoom: 1; 
	#display:inline; 
	border:0;
	padding:0;
	vertical-align:middle;
	#vertical-align: auto;	
}
.dj_ie INPUT.dijitTextBox, .dj_ie .dijitInputField INPUT {
	font-size: 100%;
}
.dj_ie .dijitInputField INPUT { 
	margin: -1px 0 !important;
}
.dj_iequirks .dijitInputField INPUT { 
	margin-top: -3px !important;
}
.dijitInlineTable {
	
	display: -moz-inline-stack;	
	display:inline-table;
	display:inline-block;		
	#zoom: 1; 
	#display:inline; 
	box-sizing: content-box;
    -moz-box-sizing: content-box;
	border:0;
	padding:0;
}
.dijitTeeny {
	font-size:1px;
	line-height:1px;
}
.dijitPopup {
	position: absolute;
	background-color: transparent;
	margin: 0;
	border: 0;
	padding: 0;
}
/* <LoadingIndicator> */
.loadingTransparency, .loadingIndicator{
    position:relative;
    margin-top:-48px;
	margin-left:0;
    height:50px;
    z-index:4;
}
.loadingTransparency{
    background:url(../images/globalToolbarBackground.gif) repeat-x;
    filter:alpha(opacity=90);
    opacity:.9;
}
.loadingIndicator{
	font:italic bold 15px arial,sans-serif;
    color:#fff;
	padding:25px 0 0 290px;
    background:url(../images/globalToolbarLoader.gif) no-repeat 260px 22px;
}
.catalogMenu+#indicador{ margin-top:-50px; }
/* <LoadingIndicator> */

/* <EasySetup> */
.dijitTooltipDialogPopup{ margin-top:0; }
.dijitTooltipDialogPopup[dijitpopupparent="easysetup_widget"]{ margin-top:-36px; }
.soria .dijitTooltipContainer{ background-color:#f4f6ff !important; }
.dijitTooltipContents{ font-size:12px; width:550px; }
.moreReportsWrapper .dijitTooltipContents{ font-size:12px; width:auto; }
.easySetupWrapper{
	position:relative;
    float:right;
    margin-bottom:-39px;
}
.easySetupLabel{
	position:relative;
    float:right;
	height:31px;
    padding:7px 30px 0 10px;
    margin-right:-31px;
    line-height:31px;
    font:italic bold 14px arial,sans-serif;
    color:#ba7932;
    background:url(../images/easySetupBack.gif) no-repeat left top;
    cursor:pointer;
    z-index:1;
}
.easySetupIndicator, .easySetupIndicatorAnimated{
    position:relative;
    float:right;
    height:24px;
    width:25px;
    margin:4px 0 0 6px;
    background:url(../images/easySetupIndicator.gif) no-repeat center top;
    cursor:pointer;
    z-index:2;
}
.easySetupIndicatorAnimated{ background:url(../images/easySetupIndicatorAnimated.gif) no-repeat center center; }
.easySetupWrapper:hover .easySetupIndicator, .easySetupIndicator:hover{
    background-position:bottom;
}
.clear{
	position:relative;
    clear:both;
    padding-bottom:1px;
}
h2.easySetupTitle{
	color:#285278;
    font:bold 14px arial,sans-serif;
    padding:5px 5px 10px;
    margin:0 0 20px;
    border-bottom:solid 1px #ffac26;
}
.easyStep{
    position:relative;
    clear:both;
}
.stepBody, .stepBody .buttonWrapper{
    position:relative;
    padding:3px;
    margin-bottom:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    clear:both;
}
.stepBody .buttonWrapper{
	float:left;
	margin:-3px 0 -3px -3px;
	border:solid 1px #d0d6d9;
    background:#f1f1f1;
}
.stepBody:hover .buttonWrapper, .completeStep .stepBody:hover .buttonWrapper{
    background:transparent;
    border:none;
    padding:4px 4px 4px 3px;
}
.completeStep .stepBody:hover, .completeStep .stepBody .buttonWrapper{
    border:solid 1px #a3e5b3;
    background:#d5f5dd;
}
.stepBody:hover{
	padding:2px 3px;
    border:solid 1px #ffe599;
    background:#fff4d2;
}
.hasNextStep .stepBody{
    margin-bottom:10px;
}
.stepBody button{
    position:relative;
    color:#285768;
    font:bold 11px arial,sans-serif;
    text-align:left;
    width:160px;
    line-height:20px;
    padding:3px 15px;
    margin:0 3px;
    border:1px solid;
    border-color:#a8adae #a8adae #989a9a #a8adae;
    background:#f1f1f1 url(../images/buttonBack.gif) repeat-x top;
    cursor:pointer;
}
.stepStatusIndicator, .stepBreadCrumb{
    width:15px;
    height:13px;
    vertical-align:middle;
    margin-right:5px;
    background:url(../images/easySetupStatusSprite.png) no-repeat bottom right;
}
.completeStep .stepBody button, .completeStep .stepBody button:hover, .completeStep .stepBody:hover button{
    color:#238025;
    border-color:#0dc623 #0dc623 #0ba31d #0dc623;
    background-position:center;
}
.completeStep .stepStatusIndicator, .completeStep .stepBody button:hover .stepStatusIndicator, .completeStep .stepBody:hover button .stepStatusIndicator{ background-position:top right; }
.currentStep .stepBody button{
    color:#966129;
    border-color:#ffac26 #ffac26 #d28e1f #ffac26;
    background-position:center;
}
.stepBody button:hover, .stepBody:hover button, .currentStep .stepBody button:hover, .currentStep .stepBody:hover button{
    color:#7d5122;
    border-color:#ffac26 #ffac26 #d28e1f #ffac26;
    background-position:bottom;
}
.stepBody button:hover .stepStatusIndicator, .stepBody:hover button .stepStatusIndicator{ background-position:center right; }
.stepBody .stepDescription{
    position:relative;
    color:#666;
    font:11px arial,sans-serif;
    top:5px;
    margin-top:5px;
    padding-left:5px;
}
.stepBody:hover .stepDescription{ color:#000; }
.nextStepIndicator{
	position:relative;
    clear:both;
    top:2px;
    margin-bottom:-11px;
    height:11px;
    width:100px;
}
.hasNextStep .nextStepIndicator{
    background:url(../images/easySetupNextStepSprite.gif) no-repeat top right;
}
.hasNextStep .stepBody:hover .nextStepIndicator{
	margin-left:-1px;
    background-position:center right;
}
.completeStep .stepBody .nextStepIndicator, .completeStep .stepBody:hover .nextStepIndicator{
	background-position:bottom right;
}
.completeStep .stepBody:hover .nextStepIndicator{
	margin-left:-1px;
}
.easySetupHints, .easySetupText{
	position:relative;
    margin:20px 0 20px 0;
    padding:3px 15px 0 45px;
}
.easySetupHints{
    background:url(../images/hint.png) no-repeat 3px 3px;
}
.easySetupHints ul, .easySetupText ul{
    font:11px arial,sans-serif;
    color:#1E424F;
}
.easySetupText button, button.easySetupButtonMock{
    position:relative;
    color:#285768;
    font:bold 11px arial,sans-serif;
    line-height:20px;
    padding:0 7px 0 5px;
    margin:5px 3px;
    border:1px solid;
    border-color:#a8adae #a8adae #989a9a #a8adae;
    background:#f1f1f1 url(../images/buttonBack.gif) repeat-x top;
}
.easySetupText button img, button.easySetupButtonMock img{
    vertical-align:text-bottom;
    margin-right:2px;
}
a.popUpLink, a.popUpLink:visited, a.setupNextLink, a.setupNextLink:visited{
    font:12px arial,sans-serif;
    text-decoration:none;
    color:#285768;
    border-bottom:dotted 1px #285768;
    display:inline-block;
    margin:3px 0;
}
a.setupNextLink{ font-size:13px; font-weight:bold; }
a.popUpLink:hover, a.popUpLink:active, a.popUpLink:focus, a.setupNextLink:hover, a.setupNextLink:active, a.setupNextLink:focus{
    color:#7d5122;
    border-bottom-color:#7d5122;
}
.easySetupCheck{
    position:relative;
    padding:5px 10px;
    text-align:right;
    border:solid 1px #d0d6d9;
    background:#f1f1f1;
    -moz-border-radius:5px;
    border-radius:5px;
}
.easySetupCheck input{
	border:none;
    background:none;
    vertical-align:text-bottom;
}
.soria .easySetupCheck .dijitProgressBar{
    margin-top:10px;
}
.soria .easySetupCheck .dijitProgressBarEmpty{
    border-color:#c0c5c8;
    -moz-border-radius:5px;
    border-radius:5px;
    background:#e1e1e1;
}
.soria .easySetupCheck .dijitProgressBarFull{
    border:1px solid;
    border-color:#fff #ffac26 #ffac26 #fff;
    -moz-border-radius:5px;
    border-radius:5px;
}
.soria .easySetupCheck .dijitProgressBarTile{
    -moz-border-radius:5px;
    border-radius:5px;
    background:#d8b38a url(../images/easySetupProgressBack.gif) repeat-x top;
}
.soria .easySetupCheck .dijitProgressBarLabel{
    color:#7d5122;
}
/* </EasySetup> */

/* <Organic Project> */
.projectLeftCol, .projectRightCol{ position:relative;}
.projectLeftCol{ float:left; width:54%; }
.projectRightCol{ float:right; width:44%; }
/* </Organic Project> */

.dijit_a11y .dijitPopup,
.dijit_ally .dijitPopup div,
.dijit_a11y .dijitPopup table,
.dijit_a11y .dijitTooltipContainer {
	background-color: white !important;
}
.dijitInputField {
	overflow:hidden;
	#zoom:1;
}
.dijitPositionOnly {
	
	padding: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
	background-image: none !important;
	height: auto !important;
	width: auto !important;
}
.dijitNonPositionOnly {
	
	float: none !important;
	position: static !important;
	margin: 0 0 0 0 !important;
	vertical-align: middle !important;
}
.dijitBackgroundIframe {
	
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 0;
	padding: 0;
	margin: 0;
}
.dijitClickableRegion {
	
	background-color: #e2ebf2;
	cursor: text;
}
.dijitDisplayNone {
	
	display:none !important;
}
.dijitContainer {
	
	overflow: hidden;	
}
.dijit_a11y * {
	background-image:none !important;
}
.dijit_a11y .dijitCalendarIncrementControl .dijitA11ySideArrow {
	padding-left:.2em;
	visibility:visible !important;
}
.dj_ie6 .dijit_a11y .dijitCalendarIncrementControl {
	font-size:.75em !important;
}
.dijit_a11y .dijitCalendarSelectedDate {
	text-decoration:overline !important;
}
.dijitA11ySideArrow {
	vertical-align:top;
	margin-right:0em;
	margin-left:.2em;
	line-height:2em;
	text-align:center;
}
.dijit_a11y .dijit * {
	background:white !important;
	color:black !important;
}
.dijit_a11y .dijitButtonNode {
	border-color: black!important;
	border-style: outset!important;
	border-width: medium!important;
}
.dijit_a11y .dijitButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitDropDownButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitComboButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitComboBoxDisabled .dijitInputField,
.dijit_a11y .dijitComboBoxDisabled .dijitButtonNode,
.dijit_a11y .dijitSpinnerDisabled .dijitButtonNode,
.dijit_a11y .dijitSpinnerDisabled .dijitInputField {
	border-style: outset!important;
	border-width: medium!important;
	border-color: #999 !important;
	color:#999 !important;
}
.dj_ff2 .dijit_a11y .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .dijit_a11y .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px dotted black !important;
}
.dijitButtonNode * {
	vertical-align: middle;
}
.dijit_a11y .dijitArrowButtonInner {
	width: 1.0em;
	display: none !important;
}
.dijitButtonNode .dijitArrowButtonInner {
	background:no-repeat center;
	width: 16px;
}
.dijitComboBox .dijitArrowButtonInner {
	display: block;
}
.dijit_a11y .dijitToggleButtonChecked .dijitToggleButtonIconChar {
	display: inline !important;
}
	
.dijitLeft {
	
	background-position:left top;
	background-repeat:no-repeat;
}
.dijitStretch {
	
	white-space:nowrap;			
	background-repeat:repeat-x;
}
.dijitRight {
	
	#display:inline;				
	background-position:right top;
	background-repeat:no-repeat;
}
.dijitButton,
.dijitDropDownButton,
.dijitComboButton {
	
	margin: 0.2em;
}
.dijitToolbar .dijitButton,
.dijitToolbar .dijitDropDownButton,
.dijitToolbar .dijitComboButton {
	margin: 0;
}
.dj_ie .dijitToolbar button,
.dj_safari .dijitToolbar button {
	
	padding: 1px 2px;
}
.dj_ie .dijitComboButton {
	
	margin-bottom: -3px;
}
.dj_safari .dijitToolbar .dijitDropDownButton {
	padding-left: 0.3em;
}
.dj_gecko .dijitToolbar .dijitButtonNode::-moz-focus-inner {
	padding:0;
}
.dijitButtonNode {
	
	border:1px solid gray;
	margin:0;
	line-height:normal;
	cursor:pointer;
	vertical-align: middle;
	#vertical-align: auto;
	text-align:center;
	white-space: nowrap;
}
.dj_ie .dijitButtonNode {
	
	zoom: 1;
}
.dj_ie .dijitButtonNode button { 
	 
	overflow: visible;
	cursor: pointer;
} 
.dijitArrowButton {
	
	
	padding: 0 .4em;
}
DIV.dijitArrowButton {
	float: right;
}
.dijitSpinner .dijitInputLayoutContainer .dijitArrowButton {
	border-style: solid;
	border-width: 0 0 0 1px !important;
	padding: 0;
	position: absolute;
	right: 0;
	float: none;
}
.dijitSpinner .dijitInputLayoutContainer .dijitArrowButton {
	position: absolute;
	height: 50%;
}
.dijitSpinner .dijitInputLayoutContainer .dijitDownArrowButton {
	top: none;
	bottom: 0;
	border-top-width: 1px !important;
}
.dijitSpinner .dijitInputLayoutContainer .dijitUpArrowButton {
	top: 0;
	bottom: none;
}
TABLE.dijitComboButton {
	
	border-collapse: collapse;
	border:0;
	padding:0;
	margin:0;
}
.dijitToolbar .dijitComboButton {
	
	border-collapse: separate;
}
.dj_ie BUTTON.dijitButtonNode {
	overflow: visible; 
}
table .dijitButton .dijitButtonNode,
table .dijitComboButton .dijitButtonNode {
	#overflow:hidden; 
}
.dijitButtonNode IMG {
	
	vertical-align:middle;
	
}
.dijitTextBox,
.dijitComboBox,
.dijitSpinner {
	border: solid black 1px;
	#overflow: hidden; 
	width: 15em;	
	vertical-align: middle;
	#vertical-align: auto;	
}
.dijitTimeTextBox {
	width: 8em;
}
.dijitTextBox input:focus,
.dijitComboBox input:focus,
.dijitSpinner input:focus {
	outline: none;	
}
.dijitTextBoxFocused,
.dijitComboBoxFocused,
.dijitSpinnerFocused,
.dijitTextAreaFocused {
	
	outline: auto 5px -webkit-focus-ring-color;
}
.dijitTextAreaFocused div {
	
	outline: none !important;
}
.dijitTextBox INPUT,
.dijitComboBox INPUT,
.dijitSpinner INPUT {
	border-left: solid black 1px;	
	display:inline;
	position:static !important;
	border:0 !important;
	margin:0 !important;
	vertical-align:top !important;
	visibility:visible !important;
	background-color:transparent;
	background-image:none;
	width:100% !important;
}
.dijitValidationIcon {
	visibility: hidden;
    display: block;
	padding: 0 2px;
	/* float: right; */
    float: left;
	height: auto;
}
/* Código para corregir el ícono de dijit a la izquierda de los inputs */
.dijitValidationIcon{
    display: none;
}
/* Fin del código de corrección */
.dijitValidationIconText {
	visibility: hidden;
	display: none;
	float:right;
	font-family: sans-serif;
	font-style:italic;
	font-size: 0.45em;
	line-height: 190%;
}
.dijit_a11y .dijitValidationIcon { display: none !important; }
.dijit_a11y .dijitValidationIconText { display: block !important; }
.dijitError .dijitValidationIcon,
.dijitError .dijitValidationIconText {
	visibility: visible;
}
.dijitError .dijitValidationIcon{
    display:block; /*corregido para mover el ícono a la izquierda de los inputs*/ 
}

.dijitTextBox .dijitArrowButton {
	
	display:none;
}
.dijitCheckBox,
.dijitRadio,
.dijitCheckBoxInput {
	padding: 0;
	border: 0;
	width: 16px;
	height: 16px;
	background-position:center center;
	background-repeat:no-repeat;
	overflow: hidden;
}
.dijitCheckBox INPUT,
.dijitRadio INPUT {
	margin: 0;
	padding: 0;
	display: block;
}
.dijitCheckBoxInput {
	
	opacity: 0.01;
}
.dj_ie .dijitCheckBoxInput {
	filter: alpha(opacity=0);
}
.dijit_a11y .dijitCheckBox,
.dijit_a11y .dijitRadio {
	width: auto;
	height: auto;
}
.dijit_a11y .dijitCheckBoxInput {
	opacity: 1;
	filter: none;
	width: auto;
	height: auto;
}
.dijitProgressBarEmpty{
	
	position:relative;overflow:hidden;
	border:1px solid black; 	
	z-index:0;			
}
.dijitProgressBarFull {
	
	position:absolute;
	overflow:hidden;
	z-index:-1;
	top:0;
	width:100%;
}
.dj_ie6 .dijitProgressBarFull {
	height:1.6em;
}
.dijitProgressBarTile {
	
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	background-color:#aaa;
	background-attachment: fixed;
}
.dijit_a11y .dijitProgressBarTile{
	
	border-width:4px;
	border-style:solid;
	background-color:transparent !important;
}
.dj_ie6 .dijitProgressBarTile {
	
	position:static;
	
	height:1.6em;
}
.dijitProgressBarIndeterminate .dijitProgressBarLabel {
	visibility:hidden;
}
.dijitProgressBarIndeterminate .dijitProgressBarTile {
	
}
.dijitProgressBarIndeterminateHighContrastImage {
	display:none;
}
.dijit_a11y .dijitProgressBarIndeterminate .dijitProgressBarIndeterminateHighContrastImage {
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}
.dijitProgressBarLabel {
	display:block;
	position:static;
	width:100%;
	text-align:center;
	background-color:transparent !important;
    font-size:11px;
    font-weight:bold;
}
.dijitTooltip {
	position: absolute;
	z-index: 2000;
	display: block;
	left: 50%;
	top: -10000px;
	overflow: visible;
}
.dijitTooltipContainer {
	border: solid black 2px;
	background: #b8b5b5;
	color: black;
	font-size: small;
}
.dijitTooltipFocusNode {
	padding: 2px 2px 2px 2px;
}
.dijitTooltipConnector {
	position: absolute;
}
.dijitTooltipData {
	display:none;
}
.dijitLayoutContainer{
	position: relative;
	display: block;
	overflow: hidden;
}
body .dijitAlignTop,
body .dijitAlignBottom,
body .dijitAlignLeft,
body .dijitAlignRight {
	position: absolute;
	overflow: hidden;
}
body .dijitAlignClient { position: absolute; }
.dijitBorderContainer, .dijitBorderContainerNoGutter {
	position:relative;
	overflow: hidden;
}
.dijitBorderContainerPane,
.dijitBorderContainerNoGutterPane {
	position: absolute !important;	
	z-index: 2;		
}
.dijitBorderContainer > .dijitTextArea {
	
	resize: none;
}
.dijitGutter {
	
	position: absolute;
	font-size: 1px;		
}
.dijitSplitter {
	position: absolute;
	overflow: hidden;
	z-index: 1;		
	background-color: #fff;
	border-color: gray;
	border-style: solid;
	border-width: 0;
	z-index: 11;
}
.dijitSplitterActive {
	z-index: 11 !important;
}
.dijitSplitterCover{
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.dj_ie .dijitSplitterCover{
	background: white;
	filter: alpha(opacity=0)
}
.dijitSplitterH {
	height: 7px;
	border-top:1px;
	border-bottom:1px;
	cursor: ns-resize;
}
.dijitSplitterV {
	width: 7px;
	border-left:1px;
	border-right:1px;
	cursor: ew-resize;
}
.dijitSplitContainer{
	position: relative;
	overflow: hidden;
	display: block;
}
.dijitSplitPane{
	position: absolute;
}
.dijitSplitContainerSizerH,
.dijitSplitContainerSizerV {
	position:absolute;
	font-size: 1px;
	cursor: move;
	cursor: w-resize;
	background-color: ThreeDFace;
	border: 1px solid;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
	margin: 0;
}
.dijitSplitContainerSizerH .thumb, .dijitSplitterV .dijitSplitterThumb {
	overflow:hidden;
	position:absolute;
	top:49%;
}
.dijitSplitContainerSizerV .thumb, .dijitSplitterH .dijitSplitterThumb {
	position:absolute;
	left:49%;
}
.dijitSplitterShadow,
.dijitSplitContainerVirtualSizerH,
.dijitSplitContainerVirtualSizerV {
	font-size: 1px;
	background-color: ThreeDShadow;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: Alpha(Opacity=50);
	margin: 0;
}
.dj_ie .dijitSplitterV, .dijitSplitContainerVirtualSizerH {
	cursor: w-resize;
}

.dj_ie .dijitSplitterH, .dijitSplitContainerSizerV, .dijitSplitContainerVirtualSizerV {
	cursor: n-resize;
}
.dijit_a11y .dijitSplitterH {
	border-top:1px solid #d3d3d3 !important;
	border-bottom:1px solid #d3d3d3 !important;
}
.dijit_a11y .dijitSplitterV {
	border-left:1px solid #d3d3d3 !important;
	border-right:1px solid #d3d3d3 !important;
}
.dijitContentPane {
	display: block;
	overflow: auto;	
}
.dijitTitlePane {
	display: block;
	overflow: hidden;
}
.dj_ie7 .dijitTitlePaneTextNode {
	display:inline; 
}
.dijitColorPalette {
	border:1px solid #999;
	background:#fff;
	-moz-border-radius:3pt;
}
img.dijitColorPaletteUnder {
	border-style:none;
	position:absolute;
	left:0;
	top:0;
}
.dijitColorPaletteInner {
	position: relative;
	overflow:hidden;
	outline:0;
}
.dijitPaletteCell {
	width: 20px;
	height: 20px;
	position: absolute;
	overflow: hidden;
	z-index: 10;
	outline-width: 0;
}
.dijitPaletteImg {
	width: 16px; 
	height: 14px; 
	position: absolute;
	top: 1px;
	left: 1px;
	overflow: hidden;
	cursor: default;
	border:1px solid #999;
	
}
.dijitPaletteCellHighlight img {
	width: 14px; 
	height: 12px; 
	position: absolute;
	top: 1px;
	left: 1px;
	overflow: hidden;
	cursor: default;
	border:2px solid #000;
	outline:1px solid #dedede;
		
}
.dijit_a11y .dijitPaletteCell {
	background-color:transparent !important;
}
.dijit_a11y .dijitPaletteImg {
	background-color:transparent !important;
}
.dijitAccordionPane {
	overflow: hidden !important;	
}
.dijitAccordionPane .dijitAccordionBody {
	overflow: auto;
}
.dj_ie .dijitAccordionBody {
	position:relative;
}
.dijitAccordionContainer {
	border:1px solid #b7b7b7;
	border-top:0 !important;
}
.dijitAccordionTitle:hover {
	cursor: pointer;
}
.dijitAccordionPane .dijitAccordionTitle .arrowTextUp,
.dijitAccordionPane .dijitAccordionTitle .arrowTextDown {
	display: none;
	font-size: 0.65em;
	font-weight: normal !important;
}
.dijit_a11y .dijitAccordionTitle .arrowTextUp {
	display: inline;
}
.dijit_a11y .dijitAccordionTitle-selected .arrowTextDown {
	display: inline;
}
.dijit_a11y .dijitAccordionTitle-selected .arrowTextUp {
	display: none;
}
.dijitCalendarContainer thead tr th, .dijitCalendarContainer thead tr td, .dijitCalendarContainer tbody tr td, .dijitCalendarContainer tfoot tr td {
	padding: 0;
}
.dijitCalendarNextYear {
	margin:0 0 0 0.55em;
}
.dijitCalendarPreviousYear {
	margin:0 0.55em 0 0;
}
.dijitCalendarIncrementControl {
	cursor:pointer;
	cursor:hand;
	width:1em;
}
.dijitCalendarDisabledDate {
	color:gray !important;
}
.dijitCalendarBodyContainer tbody tr td {
	cursor:pointer;
	cursor:hand;
}
.dijitCalendarPreviousMonthDisabled,
.dijitCalendarCurrentMonthDisabled,
.dijitCalendarNextMonthDisabled {
	cursor:default !important
}
.dijitCalendarDateTemplate,
.dijitCalendarSelectedYear,
.dijitCalendarNextYear,
.dijitCalendarPreviousYear {
	cursor:pointer;
}
.dijitCalendarMonthLabelSpacer {
	
  	position: relative;
  	height: 1px;
  	overflow: hidden;
  	visibility: hidden;
}
.dijitMenu {
	border:1px solid black;
	background-color:white;
}
.dijitMenuTable {
	margin:1px 0;
	border-collapse:collapse;
	border-width:0;
	background-color:white;
}
.dijitMenuItem{
	text-align: left;
	white-space: nowrap;
	padding:.1em .2em;
}
.dijitMenuItemHover {
	cursor:pointer;
	cursor:hand;
	background-color:black;
	color:white;
}
.dijitMenuItemIcon {
	position: relative;
	background-repeat: no-repeat;
}
.dijitMenuItemDisabled * {
	
	opacity:0.3;
	cursor:default;
}
.dj_ie .dijit_a11y .dijitMenuItemDisabled td,
.dj_ie .dijitMenuItemDisabled *,
.dj_ie .dijitMenuItemDisabled td {
	color:gray !important;
	filter: alpha(opacity=35);
}
.dijitMenuItemLabel {
	position: relative;
	vertical-align: middle;
}
.dijit_a11y .dijitMenuItemHover .dijitMenuItemLabel {
	border-width: 1px;
	border-style: solid;
}
.dijit_a11y .dijitMenuItemHover {
	border: 1px #fff dotted !important;
}
.dijitMenuExpandA11y {
	display: none;
}
.dijit_a11y .dijitMenuExpandA11y {
	display: inline;
}
.dijitMenuSeparatorTop {
	height: 50%;
	margin: 0;
	margin-top:3px;
	font-size: 1px;
}
.dijitMenuSeparatorBottom {
	height: 50%;
	margin: 0;
	margin-bottom:3px;
	font-size: 1px;
}
.dijitCheckedMenuItemIconChar {
	vertical-align: middle;
	visibility:hidden;
}
.dijitCheckedMenuItemIconChecked .dijitCheckedMenuItemIconChar {
	visibility:visible !important;
}
.dijit_a11y .dijitCheckedMenuItemIconChar {
	display:block !important;
}
.dijitTabContainerBottom-tabs,
.dijitTabContainerTop-tabs,
.dijitTabContainerLeft-tabs,
.dijitTabContainerRight-tabs {
	z-index:10;
	overflow: visible !important;  
}
.dijitTabContainerBottom-container,
.dijitTabContainerTop-container,
.dijitTabContainerLeft-container,
.dijitTabContainerRight-container {
	z-index:0;
	overflow: hidden;
	border: 1px solid black;
}
.dijitTabContainerTop-tabs {
	border-bottom: 1px solid black;
}
.dijitTabContainerTop-container {
	border-top: 0px;
}
.dijitTabContainerLeft-tabs {
	border-right: 1px solid black;
}
.dijitTabContainerLeft-container {
	border-left: 0px;
}
.dijitTabContainerBottom-tabs {
	border-top: 1px solid black;
}
.dijitTabContainerBottom-container {
	border-bottom: 0px;
}
.dijitTabContainerRight-tabs {
	border-left: 1px solid black
}
.dijitTabContainerRight-container {
	border-right: 0px;
}
.dijitTab {
	position:relative;
	cursor:pointer;
	white-space:nowrap;
	z-index:3;
}
.dijitTabContainerTop-tabs .dijitTab {
	top: 1px;	
}
.dijitTabContainerBottom-tabs .dijitTab {
	top: -1px;	
}
.dijitTabContainerLeft-tabs .dijitTab {
	left: 1px;	
}
.dijitTabContainerRight-tabs .dijitTab {
	left: -1px;	
}
.dijitTabContainerTop-tabs .dijitTab,
.dijitTabContainerBottom-tabs .dijitTab {
	
	display:-moz-inline-box;		
	display:inline-block;			
	#zoom: 1; 
	#display:inline; 
}
.dijitTabInnerDiv {
	position:relative;
}
.dijitTab .close {
	display: inline-block;
	cursor: default;
	font-size: small;
}
.dijitTab .closeText {
	display:none;
	padding: 0 2px;
	margin: 0 2px;
}
.dijit_a11y .closeText {
	display:inline;
	margin-left:6px;
}
.dijit_a11y .dijitTab .dijitClosable .closeImage {
	display:none;
}
.dijit_a11y .closeText:hover {
	border:thin solid;
}
.dijit_a11y .dijitTabChecked {
	border-style:dashed !important;
}
.dijit_a11y .dijitTabInnerDiv {
	border-left:none !important;
 }
.dijitInlineEditor {
	
	position:relative;
	vertical-align:bottom;
}
.dj_ie .dijitInlineEditor {
	vertical-align:middle;
}
.dijitInlineValue {
	
}
.dijitInlineEditor .dijitButtonContainer {
	
	position:absolute;
	right:0;
	overflow:visible;
}
.dijitInlineEditor .saveButton,
.dijitInlineEditor .cancelButton {
}
.dijitTreeRow, .dijitTreeContent {
	white-space: nowrap;
}
.dijitTreeRow img {
	
	vertical-align: middle;
}
.dijitTreeContent {
    cursor: default;
}
.dijitExpandoText {
	display: none;
}
.dijit_a11y .dijitExpandoText {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-family: monospace;
	border-style: solid;
	border-width: thin;
	cursor: pointer;
}
.dijitTreeLabel {
	margin: 0px 4px;
}
.dijitDialog {
	position: absolute;
	z-index: 999;
	padding: 1px;
}
.dijitDialogFixed div.dijitDialogTitleBar {
	cursor:default; 
}
.dijitDialogUnderlayWrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
	display: none;
	background: transparent !important;
}
.dijitDialogUnderlay {
	background: #eee;
	opacity: 0.5;
}
.dj_ie .dijitDialogUnderlay {
	filter: alpha(opacity=50);
}
.dijit_a11y .dijitInputLayoutContainer,
.dijit_a11y .dijitDialog {
	opacity: 1 !important;
	background-color: white !important;
}
.dijitDialog .closeText {
	display:none;
	
	position:absolute;
}
.dijit_a11y .dijitDialog .closeText {
	display:inline;
}
.dijitSliderMoveable {
	z-index:99;
	position:absolute !important;
	display:block;
	vertical-align:middle;
}
.dijitSliderMoveableH {
	right:0;
}
.dijit_a11y div.dijitSliderImageHandle,
.dijitSliderImageHandle {
	margin:0;
	padding:0;
	position:absolute !important;
	border:8px solid gray;
	width:0;
	height:0;
}
.dijit_a11y .dijitSliderFocused .dijitSliderImageHandle {
	border:4px solid #000;
	height:8px;
	width:8px;
}
.dijitSliderImageHandleV {
	top:-8px;
	left:-6px;
}
.dijitSliderImageHandleH {
	left:-8px;
	top:-5px;
	vertical-align:top;
}
.dijitSliderBar {
	border-style:solid;
	border-color:black;
}
.dijitSliderBarContainerV {
	position:relative;
	height:100%;
	z-index:1;
}
.dijitSliderBarContainerH {
	position:relative;
	z-index:1;
}
.dijitSliderBarH {
	height:4px;
	border-width:1px 0;
}
.dijitSliderBarV {
	width:4px;
	border-width:0 1px;
}
.dijitSliderProgressBar {
	background-color:red;
	z-index:1;
}
.dijitSliderProgressBarV {
	position:static !important;
	height:0%;
	vertical-align:top;
	text-align:left;
}
.dijitSliderProgressBarH {
	position:absolute !important;
	width:0%;
	vertical-align:middle;
	overflow:visible;
}
.dijitSliderRemainingBar {
	overflow:hidden;
	background-color:transparent;
	z-index:1;
}
.dijitSliderRemainingBarV {
	height:100%;
	text-align:left;
}
.dijitSliderRemainingBarH {
	width:100% !important;
}
.dijitSliderBumper {
	overflow:hidden;
	z-index:1;
}
.dijitSliderBumperV {
	width:4px;
	height:8px;
	border-width:0 1px;
}
.dijitSliderBumperH {
	width:8px;
	height:4px;
	border-width:1px 0;
}
.dijitSliderBottomBumper,
.dijitSliderLeftBumper {
	background-color:red;
}
.dijitSliderTopBumper,
.dijitSliderRightBumper {
	background-color:transparent;
}
.dijitSliderDecorationH {
	text-align:center;
}
.dijitSlider .dijitSliderButton {
	font-family:monospace;
	margin:0;
	padding:0;
	display:block;
}
.dijit_a11y .dijitSliderButtonInner {
	visibility:visible !important;
}
.dijitSliderButtonContainer {
	text-align:center;
	height:0;
}
.dijitSlider .dijitButtonNode {
	padding:0;
	display:block;
}
.dijitRuleContainer {
	position:relative;
	overflow:visible;
}
.dijitRuleContainerV {
	height:100%;
	line-height:0;
	float:left;
	text-align:left;
}
.dj_opera .dijitRuleContainerV {
	line-height:2%;
}
.dj_ie .dijitRuleContainerV {
	line-height:normal;
}
.dj_gecko .dijitRuleContainerV {
	margin:0 0 1px 0; 
}
.dijitRuleMark {
	position:absolute;
	border:1px solid black;
	line-height:0;
	height:100%;
}
.dijitRuleMarkH {
	width:0;
	border-top-width:0 !important;
	border-bottom-width:0 !important;
	border-left-width:0 !important;
}
.dijitRuleLabelContainer {
	position:absolute;
}
.dijitRuleLabelContainerH {
	text-align:center;
	display:inline-block;
}
.dijitRuleLabelH {
	position:relative;
	left:-50%;
}
.dijitRuleMarkV {
	height:0;
	border-right-width:0 !important;
	border-bottom-width:0 !important;
	border-left-width:0 !important;
	width:100%;
	left:0;
}
.dj_ie .dijitRuleLabelContainerV {
	margin-top:-.55em;
}
.dijit_a11y .dijitButtonContents .dijitButtonText {
	display: inline !important;
}
.dijitTextArea {
	width:100%;
	overflow: auto;	
}
.dijitTextArea > DIV {
	text-decoration:none;
	overflow:auto;
	min-height: 1.40em;
}
.dj_ie .dijitTextArea p {
	margin-top:0;
	margin-bottom:0;
	line-height: normal !important;
}
.dijitToolbarSeparator {
	height: 18px;
	width: 5px;
	padding: 0 1px;
	margin: 0;
}
.dijitIEFixedToolbar {
	position:absolute;
	
	top: expression(eval((document.documentElement||document.body).scrollTop));
}
.dijitTimePickerItemInner {
	text-align:center;
	border:0;
	padding:2px 8px 2px 8px;
}
.dijitTimePickerTick,
.dijitTimePickerMarker {
	border-bottom:1px solid gray;
}
.dijitTimePicker .dijitDownArrowButton {
	border-top: none !important;
}
.dijitTimePickerTick {
	color:#CCC;
}
.dijitTimePickerMarker {
	color:black;
	background-color:#CCC;
}
.dijitTimePickerItemSelected {
	font-weight:bold;
	color:#333;
	background-color:#b7cdee;
}
.dijitTimePickerItemHover {
	background-color:gray;
	color:white;
	cursor:pointer;
}
.dijit_a11y .dijitTimePickerItem {
	border-bottom:1px solid #333;	
}
.dijitToggleButtonIconChar {
	display:none !important;
}
.dijit_a11y .dijitToggleButtonIconChar {
	display:inline !important;
}
.dijit_a11y .dijitToggleButtonIconChar {
	visibility:hidden;
}
.dijit_a11y .dijitToggleButtonChecked .dijitToggleButtonIconChar {
	visibility:visible !important;
}
.dijitArrowButtonChar {
	display:none !important;
}
.dijit_a11y .dijitArrowButtonChar {
	display:inline !important;
}
.dijitInputLayoutContainer {
	position: relative;
	overflow: hidden;
}
.dijitSpinnerButtonContainer {
	float: right;
	width: 18px;
	position: relative;
	overflow: hidden;
}
.dijitSpinner .dijitInputLayoutContainer .dijitArrowButton {
	height: 50%;
	width: 16px;
	overflow: hidden;
}
.dijitSpinner .dijitInputLayoutContainer .dijitArrowButtonInner {
	overflow: hidden;
	line-height: 50%;
}
.dijit_a11y .dijitSpinner .dijitInputLayoutContainer .dijitArrowButton {
	width: 100%;
}
.dijit_a11y .dijitSpinner .dijitArrowButton .dijitArrowButtonChar {
	font-size: 0.4em;
	vertical-align: top;
}
.dijit_a11y .dijitSpinnerButtonContainer {
	width: 0.5em;
	margin-left: 2px;
	overflow: visible;
}
.dijit_a11y .dijitSpinnerButtonContainer .dijitButtonNode {
	border-width: 1px 0px 0px 1px;
	border-style: solid !important;
}