
@import url("eBavel/jquery.timeentry.css");
@import url("eBavel/jquery-ui-1.10.1.custom.min.css");
@import url("eBavel/fileinput.css");
@import url("eBavel/bootstrap.min.css");
@import url("eBavel/jquerymobile.css");
@import url("eBavel/fileuploader.css");
@import url("eBavel/evol.colorpicker.css");
@import url("eBavel/select2.css");
@import url("eBavel/base.css");
@import url("eBavel/buttons.css");
@import url("eBavel/metroNavegation.css");
@import url("eBavel/font-awesome.min.css");
@import url("eBavel/metroNavegation.css");
/*@import url("<?php echo Utils::style("responsive-tables.css") ?>");*/
@import url("../jquery_signaturepad/jquery.signaturepad_2.css");
@import url("eBavel/gantt.css");
@import url("eBavel/widgets.misc.css");
@import url("eBavel/dropdown/dropdown.css");
@import url("eBavel/dropdown/dropdown.vertical.rtl.css");
@import url("eBavel/dropdown/themes/default/default.css");
@import url("eBavel/nprogress.css");
@import url("eBavel/topbar.css");
@import url("eBavel/widgets.mobile.css");
@import url("eBavel/jquery.ui.datepicker.mobile.css");

* {
box-sizing: initial;
}

input[type='text'],input[type='email'],input[type='password'],input[type='number'],input[type='tel'],input[type='url'], textarea{
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}