html, body, p, div,  {
	background-color: buttonface;
	font-family: MS Shell Dlg; 
	font-size: 8pt;
}
table, tr, th, td {
	background-color: buttonface;
	font-family: MS Shell Dlg; 
	font-size: 8pt;
}
input, textarea, select, option, button { 
	font-family: MS Shell Dlg; 
	font-size: 8pt;
}
