/*this section contains all positional ids*/
#ErrorDiv {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 10px;
	border: 0;
	padding: 15%;
	}
#ErrorTable {
	text-align: center;
	width: 80%;
	margin: 0;
	}

#ErrorHeader {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	text-align: center;
	border: 1px solid #000000;
	padding: 10px;
	background-color: #008888;
	}
#ErrorBody {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	border: 1px solid #000000;
	padding: 8px;
	}
#ErrorFooter {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	border: 1px solid #000000;
	padding: 5px;
	}
#ErrorMessage {
	font-family: Verdana;
	font-size: 12px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: center;
	border: 1px solid #000000;
	padding: 2px;
	background: #FF0000;
	}
/*this section contains all formatting classes*/
/*this section contains all formatting elements*/
