body {
    margin: 10px 10px 10px 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
    background-color: #ece9d8; /*#ebe2d2;*/
}
.LinkInd{
	color: #4F81BD;
	cursor: pointer;
	font-weight: bold;
}
input, select, textarea {
    border: 1px solid #7f9db9; /*#e6ded1;*/
    border-right-color: #7f9db9; /*#dfd2c0;*/
    border-bottom-color: #7f9db9; /*#cfc2b0;*/
    font-size: 11px;
    background-color: #ffffff;
    color: #062040;
}
h2 {
    color: #59512b; /*#785130;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

.tabForm {
    background-color: #fafaf0; /*#f6f0e0;*/
    border: 1px solid #dfd2c0;
    padding: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.dataLabel {
    color: #213B63; /*#59512b;*/
    vertical-align:middle;
    font-size: 12px;
    padding: 3px;
}

.dataField {
    font-weight: normal;
    vertical-align:top;
}

.tabDetailViewDF {
    color: #062040;
    background-color: transparent;/*#fbf8f3;*/
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 11px;
    font-weight: normal;
}

.tabDetailViewDFOnClick {
    color: #062040;
    background-color: #ffffff;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 11px;
    font-weight: normal;
}

.calendar_Monthly {
    color: #062040;
    background-color: #f6f0e0;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 11px;
    font-weight: normal;
}

.Step {
    color: #4c6890;/*#59512b;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.caption {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #59512b; /*#785130;*/
}

.group {
    position: absolute;
    border: 1px outset #dfd2c0;
	color: #59512b; /*#785130;*/
    background-color: #fbf8f3;
    width: 400px;
}

.transparentDiv {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.button {
    width: 70px;
    border: 1px solid #ffffff;
    border-right-color: #6a645c;
    border-bottom-color: #6a645c;
    background-color: #ece9d8; /*#ebe2d2;*/
    font-size: 10px;
    color: #59512b; /*#785130;*/
    font-weight: normal;
    background-image: url(../images/formButtonBg.gif);
    background-repeat: repeat-x;
}

.button2 {
    width: 70px;
    margin-left: 5px;
	border: 1px outset #dfd2c0;
	font-size: 10px;
	color: #59512b; /*#785130;*/
	background-color: #fcfaf5; /*#fbf8f3;*/
}

.button3 {
    border: 1px solid #ffffff;
    border-right-color: #6a645c;
    border-bottom-color: #6a645c;
    background-color: #ece9d8; /*#ebe2d2;*/
    font-size: 10px;
    color: #59512b; /*#785130;*/
    font-weight: normal;
}

#message {
	padding: 0px 10px;
	background-color: #fbf8f3;
}

.pestania_relleno {
    border-bottom: 1px solid #dfd2c0;
    color: #59512b; /*#785130;*/
}

.Contenido_pestania {
	background-color: #fafaf0; /*#f6f0e0;*/
    border-left: 1px solid #dfd2c0;
    border-bottom: 1px solid #dfd2c0;
    border-right: 1px solid #dfd2c0;
    border-bottom-style: outset;
    border-right-style: outset;
    padding: 5px;
    color: #59512b; /*#785130;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.selector_left {
	background-color: #fafaf0;
    border-left: 1px solid #dfd2c0;
    border-top: 1px solid #dfd2c0;
    border-bottom: 1px solid #dfd2c0;
}

.selector_right {
	background-color: #fafaf0;
    border: 1px solid #dfd2c0;
}

.dataLabel2 {
    color: #59512b; /*#785130;*/
    vertical-align:middle;
    font-size: 11px;
    padding: 3px;
}

.message_color_1 {
    color: #000000;
    background-color: transparent;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: normal;
}

.message_color_2 {
    color: #000000;
    background-color: #FFFFFF;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: normal;
}
.message_color_3 {
    color: #000000;
    background-color: #B8CCE4;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: normal;
}

.message_color_4 {
    color: #000000;
    background-color: #DBE5F1;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: normal;
}

.cols_templates {
   	font-family: Verdana, Arial, Helvetica, sans-serif;
   	font-size: 10pt;
   	border: 1px outset #A2B0BE;
   	background-color: transparent;
   	color: #213B63;
   	cursor: pointer;
   	background-image: url(../images/babfc9_fdfdfd.gif);
}

.active_col {
   	font-family: Verdana, Arial, Helvetica, sans-serif;
   	font-size: 10pt;
   	border: 1px outset #A2B0BE;
   	/*background-color: brown;*/
   	color: white;
   	cursor: default;
   	background-image: url(../images/798396_aeb5c2.gif);
}

.pestania_inactive {
	font-size: 12px;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
	border-left: 1px solid #ece9d8;
	border-top: 1px solid #ece9d8;
	border-right: 1px solid #ece9d8;
	border-bottom: none;
	background-color: #EBE2D2;
	background-image: url(../images/myAreaLeft.gif);
	background-position: left;
	background-repeat: repeat-x;
    color: #59512b;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.pestania_active {
	font-size: 12px;
	background-color: #fafaf0;
    border-left: 1px solid #dfd2c0;
    border-top: 1px solid #dfd2c0;
    border-right: 1px solid #dfd2c0;
    padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 3px;
    color: #59512b;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.MyLink {
	cursor:pointer;
	font-weight: bold;
	color: #4F81BD;
}
/* *********************************************************************** */
.HeaderStep {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 80px;
	width:100%;
	background-image: url(../images/bgwindow.gif);
	background-repeat: repeat-x;
}
.NBody {
    margin: 0px 0px 0px 0px;
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
    background-color: #f4f5f7;
}
.TBStep {
	position: absolute;
	left: 20px;
	top: 45px;
	color: #4d6890;
}
.NtabForm {
    background-color: #fafafa;
    border: 1px solid #b4c0ce;
    border-right: 2px solid #a2b0be;
    border-bottom: 2px solid #a2b0be;
    padding: 5px;
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: #515457;
    position:absolute;
    top: 80px;
    margin: 10px;
}
.NtabForm2 {
    background-color: #fafafa;
    border: 1px solid #b4c0ce;
    border-right: 2px solid #a2b0be;
    border-bottom: 2px solid #a2b0be;
    padding: 5px;
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: #515457;
    margin: 10px;
}
.Nbutton {
    width: 70px;
    border-left: 1px solid #f8f9fb;
    border-right: 1px solid #707c8a;
    border-bottom: 1px solid #707c8a;
    border-top: 1px solid #f8f9fb;
    background-color: #f4f5f7;
    font-size: 11px;
    color: #213b63;
    font-weight: normal;
    background-image: url(../images/bgboton.gif);
    background-repeat: repeat-x;
}
.NbuttonIE {
    width: 70px;
    border: 1px solid #ffffff;
    border-right-color: #6a645c;
    border-bottom-color: #6a645c;
    background-color: #f4f5f7;
    font-size: 11px;
    color: #213b63;
    font-weight: normal;
    background-image: url(../images/bgboton.gif);
    background-repeat: repeat-x;
}
.dataInput {
	background-color: #ffffff;
    border:1px solid #a2b0be;
}
.divColumns {
	width:95%;
	overflow:auto;
	border: 1px solid #b4c0ce;
	background-color: white;
}