/*this section contains all positional ids*/

/*this section contains all formatting classes*/
.menu {
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.path {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.message {
	font-family: Verdana;
	font-size: 12px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: left;
	width: 100%;
	margin: 4px;
	border: 0;
	padding: 2px;
	background: #FF0000;
	}
.contents {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.contents_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #008888;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}

/*this section contains all formatting elements*/
