/* .headerUser{ left:12px; } */

.catalogMenu{ margin-top:23px; }
.menu li, .menu .menuOption, .catalogMenu li, .catalogMenu .menuOption{ display:inline; }
/* .menu .menuOption a:link, .menu .menuOption a:visited, .menu .menuOption a:focus,
 .menu .menuOption a:active, .menu .menuOption a:hover{ padding:2px 9px 3px 7px; }
.catalogMenu .menuOption a:link, .catalogMenu .menuOption a:visited{ height:27px; }
.catalogMenu .menuOption a:link, .catalogMenu .menuOption a:visited, .catalogMenu .menuOption a:focus,
 .catalogMenu .menuOption a:active, .catalogMenu .menuOption a:hover{ padding:2px 6px 3px 5px; }
  .catalogMenu .menuOption a#linkBack, .catalogMenu .menuOption a#linkOffices, .catalogMenu .menuOption a#linkPriorities,
   .catalogMenu .menuOption a#linkCustomers{ top:0; padding:7px 6px 2px 5px; }
    .catalogMenu .menuOption a span{ float:left; margin-top:0; }
   .catalogMenu .menuOption a img{ float:left; margin-top:0; margin-right:2px; } */

/* .dijitTooltipDialogPopup{ margin-top:-29px; } */
.easySetupWrapper{ text-align:right; }

/* .dijitTooltipDialogPopup{ margin-top:-29px; } */
.easySetupWrapper{ text-align:right; }

/* .projectNameSearch input#NameToSearch{ height:23px; }
.projectNameSearch img{ top:3px; vertical-align:baseline; } */

.collectionSelectionPointer{ margin:0 10px 0 7px; }
.collection_field_title{ text-align:left; }
/* .collection_buttons button, .object_buttons button{ padding:0 2px 0 0; } 

.collection_table th.collection_title_checkbox, .collection_table td.collection_value_checkbox{ padding:2px 3px; } */