.loadingTransparency, .loadingIndicator{
    float:left;
    margin-top:-47px;
	width:100%; }
.catalogMenu+#indicador{ margin-top:-1px; }
.menu .menuOption a:link, .menu .menuOption a:visited, .catalogMenu .menuOption a:link, .catalogMenu .menuOption a:visited{
    padding-bottom:4px; }
.catalogMenu .menuOption a:link, .catalogMenu .menuOption a:visited{ padding-top:2px; }
.catalogMenu .menuOption a#linkBack, .catalogMenu .menuOption a#linkOffices,
 .catalogMenu .menuOption a#linkCustomers, .catalogMenu .menuOption a#linkSeverities, .catalogMenu .menuOption a#linkResources,
 .catalogMenu .menuOption a#linkSecurity{ top:-2px; padding-top:5px; }

.stepBody{
    clear:none;
    left:0;
    width:100%;
    padding:3px;
}
.stepBody .buttonWrapper{
    clear:none;
    padding:3px 0 3px 3px;
}
.completeStep .stepBody:hover .buttonWrapper{
    padding:3px 0 3px 3px;
    border:solid 1px #a3e5b3;
    background:#d5f5dd;
}
.stepBody:hover .buttonWrapper{
	padding:3px 0 3px 3px;
    border:solid 1px #ffe599;
    background:#fff4d2;
}
.completeStep .stepBody:hover{
    border:none;
    background:transparent;
}
.stepBody:hover{
	padding:3px;
    border:none;
    background:transparent;
}
.collection_table .moreReportsButton{ float:right; margin-right:30px; }