/*this section contains all positional ids*/
#MainDiv {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	width: 100%;
	margin: 10px;
	border: 0;
	padding: 10%;
	}
#LoginTable {
	text-align: center;
	width: 60%;
	margin: 0;
	}

#LoginHeader {
	font-family: Verdana;
	font-size: 24px;
	font-weight: 800;
	text-align: center;
	border: 0;
	padding: 0;
	}
#LoginUserAndPassword {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	border: 0;
	padding: 0;
	}
#LoginApplication {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	border: 0;
	padding: 0;
	}
#LoginMessage {
	font-family: Verdana;
	font-size: 12px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: center;
	border: 0;
	padding: 2px;
	background: #FF0000;
	}
/*this section contains all formatting classes*/	
.label {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.field {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.icon {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding-left: 8px;
	padding-right: 8px;
	}
.login {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	}


/*this section contains all formatting elements*/
