table.inlineTab tr:nth-child(odd) {
	background-color: transparent;
	border-bottom: 1px solid #DDDDDD;
}
table.inlineTab tr.descripRow:nth-child(odd) {
	background-color: transparent;
	border-bottom: none;
}
table.inlineTab tr:nth-child(even) {
	background-color: transparent;
	border-bottom: 1px solid #DDDDDD;
}
table.inlineTab {
	font-family: verdana,helvetica,arial,sans-serif;
	background-color: transparent !important;
}
table.inlineTab th {
	color: #333333;
	background-color: #FFFFFF;
	border-bottom: 3px solid #DDDDDD;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	font-family: Arial;
	font-size: 0.8em;
}
table.inlineTab td {
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	/*min-width: 180px;*/
    text-shadow: none;
}
table.inlineTab tr td.selectorChk {
	text-align:left;
	min-width: 1px;
	font-weight:normal;
	font-family: Arial;
}
/*AAL 2015-01-08 Agregada la clase overflowCell para evitar el desborde de palabras en las celdas */
table.inlineTab tr td div.overflowCell {
	overflow: hidden;
	word-wrap: break-word;
}
table.inlineTab tr textarea.ui-input-text {
	width:90%;
}
table.inlineTab tr input.ui-input-text {
	width:90%;
}
table.inlineTab tr div.ui-select {
	width:100%;
}
table.fourCols td {
	width: 25%;
	align: left;
}
input:disabled,textarea:disabled{
	color:#3f3f3f;
	opacity: 1.0;
}