
div.layout-lPColl.dhxlayout_cont #boxFilter #filterBox {
	margin-top: 10px;
}

div.layout-lPColl.dhxlayout_cont [name=search] {
	/*height: 16px !important;*/
}

div.customTable.gridbox table.hdr td {
	background-color: rgb(254, 204, 98);
    font-weight: bold;
    font-size: 10pt;	
}

div.customTable.gridbox table.obj td {
    background-color: rgb(240, 240, 240);
    color: rgb(51, 51, 51);
    font-size: 9pt;
}

div.customTable.gridbox table.obj tr.rowselected td {
    background-color: rgb(60, 102, 136) !important;
    color: rgb(240, 240, 240) !important;
    font-size: 9pt !important;
}