body{
    background-color:#fff !important;
    font-family:arial,sans-serif;
}
body.globalToolbar{
    background:#fff url(../images/globalToolbarBackground.gif) repeat-x top;
}

.kpaLogo{
    position:absolute;
    left:10px;
    top:0;
    width:110px;
    height:53px;
    background:url(../images/kpaLogo.gif) no-repeat;
}

.menuWrapper{
	position:relative;
    padding-left:140px;
}

  .menu, .catalogMenu{
   position:relative;
   top:0;
   left:0;
   width:100%;
   padding:0;
   margin-top:26px;
   list-style-type:none;
   z-index:3; }
    .catalogMenu{ margin-top:22px; }
    .menu li, .menu .menuOption, .catalogMenu li, .catalogMenu .menuOption{
     display:inline-block; 
	 *display: inline;
	 zoom: 1;}
    .menu .menuOption, .catalogMenu .menuOption{
     position:relative;
     top:0;
     left:0;
     margin:0;
     padding:0; }
    .menu .menuOption a:link, .menu .menuOption a:visited, .catalogMenu .menuOption a:link, .catalogMenu .menuOption a:visited{
     position:relative;
     font-size:12px;
     font-weight:bold;
     color:#d0dee6;
     line-height:21px;
     padding:4px 9px 5px 7px;
     text-decoration:none;
     background:transparent url(../images/globalToolbarOptionBackground.gif) repeat-x center -5000px;
     cursor:pointer; }
      .catalogMenu .menuOption a:link, .catalogMenu .menuOption a:visited{
       font-size:10px;
       line-height:11px;
       padding:11px 5px 3px 4px; }
      .catalogMenu .menuOption a#linkBack, .catalogMenu .menuOption a#linkOffices,
       .catalogMenu .menuOption a#linkCustomers, .catalogMenu .menuOption a#linkSeverities, .catalogMenu .menuOption a#linkResources,
       .catalogMenu .menuOption a#linkSecurity{
        top:-4px;
        padding:7px 6px 7px 5px; }
    .menu .menuOption a img, .catalogMenu .menuOption a img{
     vertical-align:middle;
     filter:alpha(opacity=20);
     opacity:.2; }
    .menu .menuOption a:hover, .menu .menuOption a:active, .menu .menuOption a:focus,
     .catalogMenu .menuOption a:hover, .catalogMenu .menuOption a:active, .catalogMenu .menuOption a:focus{
     color:#fff;
     text-decoration:none;
     background-color:#4d98bc;
     background-position:center top; }
    .menu .menuOption a:hover img, .catalogMenu .menuOption a:hover img{
     filter:alpha(opacity=100);
     opacity:1; }
      .catalogMenu .menuOption a span{ display:inline-block; margin-top:1px; }
      .catalogMenu .menuOption a img{ display:inline-block; margin-top:-10px; margin-right:-2px; }
        .catalogMenu .menuOption a#linkBack img, .catalogMenu .menuOption a#linkOffices img,
         .catalogMenu .menuOption a#linkCustomers img, .catalogMenu .menuOption a#linkSeverities img,
         .catalogMenu .menuOption a#linkResources img, .catalogMenu .menuOption a#linkSecurity img{ margin-top:-4px; }

.path
{
    BORDER: 0px;
    PADDING: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    WIDTH: 100%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.path_table
{
    BORDER: 0px;
    PADDING: 0px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    WIDTH: 100%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.path_left
{
    BORDER: 0px;
    PADDING: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    WIDTH: 50%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.path_right
{
    BORDER: 0px;
    PADDING: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    WIDTH: 50%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: right;
}
.message
{
    BORDER: 0px;
    PADDING: 2px;
    FONT-WEIGHT: 800;
    FONT-SIZE: 12px;
    BACKGROUND: #ff0000;
    MARGIN: 4px;
    WIDTH: 100%;
    COLOR: #ffffff;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.contents
{
    BORDER: 0px;
    PADDING: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    WIDTH: 100%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.contents_title
{
    BORDER: 0px;
    PADDING: 0px;
    FONT-WEIGHT: 800;
    FONT-SIZE: 16px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    COLOR: #008888;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection
{
    BORDER: 0px;
    PADDING: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection_title, .object_title
{
    font:bold 20px arial,sans-serif;
    margin:2px 0 0;
    vertical-align:middle;
    color:#285768;
    padding-left:10px;
}
#BITAMProjectMemberCollection .collection_title, #BITAMProjectDocumentCollection .collection_title,
#BITAMProjectStatusCollection .collection_title, #BITAMProjectContactCollection .collection_title,
#BITAMProjectIssueCollection .collection_title, .projectLeftCol .object_title, .projectRightCol .collection_title{
    color:#3c8591;
    font-size:17px;
    margin-top:15px;
}
.projectLeftCol .object_title, .projectRightCol .collection_title{ margin-top:15px; }

.collection_title_hr, .object_title_hr{
    color:#ba7932;
    height:2px;
    border:0;
    background:#ba7932;
    margin-top:0;
}
#BITAMProjectMemberCollection .collection_title_hr, #BITAMProjectDocumentCollection .collection_title_hr,
#BITAMProjectStatusCollection .collection_title_hr, #BITAMProjectContactCollection .collection_title_hr,
#BITAMProjectIssueCollection .collection_title_hr, .projectLeftCol .collection_title_hr, .projectRightCol .collection_title_hr{
    color:#969696;
    height:1px;
    background:#969696;
}

.projectNameSearch{
    position:relative;
    float:right;
    margin-right:90px;
}
.projectNameSearch a{
	position:relative;
	margin-left:-12px;
}
.projectNameSearch img{
	position:relative;
	margin:2px 0 0 -7px;
    vertical-align:bottom;
    border:solid 1px #969696;
    background:#dcdcdc;
}
.projectNameSearch input#NameToSearch, .projectNameSearch input#filter_text_aux{
    width:130px;
    padding:2px 5px;
    font-size:14px;
    color:#080808;
    border:solid 1px #97b5c3;
    background:#fff;
}

.collectionDetails, .objectDetails, .paginator{
    color:#000;
    margin:0;
    padding:10px;
    margin:5px 0 0;
    border:solid 1px #efefef;
    background:#f9f9f9;
}

.paginator{
	display:inline-block;
	padding:5px;
}

.collectionDetails span.weekNav, .paginator span.weekNav, .objectDetails span.weekNav, .collectionDetails input.button_silver, .collectionDetails button{
    color:#969696;
    font:bold 12px arial,sans-serif;
    border:solid 1px #969696;
    padding:4px 7px;
    margin:0 5px;
    background:#dcdcdc;
    cursor:pointer;
}
.objectDetails #TimeSheetTitle{ margin-right:200px; }
.collectionDetails span.weekNav:hover, .objectDetails span.weekNav:hover, .collectionDetails input.button_silver:hover, , .collectionDetails button:hover{
    color:#6f6f6f;
    border-color:#7f7f7f;
    background:#c4c4c4;
}

.projectCollection{
	white-space:nowrap;
}

.collection_buttons, .object_buttons
{
    position:relative;
    FONT-SIZE: 12px;
    padding:3px 5px;
    MARGIN:5px 0 0;
    font-family:arial,sans-serif;
    display:inline-block;
    border:1px solid;
    border-color:#cbd2d5 #cbd2d5 #d9e0e2;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
  	background:#c9e0eb url(../images/collectionButtonsMainBack.gif) repeat-x top;
    clear:both;
}

.collectionSelectionPointer{ margin:0 5px 0 4px; }

.collection_buttons .collectionButtonsSelection, .object_buttons .collectionButtonsSelection{
    float:left;
    padding:3px 5px;
    margin:-3px 5px -3px -5px;
    border-right:1px solid #b9c7cc;
	background:#e9f9ff url(../images/collectionButtonsSelectionBack.gif) repeat-x top;
}

.collection_buttons button, .object_buttons button, #div_cmbtaskresp button, .reportShortcutsContainer button, .moreReportsContainer button, .moreReportsButton{
    position:relative;
    color:#285768;
    font:bold 11px arial,sans-serif;
    line-height:20px;
    padding:0 7px 0 5px;
    margin:0 3px;
    border:1px solid;
    border-color:#a8adae #a8adae #989a9a #a8adae;
    background:#f1f1f1 url(../images/buttonBack.gif) repeat-x top;
    cursor:pointer;
}
.reportShortcutsContainer{
    border: solid 1px #CCC;
}
.reportShortcutsContainer button, .moreReportsButton{
	float:left;
    width:40%;
    text-align:left;
    margin:10px 20px;
}
.reportShortcutsContainer button{ border-color:#d6d6d6 #d6d6d6 #d4d4d4 #d6d6d6; }
.moreReportsButton:hover{ color:#1e404d; }
.moreReportsButton{ width:auto; }
.collection_table .moreReportsButton{ float:none; border:none; background:none; margin:-5px 0; white-space:nowrap; }
.moreReportsContainer button{
    width:245px;
    text-align:left;
    margin:3px;
    border-color:#F4F6FF;
    background:none;
}
.moreReportsContainer button:hover{
	color:#363231;
	border-color:#ffe599;
    background:#fff4d2;
}
.collection_buttons button img, .object_buttons button img, .collection_table .collectionGroupRow img, .objectDetails img, #div_cmbtaskresp button img, .collectionDetails button img, .objectDetails button img{
    vertical-align:text-bottom;
    margin-right:2px;
}
.reportShortcutsContainer button span, .moreReportsContainer button span, .moreReportsButton span{
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:text-bottom;
    margin:2px 5px 0 5px;
}
.moreReportsButton span.dropBoxIndicator{ margin:2px; background:url(../images/dropBoxIndicator.png) no-repeat top; }
.moreReportsButton:hover span.dropBoxIndicator{ background-position:bottom; }
.reportShortcutsContainer button span.reportBarsV, .moreReportsContainer button span.reportBarsV, .moreReportsButton span.reportBarsV{ background:url(../images/reportBarsV.png) no-repeat; }
.reportShortcutsContainer button span.reportBarsH, .moreReportsContainer button span.reportBarsH{ background:url(../images/reportBarsH.png) no-repeat; }
.reportShortcutsContainer button span.reportLines, .moreReportsContainer button span.reportLines{ background:url(../images/reportLines.png) no-repeat; }
.reportShortcutsContainer button span.reportPieRGB, .moreReportsContainer button span.reportPieRGB{ background:url(../images/reportPieRGB.png) no-repeat; }
.reportShortcutsContainer button span.reportPieCMY, .moreReportsContainer button span.reportPieCMY{ background:url(../images/reportPieCMY.png) no-repeat; }

.collection_buttons .filterButton{
	margin-left:60px;
    background:#ebe4d3 url(../images/buttonFilterBack.gif) repeat-x top; }

#div_cmbtaskresp button{ white-space:nowrap; }

.collection_associateButton{}
.collection_dissociateButton{}
.collection_addButton{}
.collection_removeButton{}
.collection_OkButton{}
.collection_CancelButton{}

.collection_table, .tableCaptureTS
{
    border:solid 1px #cccccc;
    PADDING:0;
    FONT-SIZE:12px;
    MARGIN:0;
    WIDTH:100%;
    font-family:arial,sans-serif;
    TEXT-ALIGN:left;
    border-spacing:0;
    border-collapse: collapse;
}
.tableCaptureTS{
    border-collapse: collapse;
}
.collection_table th, .collection_table td, .tableCaptureTS th, .tableCaptureTS td{
    padding:6px 3px;
}
.collection_table .collection_value_checkbox, .collection_table .collection_field_value, .collection_table .collection_value_number,
 .tableCaptureTS .cellInfoTS, .tableCaptureTS .cellInfoTSCenter, .tableCaptureTS .cellInfoWTD, .tableCaptureTS .cellInfoWTDWarn, .tableCaptureTS .cellMandatoryValue,
 .tableCaptureTS .cellValueTS, .tableCaptureTS .cellValueTSCenter, .tableCaptureTS .cellValueTSPercent, .tableCaptureTS .cellAdvanceValueTSCenter{
    color:#1E424F;
    font-size:11px !important;
    border-top:1px solid #f0f0f0;
    border-bottom:1px solid #c9c9c9;
}
.tableCaptureTS .cellTitleTS{
	vertical-align: middle;
}
.tableCaptureTS .cellTitleTSCenter{
	vertical-align: middle;
}
.tableCaptureTS .cellTitleTS, .tableCaptureTS .cellInfoTS, .tableCaptureTS .cellValueTS{
    text-align: left;
}
.tableCaptureTS .cellTitleTSCenter, .tableCaptureTS .cellInfoTSCenter, .tableCaptureTS .cellInfoWTD,
 .tableCaptureTS .cellInfoWTDWarn, .tableCaptureTS .cellMandatoryValue, .tableCaptureTS .cellValueTSCenter,
 .tableCaptureTS .cellValueTSPercent, .tableCaptureTS .cellTotalValueTS, .tableCaptureTS .cellAdvanceValueTSCenter{
    text-align:center;
}
.tableCaptureTS .cellTotalTitleTS{
    text-align:right;
}
.tableCaptureTS .cellValueTS, .tableCaptureTS .cellValueTSCenter, .tableCaptureTS .cellValueTSPercent{
    font-weight:bold;
    background:#edf4f8;
}
.tableCaptureTS .cellAdvanceValueTSCenter{ 
	font-weight:bold;
	background:#fdfff0;
}
.tableCaptureTS .cellInfoWTDWarn, .tableCaptureTS .cellMandatoryValue{
    color:#ff2222;
    font-weight:bold;
    background:#ffeaea;
}
.tableCaptureTS .cellMandatoryValue .inputValueTS{ color:#ff2222; }
.tableCaptureTS .cellTotalTitleTS{ font-style:italic; font-weight:bold; }
.tableCaptureTS .cellTotalTitleTS, .tableCaptureTS .cellTotalValueTS{
	color:#006368;
    font-size:11px !important;
    border-top:1px solid #f0f0f0;
    border-bottom:1px solid #c9c9c9;
    vertical-align:middle;
}
.tableCaptureTS img.dependencyMarker{ margin-left:30px; }
.collection_table .collection_field_title, .collection_table .collection_title_checkbox, .collection_table .collection_title_number,
 #bpmDescHeader div.collection_field_title, .cgth div.collection_field_title, .tableCaptureTS .cellTitleTS, .tableCaptureTS .cellTitleTSCenter{
    font-weight:bold;
    font-size:12px;
    color:#668789;
    border:solid 1px;
    border-color:#fff #787878 #8c8c8c #fff;
    background:#cccccc url(../images/tableHeadBack.gif) repeat-x top;
}
.collection_table th.collection_field_title:hover, .collection_table th.collection_title_number:hover{
    border-bottom:solid 2px #ca8336;
    padding-bottom:5px;
    cursor:pointer;
}
.collection_table .collection_field_title .collectionSortIndicator{
	float:right;
	margin-top:3px;
	margin-right:3px;
	width:12px;
	height:9px;
    background:url(../images/tableHeadSortIndicator.png) no-repeat top center;
}
.collection_table .asc .collectionSortIndicator{ background-position:center center; }
.collection_table .desc .collectionSortIndicator{ background-position:bottom center; }

#bpmDescHeader div.collection_field_title, .cgth div.collection_field_title{ border-color:#fff #787878 #8c8c8c; }
.collection_table .collectionGroupRow, .tableCaptureTS .collectionGroupRow{
    color:#006368;
    font:italic bold 13px arial,sans-serif;
    padding-left:22px;
    border-top:solid 1px #f8f8f8;
    border-bottom:solid 1px #959595;
    background:#f8f8f8 url(../images/tableGroupRowBack.gif) repeat-x top;
}

.collection_table .collection_value_checkbox, .tableCaptureTS .cellInfoWTD, .tableCaptureTS .cellInfoWTDWarn, .tableCaptureTS #totalByRow,
 .tableCaptureTS .cellValueTS, .tableCaptureTS .cellValueTSCenter, .tableCaptureTS .cellValueTSPercent,
 .tableCaptureTS .cellTotalTitleTS, .tableCaptureTS .cellTotalValueTS, .tableCaptureTS .cellAdvanceValueTSCenter{
    border-right:1px solid #cacaca;
}
.collection_table .collection_title_checkbox, .collection_table .collection_value_checkbox{
    text-align:center; }
.collection_table .collection_title_checkbox input, .collection_table .collection_value_checkbox input{
    padding:0;
    margin:0; }

.collection_field_value, .collection_value_number
{
    BORDER: 0px;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection_field_value a:link, .collection_field_value a:visited, .collection_field_value a:focus, .collection_field_value a:focus{
    color:#1e424f; }
.taskOverdue{ color:#ff0000; }
.taskOverdue a:link, .taskOverdue a:hover, .taskOverdue a:focus, .taskOverdue a:active, .taskOverdue a:visited{
	color:#ff0000; }
.collection_table img.collapseExpandControl, .collection_table .collectionGroupRow img.collapseExpandControl{ height:9px; width:9px; cursor:pointer; vertical-align:baseline; margin-right:4px; }
.collection_table img.expandTree, .collection_table .collectionGroupRow img.expandTree{ background-image:url(../images/expand.gif); }
.collection_table img.collapseTree, .collection_table .collectionGroupRow img.collapseTree{ background-image:url(../images/collapse.gif); }
.collection_field_value_border
{
    BORDER-RIGHT: #6699cc 2px solid;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection_field_value_0
{
    BORDER: 0px;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection_field_value_1
{
    BORDER-RIGHT: #6699cc 2px solid;
    PADDING-RIGHT: 4px;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection_field_value_2
{
    BORDER: #6699cc 2px solid;
    PADDING: 1px;
    FONT-SIZE: 12px;
    MARGIN: 1px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection_field_value_3
{
    BACKGROUND-POSITION: right 50%;
    FONT-SIZE: 12px;
    BACKGROUND-IMAGE: url(../images/right_line.gif);
    VERTICAL-ALIGN: top;
    BACKGROUND-REPEAT: repeat-y;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}

.collection_title_reorder 
{
	BORDER-RIGHT: #ffffff 2px solid;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
    width: 9px;
	padding: 0;
    border:solid 1px;
    border-color:#fff #787878 #8c8c8c #fff;
	background:#cccccc url(../images/tableHeadBack.gif) repeat-x top;
}

.collection_title_checkbox
{
    BORDER-RIGHT: #ffffff 2px solid;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: top;
    WIDTH: 20px;
    COLOR: #ffffff;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection_title_checkbox INPUT
{
    border:0;
    background:transparent;
}
.collection_value_checkbox
{
    BORDER: 0px;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 20px;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.collection_value_checkbox INPUT
{
    border:0;
    background:transparent;
}

.collection_value_number_border
{
    BORDER-RIGHT: #6699cc 2px solid;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: right;
}
.collection_value_number_0
{
    BORDER: 0px;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: right;
}
.collection_value_number_1
{
    BORDER-RIGHT: #6699cc 2px solid;
    PADDING-RIGHT: 4px;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: right;
}
.collection_value_number_2
{
    BORDER: #6699cc 2px solid;
    PADDING: 1px;
    FONT-SIZE: 12px;
    MARGIN: 1px;
    VERTICAL-ALIGN: top;
    font-family:arial,sans-serif;
    TEXT-ALIGN: right;
}
.collection_value_number_3
{
    BACKGROUND-POSITION: right 50%;
    FONT-SIZE: 12px;
    BACKGROUND-IMAGE: url(../images/right_line.gif);
    VERTICAL-ALIGN: top;
    BACKGROUND-REPEAT: repeat-y;
    font-family:arial,sans-serif;
    TEXT-ALIGN: right;
}
.object
{
    BORDER: 0px;
    PADDING: 4px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}

.object_title1
{
    BORDER: 0px;
    PADDING: 0px;
    FONT-WEIGHT: 800;
    FONT-SIZE: 13px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    COLOR: #4d5b64;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}

.object_homeButton{}
.object_removeButton{}
.object_editButton{}
.object_okButton{}
.object_cancelButton{}

.object_table, .popup_object_table
{
    border:solid 1px #cccccc;
    PADDING: 0px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    WIDTH: 100%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
    border-spacing:0;
}
.popup_object_table{
    border:none;
}
.object_table td{
    padding:3px 5px;
    border:solid #ebebeb;
    border-width:0 1px 1px 0;
}
.object_table img.warningIconLeftSpaced{
	margin-left:20px;
    vertical-align:text-top;
}
.popup_object_table td{
    padding:1px 5px;
}
.popup_object_table tr td:first-child{
    text-align:right;
}
.object_field_title
{
    font:italic bold 12px arial,sans-serif;
    margin:0px;
    vertical-align:top;
    width:25%;
    color:#007f7c;
    background:#f4f4f4 url(../images/objectFieldTitleBack.gif) repeat-x top;
    border:solid 1px;
    border-color:#fdfdfd #e1e1e1 #e1e1e1 #fdfdfd;
    text-align:right;
}
.object_field_value
{
    FONT-SIZE: 12px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 25%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.object_field_value_1
{
    FONT-SIZE: 12px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 25%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.object_field_value_2
{
    FONT-SIZE: 12px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 50%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.object_field_value_3
{
    FONT-SIZE: 12px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 75%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
.disabled{
    color:#000;
    background-color:#fff;
    border:none;
}
div.path-div
{
    font:bold 10px arial,sans-serif;
    color:#bbc6d2;
    padding-left:7px;
    margin-top:5px;
    margin-bottom:-2px;
}
A:link
{
    FONT-SIZE: 11px;
    COLOR: #1e424f;
    TEXT-DECORATION: underline;
}
A:visited
{
    FONT-SIZE: 11px;
    COLOR: #1e424f;
    TEXT-DECORATION: underline;
}
A:hover
{
    COLOR: #1e424f;
    TEXT-DECORATION: underline;
}
A.path-div:link, A.path-div:visited, #bpmheader a:link, #bpmheader a:visited{
    font:bold 11px arial,sans-serif;
    color:#bbc6d2;
    text-decoration:none;
    padding-left:7px;
}
A.path-div:hover, A.path-div:focus, A.path-div:active, #bpmheader a:hover, #bpmheader a:focus, #bpmheader a:active{
    color:#648ea4;
    text-decoration:underline;
}

.headerInfo
{
	font-family:arial,sans-serif;
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #336699;
}
.headerUser
{
    position:absolute;
    top:-23px;
    left:152px;
    font-size:11px;
    color:#336666;
}
.infoGen
{
	font-family:arial,sans-serif;
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
}

.infoGenIndCal
{
	font-family:arial,sans-serif;
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #51A6B5;
}

.infoGenIndName
{
	font-family:arial,sans-serif;
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #336699;
}

.dimensionName
{
	font-family:arial,sans-serif;
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #336699;
}

.dimensionValue
{
	font-family:arial,sans-serif;
	/*FONT-WEIGHT: bold;*/
    FONT-SIZE: 11px;
    /*COLOR: #51A6B5*/
    COLOR: #336699;
}

.infoGenBudget
{
	font-family:arial,sans-serif;
	FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #0057AE;
}

.spanTitle
{
	font-family:arial,sans-serif;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	COLOR: #000000;
}
.spanLabel
{
	font-family:arial,sans-serif;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	COLOR: #4d5b64;
}
FIELDSET {
	BORDER: #336699 1px outset; 
	PADDING: 0 3px 3px; 
	MARGIN: 5px 8px 5px 5px; 
}
LEGEND {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	TEXT-TRANSFORM: capitalize; 
	COLOR: #455372; 
	MARGIN-TOP: 0px;
	font-family:arial,sans-serif;
}
LABEL {
	PADDING: 2px; 
	DISPLAY: block; 
}
.errormsg
{
    COLOR: red;
    font-family:arial,sans-serif;
}
.infomsg
{
    COLOR: #336699;
    font-family:arial,sans-serif;
}

span.alink
{
	text-decoration:none;	
	border:1px solid #F5F5F5;
	padding: 2px 10px;
	font-family:arial,sans-serif;
	font-size:11px;
}

span.alinkescfav
{
	text-decoration:none;	
	border:1px solid #F5F5F5;
	padding: 2px 10px;
	font-family:arial,sans-serif;
	font-size:11px;
	height:10px;
	text-align:middle;
	color: #8b8484;
}

span.alinkescfavhovered
{
	text-decoration:none;
	background-color:#CADEE3;
	border:1px solid navy;
	padding: 2px 10px;
	font-family:arial,sans-serif;
	font-size:11px;
	cursor:pointer;
	height:10px;
	text-align:middle;	
}

span.alinkleft
{
	text-decoration:none;
	background-color:#e1e1e1;
	border:1px solid #8b8484;
	padding-right:10px;
	padding-left:2px;
	padding-top:5px;
	padding-bottom:2px;
	font-family: Verdana;
	font-size:11px;
	height:16px;
	text-align:bottom;
}

span.alinkescfavleft
{
	text-decoration:none;
	background-color:#e1e1e1;
	border:1px solid #8b8484;
	padding-right:10px;
	padding-left:2px;
	padding-top:5px;
	padding-bottom:2px;
	font-family: Verdana;
	font-size:11px;
	height:16px;
	text-align:bottom;
}

span.alinkescfavhoveredleft
{
	text-decoration:none;
	background-color:#cadee3;
	border:1px solid navy;
	padding-right:10px;
	padding-left:2px;
	padding-bottom:2px;
	padding-top:5px;
	font-family: Verdana;
	font-size:11px;
	cursor:pointer;
	height:16px;
	text-align:bottom;
}

span.documents
{
	text-decoration:none;	
	border:1px solid #F5F5F5;
	padding: 2px 10px;
	font-family:arial,sans-serif;
	font-size:11px;
	height:10px;
	text-align:middle;
}

span.documentshovered
{
	text-decoration:none;
	background-color:#CADEE3;
	border:1px solid navy;
	padding: 2px 10px;
	font-family:arial,sans-serif;
	font-size:11px;
	cursor:pointer;
	height:10px;
	text-align:middle;
}

span.alinkdisescfav
{
	text-decoration:none;	
	border:1px solid #F5F5F5;
	padding: 2px 10px;
	font-family:arial,sans-serif;
	font-size:11px;
	color:#DDDDDD;
	height:10px;
	text-align:middle;
}

span.alinkdisescfavhover
{
	text-decoration:none;
	background-color:#C0C0C0;
	border:1px solid navy;
	padding: 2px 10px;
	font-family:arial,sans-serif;
	font-size:11px;
	color:#DDDDDD;
	cursor:pointer;
	height:10px;
	text-align:middle;
}

a.alinkescfav
{
	text-decoration:none;	
	border:1px solid #F5F5F5;
	padding: 5px 10px 0px;
	height:4px;
}

a.alinkescfav:link
{
	text-decoration:none;	
	border:1px solid #F5F5F5;
	padding: 5px 10px 0px;	
	height:4px;
	color:#444444;
}

a.alinkescfav:hover
{
	text-decoration:none;
	background-color:#CADEE3;
	border:1px solid navy;
	padding: 5px 10px 0px;
	height:4px;
	with:5px;
	color:#444444;
}

a.alinkescfav:visited
{
	text-decoration:none;	
	border:1px solid #F5F5F5;
	padding: 5px 10px 0px;	
	height:4px;
	color:#444444;
}

span.line
{
	text-decoration:none;	
	border:1px solid #F5F5F5;
	padding:2px 0px;
	font-family:arial,sans-serif;
	font-size:11px;
	height:10px;
	text-align:middle;
	color: #8b8484;
}

#splitterBar {
    cursor: e-resize;
    display:block;
    background-color: #ffffff;
    padding:0;
    DISPLAY: inline;
	FLOAT: left;
	WIDTH: 2px;
	height:100%;
	border-top: #aeaeae 2px outset;
	/*border-bottom: #aeaeae 2px outset;*/
	margin-top: 1px;
}

#splitterBar1 {
    cursor: e-resize;
    display:block;
    background-color: #ffffff;
    padding:0;
    DISPLAY: inline;
	FLOAT: left;
	WIDTH: 2px;
	height:100%;
	border-top: #aeaeae 2px outset;
	/*border-bottom: #aeaeae 2px outset;*/
	margin-top: 1px;
}

/* <Round borders> */
/* 4 borders */
button, .moreReportsButton, .paginator span.weekNav, .collectionDetails span.weekNav, .objectDetails span.weekNav, .collectionDetails input.button_silver, .collectionDetails button{
 -moz-border-radius:5px;
 border-radius:5px; }
/* 2 top */
.menu .menuOption a, .catalogMenu .menuOption a{
 -moz-border-radius-topleft:5px;
 -moz-border-radius-topright:5px;
 border-top-left-radius:5px;
 border-top-right-radius:5px; }
/* bottom right */
.projectLeftCol .object_table{
 -moz-border-radius-bottomright:5px;
 border-bottom-right-radius:5px; }
/* bottom left */
.projectRightCol .object_table{
 -moz-border-radius-bottomleft:5px;
 border-bottom-left-radius:5px; }
/* 2 left */
.reportShortcutsContainer, .projectNameSearch input#NameToSearch, .projectNameSearch input#filter_text_aux{
 -moz-border-radius-topleft:5px;
 -moz-border-radius-bottomleft:5px;
 border-top-left-radius:5px;
 border-bottom-left-radius:5px; }
/* 2 right */
.projectNameSearch img{
 -moz-border-radius-topright:5px;
 -moz-border-radius-bottomright:5px;
 border-top-right-radius:5px;
 border-bottom-right-radius:5px; }
/* </Round borders> */

/*Nuevos estilos*/
.object_field_title_new
{
    font:12px arial,sans-serif;
    margin:0px;
    vertical-align:top;
    width:100px;
    color:#000000;
    /*background:#f4f4f4 url(../images/objectFieldTitleBack.gif) repeat-x top;*/
    border:solid 1px;
    border-color:#fdfdfd #e1e1e1 #e1e1e1 #fdfdfd;
    text-align:left;
	padding:0px;
}

.object_table_new, .popup_object_table_new
{
    border:solid 1px #cccccc;
    PADDING: 0px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    WIDTH: 100%;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
    border-spacing:0;
}

.popup_object_table_new{
    border:none;
}
.object_table_new td{
    /*padding:3px 5px;*/
	padding:0px;
    border:solid #ebebeb;
    border-width:0 1px 1px 0;
}
.object_table_new img.warningIconLeftSpaced{
	margin-left:20px;
    vertical-align:text-top;
}
.popup_object_table_new td{
    padding:1px 5px;
}
.popup_object_table_new tr td:first-child{
    text-align:right;
}
/* bottom right */
.projectLeftCol .object_table_new{
 -moz-border-radius-bottomright:5px;
 border-bottom-right-radius:5px; }
/* bottom left */
.projectRightCol .object_table_new{
 -moz-border-radius-bottomleft:5px;
 border-bottom-left-radius:5px; }
.object_new
{
    BORDER: 0px;
    PADDING: 0px;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    font-family:arial,sans-serif;
    TEXT-ALIGN: left;
}
