.menuBody
{
	background: white;
	color: black;
	font-family: Tahoma;
	font-size: 11px;
	border: 1px solid #aca899;
	padding:3px;
	cursor: pointer;
}

.menuSelected
{
	background: #e7e9eb; /*#316ac5;*/
	color: #316ac5; /*white;*/
	border-width: 1px;
	border-style: solid;
	border-color: #316ac5;
}

.cellStyle { padding: 3px; }

.separator {
	margin: 0 1px;
	padding: 0px 3px 0px 3px;
}

hr.hrSep
{
	color: #aca899;
	background-color: #aca899;
	height:1px;
	font-size: 4px;
	border:none;
}

div.shadow
{
	position:absolute;
	visibility:visible;
	padding: 1px 1px;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	/*background: #d0d0d0 url("../../images/shad_bottom.png") repeat-x left bottom;*/
	background-color: #d0d0d0;
}

/* Esquinas superiores */
div.shadow div.topleft
{
	width: 2px;
	height: 4px;
	/*background: url("../../images/shad_tlcorner.png") no-repeat left top;*/
	position: absolute;
	top: 0;
	left: -1px;
}

div.shadow div.topright
{
	width: 2px;
	height: 4px;
	/*background: url("../../images/shad_trcorner.png") no-repeat right top;*/
	position: absolute;
	top: 0;
	right: -1px;
}

/* Esquinas inferiores */
div.shadow div.bottomleft
{
	width: 4px;
	height: 4px;
	/*background: url("../../images/shad_blcorner.png") no-repeat left bottom;*/
	position: absolute;
	bottom: 0;
	left: -1px;
}

div.shadow div.abder
{
	width: 4px;
	height: 4px;
	/*background: url("../../images/shad_brcorner.png") no-repeat right bottom;*/
	position: absolute;
	bottom: 0;
	right: -1px;
}

.menuBodyAppDash
{
	font-weight: bold;
	background: white;
	color: black;
	font-family: Verdana;
	font-size: 18px; /*20*/
	border: 1px solid #aca899;
	padding:3px;
	cursor: pointer;
}
.cellStyleAppDash {
	padding-bottom: 6px;
	padding-left: 3px;
	padding-top: 6px;
	padding-right: 3px;
	border-bottom: 1px solid silver;
}
.cellStyleLastAppDash {
	padding-bottom: 6px;
	padding-left: 3px;
	padding-top: 6px;
	padding-right: 3px;
}