#formName {
	text-align: center;
}
table {
    border-collapse: collapse;    
	border-right: 1px solid rgb(128, 128, 128);
	width: 100%;
}

table, td {
    border-top: 1px solid;
    border-bottom: 1px solid;
	border-color: rgb(128, 128, 128);
}
#questionText{
	background-color: rgb(245, 222, 179);
	font-weight: bold;
  	font-size: 14px;
  	padding-right: 2%;
	border: 1px solid;
    border-color: rgb(128, 128, 128);
	width: 30%;
}
table TR:nth-child(even) {
  background: rgb(247, 247, 247)
 /* border: 1px solid;
  border-color: rgb(128, 128, 128);*/
}
#image ,#value ,#document{
	padding-right: 1%;
}
#value{
    width: 30%;
}
.tableDetail
{
    border: 1px solid rgb(128, 128, 128);
}
.trDetail
{
	border-bottom: border: 1px solid rgb(128, 128, 128);
}
.questionTextDetail
{
	width: initial !important;
}