﻿.jPanelMenu header.main .logo a,.jPanelMenu header.main .menu-trigger{
	display:block;
	max-height:100%;
	text-shadow:none;
	line-height:50px;
	color:#000000;
}

.jPanelMenu header.main .logo{font-family:"museo-sans","Museo Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:300;font-weight:700;float:none;width:60%;margin:0 auto}
.jPanelMenu header.main .logo a{position:static}
.jPanelMenu header.main .logo a:before{display:none !important}
/*.jPanelMenu header.main .menu-trigger{position:absolute;top:0;left:0;padding:0 1.5em;font-size:1.2em;line-height:57.5px}*/
/*.jPanelMenu header.main .menu-trigger:active{text-shadow:none}*/
/*.jPanelMenu header.main nav{text-indent:-9999px}*/
.jPanelMenu .content .spec,.jPanelMenu .content h3{margin-top:0;padding-top:4em}
.jPanelMenu .content .spec h3{padding-top:0}
.jPanelMenu .content .jPM-specific{display: inline-block}
#jPanelMenu-menu{
	background: #ffffff;
	transition : all 0.3s linear;
}

.jpanelstyle{
	display: none;
	margin: 0px 0px 0px -40px;
	font-family: Roboto;
}
/*style="display: none;margin:0px 0px 0px -32px;font-family:Roboto;"*/

/*#jPanelMenu-menu ul{border-bottom:1px solid #d8d8d8}*/
#jPanelMenu-menu li a{
	background:#ffffff;
	font-family:"museo-sans","Museo Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:300;font-weight:700;display:block;padding:0.5em 5%;
	/*border-top:1px solid #D8D8D8;*/
	border-bottom:1px solid #D8D8D8;
	text-decoration:none;
	text-shadow:none;
	color:#000000;
}
#jPanelMenu-menu li a:hover,
#jPanelMenu-menu li a:focus{
	background:#000000;
	background:-o-linear-gradient(top, #007AFF, #007AFF);
	background:-ms-linear-gradient(top, #007AFF, #007AFF);
	background:-moz-linear-gradient(top, #007AFF, #007AFF);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #007AFF), color-stop(1, #007AFF));
	background:-webkit-linear-gradient(#eeeeee, #eeeeee);
	background:linear-gradient(top, #007AFF, #007AFF);
}

.jPanelMenu-panel{-moz-box-shadow:0 0 25px #222;-webkit-box-shadow:0 0 25px #222;box-shadow:0 0 25px #222}

/*config*/

$animationTime: .2s;
$navmarkerH: 40px;
$navmarkerW: 50px;
$navwidth: 300px;

/*colorConfig*/
$navBG: rgba(0,0,0,.6);
$menuItem: rgb(255,165,62);

a
{
	text-decoration: none;
	i{
		font: 0/0 a;
		text-shadow:none;
		color: transparent;
	}
}

