/*this section contains all positional ids*/

/*this section contains all formatting classes*/
.menu {
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.path {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.path_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.path_left {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.path_right {
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.message {
	font-family: Verdana;
	font-size: 12px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: left;
	width: 100%;
	margin: 4px;
	border: 0;
	padding: 2px;
	background: #FF0000;
	}
.contents {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.contents_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.collection_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_buttons_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.collection_buttons_left {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 25%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.collection_buttons_right {
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	width: 75%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.collection_addButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_removeButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_securityButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_searchButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_OkButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_CancelButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_topButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.collection_field_title {
	cursor: pointer;
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	background-color: #003366;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.collection_field_value {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.collection_title_checkbox {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	color: #FFFFFF;
	background-color: #003366;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	width: 20px;
	}
.collection_title_reorder {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #003366;
	margin: 0;
	border: 0;
	padding: 0;
	width: 9px;
	}
.collection_title_new {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: #003366;
	margin: 0;
	border: 0;
	padding: 0;
	width: 9px;
	}
.collection_title_checkbox input {
	background-color: #003366;
	border: 0;
	}
.collection_value_checkbox {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	width: 20px;
	}
.collection_value_reorder {
	cursor: pointer;
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	width: 9px;
	}
.collection_value_new {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	width: 9px;
	}
.collection_value_checkbox input {
	background-color: #FFFFFF;
	border: 0;
	}
.collection_title_number {
	cursor: pointer;
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	color: #FFFFFF;
	background-color: #003366;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.collection_value_number {
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.object {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.object_title_table {
	text-align: left;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_creation {
	font-family: Verdana;
	font-size: 10px;
	text-align: right;
	vertical-align: bottom;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_buttons_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.object_buttons_left {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.object_buttons_right {
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.object_removeButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_editButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_securityButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_okButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_cancelButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_topButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_goLabel {
	vertical-align: top;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_goRadio {
	background-color: #ffffff;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_goImg {
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.object_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.object_field_title {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #003366;
	width: 25%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.object_field_value {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 25%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.object_field_value_1 {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 25%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.object_field_value_2 {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.object_field_value_3 {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 75%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.disabled {
	color: #000000;
	background-color: #ffffff;
	}
.document {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.document_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.document_buttons_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.document_buttons_left {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.document_buttons_right {
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.document_addButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.document_removeButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.document_okButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.document_cancelButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.document_topButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.document_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.document_field_title {
	cursor: pointer;
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	background-color: #003366;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.document_field_value {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.document_title_checkbox {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	color: #FFFFFF;
	background-color: #003366;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	width: 20px;
	}
.document_title_checkbox input {
	background-color: #003366;
	border: 0;
	}
.document_value_checkbox {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	width: 20px;
	}
.document_value_checkbox input {
	background-color: #FFFFFF;
	border: 0;
	}
.document_title_number {
	cursor: pointer;
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	color: #FFFFFF;
	background-color: #003366;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.document_value_number {
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.history {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.history_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.history_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.history_field_title {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	background-color: #003366;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.history_field_value {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.disabled {
	color: #000000;
	background-color: #ffffff;
	}
.search {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.search_title_table {
	text-align: left;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	}
.search_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.search_okButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.search_cancelButton {
	cursor: pointer;
	margin: 0;
	border: 0;
	padding: 0;
	}
.search_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.search_field_title {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #003366;
	width: 20%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.search_field_value {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 30%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.php {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.php_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.php_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	height: 88%;
	margin: 0;
	border: 0;
	padding: 0;
	}
.php_textarea {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 100%;
	height: 45%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.php_attributes {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	height: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.php_functions {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	height: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.php_buttons {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	width: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.sql {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.sql_title {
	font-family: Verdana;
	font-size: 16px;
	font-weight: 800;
	color: #003366;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.sql_table {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	width: 100%;
	height: 88%;
	margin: 0;
	border: 0;
	padding: 0;
	}
.sql_textarea {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 100%;
	height: 45%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.sql_attributes {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	height: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.sql_functions {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	height: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
.sql_buttons {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	width: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	}
/*this section contains all formatting elements*/
