.tabbed ul {
	padding: 0px;
	margin: 0px;
	//margin-left: 10px;
	list-style-type: none;
}

.tabbed ul li {
	display: inline-block;
	clear: none;
	float: left;
	height: 24px;
}

.tabbed ul li a {
	position: relative;
	margin-top: 6px;	//16px;
	display: block;
	margin-left: 6px;
	line-height: 24px;
	padding-left: 10px;
	background: #f6f6f6;
	z-index: 9999;
	border: 1px solid #ccc;
	border-bottom: 0px;

	/* The following four lines are to make the top left and top right corners of each tab rounded. */
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	/* end of rounded borders */

	width: 100%;	//130px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.selectedTab a {
	background: #d3d3d3 !important;
}

.tabbed ul li a:hover {
	text-decoration: underline; // a very simple effect when hovering the mouse on tab
}
