.CSSTableGenerator {
 margin:0px;padding:0px;
 width:100%;
 border:1px solid #dadada;
 
 -moz-border-radius-bottomleft:10px;
 -webkit-border-bottom-left-radius:10px;
 border-bottom-left-radius:10px;
 
 -moz-border-radius-bottomright:10px;
 -webkit-border-bottom-right-radius:10px;
 border-bottom-right-radius:10px;
 
 -moz-border-radius-topright:10px;
 -webkit-border-top-right-radius:10px;
 border-top-right-radius:10px;
 
 -moz-border-radius-topleft:10px;
 -webkit-border-top-left-radius:10px;
 border-top-left-radius:10px;
}
.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
 width:100%;
 height:100%;
 margin:0px;padding:0px;
}

.CSSTableGenerator th {
	background-color: #555555;
	border:0px solid #dadada;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Helvetica;
	font-weight:normal;
	color:#ffffff;
	text-shadow: '';
	height: 41px;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-shadow: white 0px 1px 0px;
}

.CSSTableGenerator tr:nth-child(odd) {
	background-color: #d1d8e9;
}

.CSSTableGenerator tr:nth-child(even) {
	background-color: #eaeef4;
}

.CSSTableGenerator tr:last-child td:last-child {
 -moz-border-radius-bottomright:10px;
 -webkit-border-bottom-right-radius:10px;
 border-bottom-right-radius:10px;
}
.CSSTableGenerator table tr:first-child td:first-child {
 -moz-border-radius-topleft:10px;
 -webkit-border-top-left-radius:10px;
 border-top-left-radius:10px;
}
.CSSTableGenerator table tr:first-child td:last-child {
 -moz-border-radius-topright:10px;
 -webkit-border-top-right-radius:10px;
 border-top-right-radius:10px;
}
.CSSTableGenerator tr:last-child td:first-child{
 -moz-border-radius-bottomleft:10px;
 -webkit-border-bottom-left-radius:10px;
 border-bottom-left-radius:10px;
}
.CSSTableGenerator tr:hover td{
 background-color:#cccccc;
}
.CSSTableGenerator td{
 vertical-align:middle;
 /*background-color:#ffffff;*/
 border:1px solid #dadada;
 border-width:0px 1px 1px 0px;
 text-align:left;
 padding:8px;
 font-size:12px;
 font-family:Arial;
 font-weight:normal;
 color:#000000;
}
.CSSTableGenerator tr:last-child td{
 border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{
 border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child{
 border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td{
  /*background:-o-linear-gradient(bottom, #999999 5%, #fff 100%); background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #fff) );*/
 /*background:-moz-linear-gradient( center top, #999999 5%, #fff 100% );*/
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#fff"); background: -o-linear-gradient(top,#999999,fff);
 
 /*background-color:#999999;*/
 border:0px solid #dadada;
 text-align:center;
 border-width:0px 0px 1px 1px;
 font-size:16px;
 font-family:Helvetica;
 font-weight:normal;
 color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
 /*background:-o-linear-gradient(bottom, #999999 5%, #fff 100%); background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #fff) );*/
 /*background:-moz-linear-gradient( center top, #999999 5%, #fff 100% );*/
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#fff"); background: -o-linear-gradient(top,#999999,fff);
 
 /*background-color:#999999;*/
}
.CSSTableGenerator tr:first-child td:first-child{
 border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
 border-width:0px 0px 1px 1px;
}