#header {
	FONT-SIZE: 85%; 
	BACKGROUND: url(../images/borderDown.gif) repeat-x 50% bottom; 
	FLOAT: left; 
	WIDTH: 100%; 
	LINE-HEIGHT: normal
}
#header UL {
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 10px; 
	LIST-STYLE-TYPE: none
}
.current {
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 0px; 
	BACKGROUND: url(../images/borderRightOn.gif) no-repeat right top; 
	FLOAT: left; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px; 
	CURSOR:pointer;
}
.current SPAN {
	PADDING-RIGHT: 7px; 
	DISPLAY: block; 
	PADDING-LEFT: 20px; 
	FONT-WEIGHT: bold; 
	BACKGROUND: url(../images/borderOn.gif) no-repeat left top; 
	FLOAT: left; 
	PADDING-BOTTOM: 5px; 
	COLOR: #333; 
	PADDING-TOP: 5px; 
	TEXT-DECORATION: none
}
.nocurrent {
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 0px; 
	BACKGROUND: url(../images/borderRight.gif) no-repeat right top; 
	FLOAT: left; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px; 
	CURSOR:pointer;
}
.nocurrent SPAN {
	PADDING-RIGHT: 7px; 
	DISPLAY: block; 
	PADDING-LEFT: 20px; 
	FONT-WEIGHT: bold; 
	BACKGROUND: url(../images/borderLeft.gif) no-repeat left top; 
	FLOAT: left; 
	PADDING-BOTTOM: 4px; 
	COLOR: #9cf; 
	PADDING-TOP: 5px; 
	TEXT-DECORATION: none
}

	/*Estos agregue yo*/
	.otherTabLeftImg {
		background-image: url(../images/otherTab_left.gif);
		background-repeat:no-repeat;
		width:9px;
		}		
	.otherTabRightImg {
		background-image: url(../images/otherTab_right.gif);
		background-repeat:no-repeat;
		width:8px;				
		}		
	.otherTabMiddleImg {
		font-size: 11px;
		color: #6e6e6e;
		font-weight: bold;
		padding-top: 1px;
		background-image: url(../images/otherTab_middle.gif);
		background-repeat:repeat-x;
		}		
	a.otherTabMiddleImg:link, a.otherTabMiddleImg:visited {
		color: #6e6e6e;
		text-decoration: none;

		}
	a.otherTabMiddleImg:hover {
		color: #3C3C3C;
		text-decoration: none;
		}

	.currentTabLeftImg {
		background-image: url(../images/currentTab_left.gif);
		background-repeat:no-repeat;
		width:9px;
		}		
	.currentTabRightImg {
		background-image: url(../images/currentTab_right.gif);
		background-repeat:no-repeat;
		width:8px;
		}		
	.currentTabMiddleImg {
		font-size: 11px;
		color: #6e6e6e;
		font-weight: bold;
		padding-top: 1px;
		background-image: url(../images/currentTab_middle.gif);
		background-repeat:repeat-x;
		}		
	a.currentTabMiddleImg:link, a.otherTabMiddleImg:visited {
		color: #222222;
		text-decoration: none;

		}
	a.currentTabMiddleImg:hover {
		color: #444444;
		text-decoration: none;
		}
	/*Aqui finalice los que agregue*/		

