.FinancialTree
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: icon;
    COLOR: #000099;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    HEIGHT: 10px
}
.FinancialTreeNotMapping
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: icon;
    COLOR: #008888;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    HEIGHT: 10px
}

A:link
{
    FONT-SIZE: 11px;
    COLOR: #444444;
    TEXT-DECORATION: underline
}
A:visited
{
    FONT-SIZE: 11px;
    COLOR: #444444;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #666666;
    TEXT-DECORATION: underline
}
.UserTree
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: icon;
    COLOR: #6e6e6e;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    HEIGHT: 12px
}

/*New Style*/
.TreeView 
{ 
  background-color: white; 
  border: 1px solid black; 
  padding: 2px; 
  padding-left: 5px;
} 

.TreeNode 
{ 
  background-image: url(../images/node_bg.gif);
  font-family: verdana;
  font-size: 10px;
  color: #000099;
  border-bottom: 1px solid #dddddd;
  border-right:1px solid #dddddd; 
  border-top: 1px solid #dddddd;
  border-left:1px solid #dddddd;
  cursor: pointer;
  padding: 3px; 
  padding-left: 5px; 
  
}
.TreeNodeNotMapping 
{ 
  background-image: url(../images/node_bg.gif);
  font-family: verdana;
  font-size: 10px;
  /*color: #008888;*/
  color: brown;
  border-bottom: 1px solid #dddddd;
  border-right:1px solid #dddddd; 
  border-top: 1px solid #dddddd;
  border-left:1px solid #dddddd;
  cursor: pointer;
  padding: 3px; 
  padding-left: 5px; 
  
}

.HoverTreeNode 
{ 
  background-color:#cadee3; 
  background-image: url(../images/node_bg_hover.gif); 
  font-family: verdana; 
  font-size: 10px; 
  border:solid 1px #7dabb8; 
  border-bottom-color:#7dabb8; 
  border-right-color:#7dabb8;
  color:#336699;
  cursor: pointer;
  padding: 3px; 
  padding-left: 5px; 
  
} 

.SelectedTreeNode 
{ 
  background-color:#FFFFFF; 
  font-family: verdana; 
  font-size: 10px; 
  padding: 3px; 
  padding-left: 5px; 
  border:solid 1px black; 
  border-bottom-color:#C0C0C0; 
  border-right-color:#C0C0C0; 
  cursor: pointer; 
} 

.TreeNodeRow 
{ 
  height: 20px; 
}

.NotChildUserTree
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: icon;
    COLOR: #1849B5;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    HEIGHT: 12px
}
