
.modal > .modal-dialog > .modal-content .wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
	padding: .5em 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

.modal > .modal-dialog  > .modal-content .wizard span{
	display: inline;
	padding: inherit;
  	font-weight: inherit;
  	background: initial;
  	float: inherit;
  	color: inherit;
  	text-decoration: inherit;
}

.modal > .modal-dialog  > .modal-content .wizard > .steps .number {
	font-size: 1.3em;
}

.modal > .modal-dialog  > .modal-content .wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.modal > .modal-dialog  > .modal-content .wizard > .content {
	min-height: 125px;
}

.modal > .modal-dialog  > .modal-content .wizard, .modal > .modal-dialog  > .modal-content .tabcontrol {
overflow: initial;
}

.modal > .modal-dialog  > .modal-content .wizard > .content > .body {
//position: initial;
//height: initial;
}

.modal > .modal-dialog  > .modal-content .modal-footer.wizard {
    width: initial;
}

.modal > .modal-dialog  > .modal-content input.form-control {
height: 25px;
padding: 1px 6px;
border-radius: 2px;
}

.modal > .modal-dialog  > .modal-content .actions.clearfix {
margin-top: 15px;
padding: 19px 20px 20px;
border-top: 1px solid #e5e5e5;
margin-left: -20px
}

.modal > .modal-dialog  > .modal-content ul.metisFolder {
padding: initial;
margin: initial;
list-style: none !important;
padding-left: 0;
}

.modal > .modal-dialog  > .modal-content .metisFolder ul {
padding: initial;
margin: initial;
list-style: none !important;
padding-left: 40px;
}

.modal > .modal-dialog  > .modal-content .selectize-dropdown-content span.highlight {
	display: initial;
    background: rgba(255, 237, 40, 0.4);
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}