xml{display:none;}
.gecko{-moz-box-sizing:border-box;}
.gecko[onresize]{-moz-binding:url(gecko.xml#resize);}
.gecko[onmouseenter], .gecko[onmouseleave]{-moz-binding:url(gecko.xml#mouse);}
.active-box-normal{position:relative; overflow-y:hidden; height:18px;width:100%;vertical-align:top;border-width:1px;border-style:none none solid none;border-color:#cbc7b8;background-color:#d6d2c2!important;padding-bottom:1px;}
.active-box-item{-moz-box-flex:1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:100%;height:100%;padding:0px 5px;border-width:1px;border-style:none none solid none;border-color:#e2decd;background-color:#ebeadb;}
.active-box-item.gecko{-moz-binding:url(gecko.xml#item);}
.active-gecko-item{display:-moz-inline-box;height:100%;-moz-box-align:center;}
.active-box-image{overflow:hidden; top:0px;left:0px;width:16px;height:100%;line-height:1px;vertical-align:middle;margin:0px 3px -1px 0px;}
.active-box-image.gecko{display:-moz-inline-box;overflow:visible;vertical-align:top;}
.active-image-none{width:0px;margin-right:0px;}
.active-box-resize{position:absolute;overflow:hidden;top:15%;right:-5px;width:10px;height:70%;font-size:100px;background:url(grid.png) -75px 0px repeat-y;cursor:e-resize;}
.active-box-sort{display:-moz-inline-box;overflow:hidden;width:0px;height:100%;vertical-align:top;}
.active-box-item .active-box-image.gecko,.active-box-item .active-box-sort.gecko{height:16px;}
.active-sort-ascending .active-box-sort{width:16px;background:url(grid.png) -20px 50% no-repeat;}
.active-sort-descending .active-box-sort{width:16px;background:url(grid.png) -40px 50% no-repeat;}
.active-box-resize.gecko{position:relative;top:15%;margin-left:-5px;margin-right:-5px;line-height:12px;z-index:1000;}
.active-scroll-data{position:absolute;overflow:hidden;top:0px;left:0px;width:100%;height:100%;padding:18px 0px 0px 28px;z-index:1;}
.active-scroll-top{position:absolute;overflow:hidden;white-space:nowrap;top:0px;left:0px;width:100%;height:18px;padding:0px 20px 0px 28px;z-index:2;}
.active-scroll-left{position:absolute;overflow:hidden;top:0px;left:0px;width:28px;height:100%;padding:18px 0px 20px 0px;text-align:center;z-index:2;}
.active-scroll-corner{position:absolute;overflow:hidden;top:0px;left:0px;width:28px;height:18px;z-index:3;}
.active-scroll-bars{position:absolute;overflow:auto;top:0px;left:0px;width:100%;height:100%;padding:0px;z-index:4;}
.active-scroll-space{width:0px; height:0px;}.active-scroll-fill{display:inline;height:100%;}
.active-scroll-fill.gecko{display:-moz-inline-box;}
.active-scroll-data.gecko,.active-scroll-top.gecko,.active-scroll-left.gecko{overflow:-moz-scrollbars-none;}
.active-controls-grid{position:relative; overflow:hidden;width:100%;height:100%;cursor:default;-moz-user-focus:normal;-moz-user-select:none; text-align:left;}
.active-templates-header{display:inline;width:100px;height:100%;}
.active-header-over{border-color:#f9b119;background:#fcc247!important;}
.active-header-over .active-box-item{border-color:#f9a900;background:#faf9f4;}
.active-header-over .active-box-resize{background:none;}
.active-header-pressed{border-color:threeddarkshadow threedhighlight threedhighlight threeddarkshadow;}
.active-header-pressed .active-box-item{position:relative;left:1px;top:1px;border-color:threedface;}
.active-templates-header.gecko{display:-moz-inline-box;}
.active-templates-row{overflow-y:hidden;white-space:nowrap;width:100%;height:18px;-moz-user-select:none;}
.active-templates-row.gecko{display:-moz-box;width:auto;min-width:100%;}
.active-row-cell{display:inline;overflow:hidden;text-overflow:ellipsis;width:100px;height:100%;padding:0px 5px;line-height:17px;vertical-align:top;}
.active-row-cell.gecko{display:-moz-inline-box;}
.active-selection-true, .active-selection-true .active-row-cell{color:highlighttext!important;background-color:highlight!important;}
.active-column-0{z-index:99}
.active-column-1{z-index:98}
.active-column-2{z-index:97}
.active-column-3{z-index:96}
.active-column-4{z-index:95}
.active-column-5{z-index:94}
.active-column-6{z-index:93}
.active-column-7{z-index:92}
.active-column-8{z-index:91}
.active-column-9{z-index:90}
.active-column-10{z-index:89}
.active-column-11{z-index:88}
.active-column-12{z-index:87}
.active-column-13{z-index:86}
.active-column-14{z-index:85}
.active-column-15{z-index:84}
.active-column-16{z-index:83}
.active-column-17{z-index:82}
.active-column-18{z-index:81}
.active-column-19{z-index:80}
.active-templates-text, .active-templates-image{-moz-binding:url(gecko.xml#box);}
.active-gecko-box{-moz-box-flex:1;overflow:hidden; height:100%;width:100%;}
.active-templates-status, .active-templates-error{padding:5px;}
.active-scroll-left .active-box-normal{border-top:1px solid #faf9f4;border-right:1px solid #d6d2c2;border-bottom:none;}
.active-image-txt{background:url(icons.png)  -20px 50% }
.active-image-htm{background:url(icons.png)  -40px 50% }
.active-image-xls{background:url(icons.png)  -60px 50% }
.active-image-doc{background:url(icons.png)  -80px 50% }
.active-image-pdf{background:url(icons.png) -100px 50% }
.active-image-xml{background:url(icons.png) -120px 50% }
.active-image-msi{background:url(icons.png) -140px 50% }
.active-image-chm{background:url(icons.png) -160px 50% }
.active-box-image{background-repeat:no-repeat}
.active-image-loading{position:relative;top:20px;left:0px;width:107px;height:13px;margin-right:-107px;background:url(loading.gif) no-repeat;}


.prntOnly
{
	display:none;
}
.noteBody, .previewBody
{
	BACKGROUND-COLOR:buttonface;
	MARGIN:0;
	OVERFLOW:hidden;
	PADDING:0px 0px 0px 5px;
}
.tblViewContainer
{
	HEIGHT:100%;
	WIDTH:100%;
}
.divViewStatus
{
	TEXT-ALIGN:center;
	PADDING-TOP: 10PX;
}
.noteBody
{
	PADDING:5px;
}
.btnRecip
{
	WIDTH:100%;
	CURSOR:pointer;
}
.btnAttach
{
	WIDTH:100%;
	CURSOR:pointer;
}
.mainBody
{
	BACKGROUND-COLOR:buttonface;
	MARGIN:0;
	OVERFLOW-Y:hidden;
}
.msgViewer
{
	BACKGROUND-COLOR:window;
	OVERFLOW:auto;
	POSITION:relative;
	Z-INDEX:-1;
}
.msgPreview
{
	MARGIN-TOP:5;
	PADDING:0;
}
.msgPreview, .msgViewer
{
	WIDTH:100%;
}
.msgHeader
{
	BACKGROUND-COLOR:transparent;
	POSITION:relative;
	PADDING:0px;
	WIDTH:100%;
}
.msgHdrCN1
{
	WIDTH:7.1em;
}
.postHdr1
{
	WIDTH:10em;
}
.msgHdr_Appt
{
	PADDING:2px;
}
.msgHdrP1
{
	WIDTH:7.5em;

}
.msgHdrN1
{
	WIDTH:4.5em
}
.msgHdrN3
{
	text-align:right;
	WIDTH:3.8em
}
.msgHdrP3
{
	text-align:right;
	WIDTH:5em;
}
.msgHdrN4, .msgHdrP4
{
	VERTICAL-ALIGN:top;
	WIDTH:13.8em
}
.previewHdr
{
	BACKGROUND-COLOR:transparent;
	WIDTH:100%;
	HEIGHT:100%;
	OVERFLOW:hidden;
	PADDING:0;
}
.preHdrN1, .preHdrC1, .preHdrP1, .preHdrR1, .preHdrA1
{
	MARGIN-RIGHT:0.3em;
}
.preHdrN3, .preHdrC3, .preHdrP3, .preHdrR3, .preHdrA3
{
	PADDING-LEFT:0.3em;
	MARGIN-RIGHT:0.3em;
	text-align:right;
}
.preHdrN5, .preHdrA5, .preHdrP5
{
	PADDING-RIGHT:5px;
}
.fldLabel
{
	WIDTH:15%;
	VERTICAL-ALIGN:top;
}
.fldApptLabel
{
	WIDTH:15%;
}
.fldText
{
	WIDTH:100%;
	HEIGHT:100%;
	OVERFLOW:auto;
}
.fldTextRecip
{
	WIDTH:100%;
	OVERFLOW:auto;
}
.cbToolbar
{
	HEIGHT:30px;
	WIDTH:100%;
	PADDING:0px;
	BACKGROUND-COLOR:threedface;
}
.tbDivider
{
	BORDER-RIGHT:2 groove;
}
.tbButton, .tbButtonDown, .tbButtonRaise
{
	COLOR:buttontext;
	CURSOR:pointer;
	HEIGHT:24;
	BORDER:1px solid buttonface;
	PADDING:2px 2px 2px 2px;
	TEXT-DECORATION:none;
	MARGIN-TOP:1;
}
.tbButtonDown
{
	BORDER-COLOR:threeddarkshadow threedhighlight threedhighlight threeddarkshadow;
}
.cbSubmenuItem
{
	COLOR:buttontext;
	PADDING-RIGHT:8px;
	WIDTH:100%;
	TEXT-DECORATION:none;
	BORDER:solid 1 menu;
	CURSOR:default;
}
.tbDisabled
{
	FILTER:alpha(opacity=35);
	CURSOR:pointer;
}
.fbButton
{
	BORDER:1px solid;
	BORDER-COLOR:menu;
	HEIGHT:22px;
	WIDTH:22px;
	CURSOR:pointer;
	MARGIN:0;
	PADDING:0;
	MARGIN:0;
	VERTICAL-ALIGN:TOP;
}
.cbSubmenu
{
	BACKGROUND-COLOR:menu;
	BORDER:outset 2 white;
	COLOR:menutext;
	POSITION:absolute;
	Z-INDEX:10000;
}
.AttachTable
{
	BACKGROUND-COLOR:transparent;
	PADDING:0px;
}
.AttachmentWell
{
	BORDER:none;
	WIDTH:100%;
	PADDING-RIGHT:5px;
}
.viewBody
{
	BACKGROUND-COLOR:window;
	OVERFLOW:auto;
	POSITION:relative;
	Z-INDEX:-1;
	WIDTH:100%
}
.tblMsgBody
{
	BACKGROUND-COLOR:window;
	OVERFLOW:auto;
	HEIGHT:100%;
	BORDER:2 solid;
	BORDER-COLOR:threeddarkshadow threedshadow threedshadow threeddarkshadow;
	FONT-SIZE:small;
}
.msgPreviewBody
{
	BACKGROUND-COLOR:window;
	BORDER-TOP: 5 solid buttonface;
	BORDER-BOTTOM: 5 solid buttonface;
}
.txtBody
{
	BACKGROUND-COLOR:window;
	HEIGHT:100%;
	WIDTH:100%;
}
.MSGBODY
{
	WIDTH:100%;
	OVERFLOW-Y:scroll;
	OVERFLOW-X:auto;
}
.MSGBODYFRM
{
	BACKGROUND-COLOR:WINDOW;
	PADDING-LEFT:2px;
	BORDER:solid 2px;
	BORDER-COLOR:threeddarkshadow threedshadow threedshadow threeddarkshadow;
}
.FORMATBAR
{
	BACKGROUND-COLOR:threedface;
	HEIGHT:26px;
	PADDING:0;
	MARGIN:0;
	OVERFLOW:visible;
	POSITION:relative;
}
.rnStatusRow
{
  PADDING-BOTTOM:6px;
}
.rnStatusImg
{
	BORDER:none;
	POSITION:relative;
	TOP:3px;
	LEFT:3px;
	HEIGHT:13px;
	WIDTH:13px;
}
.rnStatusBar, .viewStatusBar, .rnOnlineBar
{
  BACKGROUND-COLOR:infobackground;
  COLOR:infotext;
}
.viewStatusBar
{
  PADDING-LEFT: 2px;
}
.viewStatusImg
{
	BORDER:none;
	HEIGHT:13px;
	WIDTH:13px;
}
.rnOnlineImg
{
	BORDER:none;
	POSITION:relative;
	TOP:3px;
	LEFT:3px;
	HEIGHT:16px;
	WIDTH:16px;
}
.grpLEFT
{
	BORDER-LEFT:groove 2 threedhighlight
}
.grpRIGHT
{
	BORDER-RIGHT:groove 2 threedhighlight;
	PADDING-RIGHT:4;
}
.grpTop
{
	BORDER-TOP:groove 2 threedhighlight;
}
.grpBottom
{
	BORDER-BOTTOM:groove 2 threedhighlight;
	PADDING-BOTTOM:4;
}

.bdyView
{
	BACKGROUND-COLOR:threedface;
	BORDER: 0;
	MARGIN:0;
	PADDING:0;
	OVERFLOW:hidden;
}
.tdFolderPath
{
	BACKGROUND-COLOR:appworkspace;
	BORDER:1px solid windowframe;
	FONT-WEIGHT:bolder;
}
.tdFolderPath A
{
	TEXT-DECORATION:none;
}
.tabselected
{
	BACKGROUND-COLOR:transparent;
	FONT-WEIGHT:bold;
	BORDER:solid 1 threedhighlight;
	BORDER-RIGHT:solid 1 threedshadow;
	BORDER-BOTTOM:none;
	TEXT-ALIGN:center;
	CURSOR:default;
}
.tabsunselected
{
	BACKGROUND-COLOR:transparent;
	FONT-WEIGHT:normal;
	BORDER:solid 1 threedshadow;
	BORDER-BOTTOM:solid 1 threedhighlight;
	BORDER-TOP:solid 1 threedhighlight;
	TEXT-ALIGN:center;
	CURSOR:pointer;
}
.tabsnone
{
	WIDTH:100%;
	BORDER-BOTTOM:solid 1 threedhighlight;
}
.tabHeader
{
	BACKGROUND-COLOR:transparent;
	POSITION:relative;
	PADDING:0px;
	BORDER:none;
	WIDTH:100%;
	MARGIN-TOP:5px;
}
.tabdiv
{
	border:solid 1;
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
	border-top:none;
	width:100%;
}

.tabdivHide
{
	display:none;
	width:100%;
}

.datepicker_date
{
	text-align:left;
}
.datepicker_time
{
	width:8em;
	text-align:left;
}
.apptTdDatePicker
{
	border-top:outset 2 highlighttext;
	border-bottom:inset 2 highlighttext;
	padding:5px;
}
.fldrTitleBar
{
	BACKGROUND-COLOR:APPWORKSPACE;
	WIDTH:"100%";
}
.fldrTitleBar A
{
	TEXT-DECORATION:none;
}
.AttachTable, .cbToolbar, .cbSubmenu, .fldFont, .fldText, .msgHeader, .fldLabel,
.trButtons, .msgViewer, .appointment, .rnOnlineBar, .viewStatusBar,
.appointmentBody, .tabHeader, BODY
{
	FONT-SIZE:x-small;
}
.cbToolbar IMG, .cbSubmenu IMG
{
	BORDER:none;
	HEIGHT:20px;
	WIDTH:20px;
	MARGIN-RIGHT:3px;
}
.cbToolbar TD
{
	VERTICAL-ALIGN:middle;
}
.FORMATBAR, .cbToolbar, .tbButtonRaise,
.tbButton A:hover, .tbButton:hover
{
	BORDER:1px solid;
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
}
.cbSubmenuItem A:hover, .cbSubmenuItem:hover
{
	BACKGROUND-COLOR:highlight;
	COLOR:highlighttext;
}
.cbSubmenuItem SPAN
{
	MARGIN:10;
	PADDING:5px 3px 3px 3px;
}
SELECT, INPUT, TEXTAREA, BUTTON, TABLE
{
	FONT-SIZE:100%;
}
.attachList
{
	OVERFLOW-Y:auto;
	OVERFLOW-X:hidden;
	HEIGHT:8em;
	WIDTH:100%;
	BORDER:2 inset;
	BACKGROUND-COLOR:window;
}
.optsCheckBox, .optsRadio
{
	MARGIN-RIGHT:0.5em;
}

.prntOnly
{
	DISPLAY:block;
}
.noPrint
{
	DISPLAY:none;
}
.tdFolderPath
{
	background-color:white;
	color:black;
	border:none;
}
.curUser
{
	FONT-WEIGHT:bolder;
	FONT-SIZE:larger;
}
.cbToolbar, .trButtons, .divCalendarRightPane
{
	DISPLAY:none;
}
.fldLabel
{
	WIDTH:10%;
	FONT-WEIGHT:bolder;
	VERTICAL-ALIGN:top;
}
.fldApptLabel
{
	WIDTH:10%;
	FONT-WEIGHT:bolder;
}
.fldText
{
	HEIGHT:auto;
	OVERFLOW:visible;
}
.btnRecipDiv
{
	MARGIN-LEFT:0px;
}
.fldTextRecip U
{
	TEXT-DECORATION:none;
}
.fldInput
{
	BORDER:none;
}
.btnRecip
{
	BORDER:medium none;
	FONT-WEIGHT:bolder;
}
.tbButton
{
	BORDER:medium none;
	FONT-WEIGHT:bolder;
}
.msgHeader
{
	BORDER-TOP:thick solid;
	PADDING:0;
}
.msgHdr_Appt
{
	PADDING:0px;
}
.MSGBODY
{
	HEIGHT:auto;
	WIDTH:100%;
	OVERFLOW:visible;
	MARGIN-TOP:1em;
}
.txtBody
{
	HEIGHT:auto;
	OVERFLOW:visible;
	BORDER:none;
	BORDER-TOP:thick double;
}
.viewBody
{
	OVERFLOW:visible;
	HEIGHT:auto;
}
.MSGBODYFRM
{
	BACKGROUND-COLOR:WINDOW;
	BORDER:medium none;
}
.tabdiv
{
	border:NONE;
}
.tabdivHide
{
	DISPLAY:block;
	border:NONE;
}
.grpLEFT, .grpRIGHT, .grpTop, .grpBottom
{
	BORDER:none;
}

.calViewContainer1, .divCalendarView
{
	OVERFLOW:visible;
	width:100%;
}
.dailyRowContainer
{
	BORDER:1px solid appworkspace;
	HEIGHT:60px;
	OVERFLOW:hidden;
	POSITION:relative;
	WIDTH:expression(this.parentElement.clientWidth);
	Z-INDEX:-1;
}
.tblMsgBody
{
	OVERFLOW:visible;
	HEIGHT:auto;
	border = 0px;
}
SELECT
{
	BORDER:none;
	BACKGROUND-COLOR:transparent;
}
BUTTON
{
	BORDER:none;
	BACKGROUND-COLOR:transparent;
	FONT-WEIGHT:bolder;
	TEXT-ALIGN:left;
}
.datepicker_date, .datepicker_time
{
	border:none;
}
.apptTdDatePicker
{
	border:none;
	padding:0px;
}
.contactSummary
{
	BORDER-TOP:1px solid black;
	BORDER-BOTTOM:2px solid black;
}
.contactSummary TD
{
	PADDING-RIGHT:4em;
}
#prntFileAs
{
	FONT-SIZE:large;
}
