.calendar_table{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	color: #008888;
	background-color: #ffffff;
}
.calendar_header{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #008888;
	padding: 2px;
}
.calendar_dayname {
	color: #ffffff;
	background-color: #008888;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	padding: 2px;
}

.calendar_day {
	color: #008888;
	background-color: #ffffff;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	padding: 1px;
}

.calendar_today {
	color: #ffffff;
	background-color: #008888;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	padding: 1px;
}

.calendar {
	border: 2px outset white;
	visibility: hidden;
	position: absolute;
	top: 1px;
	left: 1px;
}
