html, body, p, div,  {
	background-color: white;
	font-family: MS Shell Dlg; 
	font-size: 8pt;
}
table, tr, th, td {
	background-color: white;
	font-family: MS Shell Dlg; 
	font-size: 8pt;
}
input, textarea, select, option, button { 
	font-family: MS Shell Dlg; 
	font-size: 8pt;
}
form {
	margin: 0;
	border: 0;
	padding: 0;
}
h1 {
	font-family: MS Shell Dlg;
	font-weight: 800;
	font-size: 250%;
	color: #000066;
	margin: 15px;
	border: 0;
	padding: 0;
}
h2 {
	font-family: MS Shell Dlg;
	font-weight: 600;
	font-size: 150%;
	color: #000066;
	margin: 10px;
	border: 0;
	padding: 0;
}
h3 {
	font-family: MS Shell Dlg;
	font-weight: 400;
	color: #000066;
	font-size: 125%;
	margin: 5px;
	border: 0;
	padding: 0;
}
h5 {
	font-weight: 800;
	font-size: 100%;
	color: #000066;
	margin: 0;
	border: 0;
	padding: 0;
}
h6 {
	font-family: MS Shell Dlg;
	font-weight: 400;
	font-size: 100%;
	color: #000066;
	margin: 0;
	border: 0;
	padding: 0;
}
img {
	margin: 0;
	border: 0;
	padding: 0;
}
