body {
	padding-right: 0px; 
	padding-left: 0px; 
	padding-bottom: 0px; 
	margin: 0px; 
	overflow: hidden; 
	padding-top: 0px
}
html {
	padding-right: 0px; 
	padding-left: 0px; 
	padding-bottom: 0px; 
	margin: 0px; 
	overflow: hidden; 
	padding-top: 0px
}
.active-box-normal {
	border-right: #00c7b8 1px; 
	border-right: #006868 1px; 
	border-top: #cbc7b8 1px; 
	border-top: #006868 1px; 
	overflow-y: hidden;
	padding-bottom: 1px; 
	vertical-align: top; 
	border-left: #cbc7b8 1px;
	border-left: #005959 1px;
	width: 100%; 
	border-bottom: #cbc7b8 1px solid; 
	border-bottom: #005959 1px solid; 
	position: relative;
	height: 18px; 
	background-color: #d6d2c2! important;
	background-color: #006868! important;
	color: white;
}
.active-box-item {
	border-right: #e2decd 1px; 
	border-right: #00b7b7 1px; 
	padding-right: 5px; 
	border-top: #e2decd 1px;
	border-top: #00b7b7 1px;
	padding-left: 5px; 
	padding-bottom: 0px; 
	overflow: hidden; 
	border-left: #e2decd 1px; 
	border-left: #007979 1px; 
	width: 100%; 
	padding-top: 0px; 
	border-bottom: #e2decd 1px solid; 
	border-bottom: #007979 1px solid; 
	white-space: nowrap; 
	height: 100%; 
	text-overflow: ellipsis; 
	background-color: #ebeadb; 
	background-color: #008888; 
	moz-box-flex: 1
}
.active-box-image {
	left: 0px; 
	margin: 0px 3px -1px 0px; 
	vertical-align: middle; 
	overflow: hidden; 
	width: 16px; 
	line-height: 1px; 
	top: 0px; 
	height: 100%
}
.active-image-none {
	width: 0px; 
	margin-right: 0px
}
.active-box-resize {
	font-size: 100px; 
	right: -5px; 
	background: url(grid.png) repeat-y -75px 0px; 
	overflow: hidden; 
	width: 10px; 
	cursor: e-resize; 
	position: absolute; 
	top: 15%; 
	height: 70%
}
.active-box-sort {
	vertical-align: top; 
	overflow: hidden; 
	width: 0px; 
	height: 100%
}
.active-sort-ascending .active-box-sort {
	background: url(grid.png) no-repeat -20px 50%;
	width: 16px
}
.active-sort-descending .active-box-sort {
	background: url(grid.png) no-repeat -40px 50%; 
	width: 16px
}
.active-scroll-data {
	padding-right: 0px; 
	padding-left: 0px; 
	z-index: 1; 
	left: 0px;
	padding-bottom: 0px; 
	overflow: hidden; 
	width: 100%; 
	padding-top: 18px; 
	position: absolute; 
	top: 0px; 
	height: 100%
}
.active-scroll-top {
	padding-right: 20px; 
	padding-left: 0px; 
	z-index: 2; 
	left: 0px; 
	padding-bottom: 0px; 
	overflow: hidden; 
	width: 100%; 
	padding-top: 0px; 
	white-space: nowrap; 
	position: absolute; 
	top: 0px; 
	height: 18px
}
.active-scroll-bars {
	padding-right: 0px; 
	padding-left: 0px; 
	z-index: 4; 
	left: 0px; 
	padding-bottom: 0px; 
	overflow: auto; 
	width: 100%; 
	padding-top: 0px; 
	position: absolute; 
	top: 0px; 
	height: 100%
}
.active-scroll-space {
	width: 0px; 
	height: 0px
}
.active-scroll-fill {
	display: inline; 
	height: 100%
}
.active-controls-grid {
	overflow: hidden; 
	width: 100%; 
	cursor: default; 
	position: relative; 
	height: 100%; 
	text-align: left
}
.active-templates-header {
	display: inline; 
	width: 100px; 
	height: 100%
}
.active-header-over {
	border-left-color: #f9b119; 
	background: #fcc247; 
	background: #00acac; 
	border-bottom-color: #f9b119; 
	border-top-color: #f9b119; 
	border-right-color: #f9b119
}
.active-header-over .active-box-item {
	border-left-color: #f9a900; 
	background: #faf9f4;
	background: #00acac;
	border-bottom-color: #f9a900; 
	border-top-color: #f9a900; 
	border-right-color: #f9a900
}
.active-header-over .active-box-resize {
	background: none transparent scroll repeat 0% 0%
}
.active-header-pressed {
	border-left-color: threeddarkshadow; 
	border-bottom-color: buttonhighlight; 
	border-top-color: threeddarkshadow; 
	border-right-color: buttonhighlight
}
.active-header-pressed .active-box-item {
	border-left-color: buttonface; 
	left: 1px; 
	border-bottom-color: buttonface; 
	border-top-color: buttonface; 
	position: relative; 
	top: 1px; 
	border-right-color: buttonface
}

.active-templates-row {
	cursor: hand;
	overflow-y: hidden; 
	width: 100%; 
	white-space: nowrap; 
	height: 18px; 
	moz-user-select: none
}
.active-row-cell {
	padding-right: 5px; 
	display: inline; 
	padding-left: 5px; 
	padding-bottom: 0px; 
	vertical-align: top; 
	overflow: hidden; 
	width: 100px; 
	line-height: 17px; 
	padding-top: 0px; 
	height: 100%; 
	text-overflow: ellipsis
}
.active-row-alternate {
	background-color: #fcfaf6
}
.active-selection-true .active-row-cell {
	color: highlighttext! important; 
	background-color: highlight! important
}
.active-selection-true {
	color: highlighttext! important; 
	background-color: highlight! important
}
.active-selection-true .active-row-cell {
	color: highlighttext! important; 
	background-color: highlight! important
}
.active-column-0 {
	z-index: 99
}
.active-column-1 {
	z-index: 98
}
.active-column-2 {
	z-index: 97
}
.active-column-3 {
	z-index: 96
}
.active-column-4 {
	z-index: 95
}
.active-column-5 {
	z-index: 94
}
.active-column-6 {
	z-index: 93
}
.active-column-7 {
	z-index: 92
}
.active-column-8 {
	z-index: 91
}
.active-column-9 {
	z-index: 90
}
.active-column-10 {
	z-index: 89
}
.active-column-11 {
	z-index: 88
}
.active-column-12 {
	z-index: 87
}
.active-column-13 {
	z-index: 86
}
.active-column-14 {
	z-index: 85
}
.active-column-15 {
	z-index: 84
}
.active-column-16 {
	z-index: 83
}
.active-column-17 {
	z-index: 82
}
.active-column-18 {
	z-index: 81
}
.active-column-19 {
	z-index: 80
}
.active-templates-status {
	padding-right: 5px; 
	padding-left: 5px; 
	padding-bottom: 5px;
	padding-top: 5px
}
.active-templates-error {
	padding-right: 5px; 
	padding-left: 5px; 
	padding-bottom: 5px; 
	padding-top: 5px
}
.active-scroll-left .active-box-normal {
	border-right: #d6d2c2 1px solid; 
	border-top: #faf9f4 1px solid; 
	border-bottom: medium none
}
.active-grid-column {
	border-right: threedlightshadow 1px solid
}
.active-grid-row {
	border-bottom: threedlightshadow 1px solid
}
