/*this section contains all positional ids*/

/*this section contains all formatting classes*/
.menu {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: right;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.path {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.path_table {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
	}
.path_left {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.path_right {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: right;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.message {
	font-family: MS Shell Dlg;
	font-size: 12px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: left;
	width: 100%;
	margin: 4px;
	border: 0;
	padding: 2px;
	background: #FF0000;
	}
.contents {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.contents_title {
	font-family: MS Shell Dlg;
	font-size: 16px;
	font-weight: 800;
	color: #008888;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
	}
.collection_title {
	font-family: MS Shell Dlg;
	font-size: 16px;
	font-weight: 800;
	color: #008888;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
	}
.collection_buttons {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
}
.collection_associateButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_dissociateButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_addButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_removeButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_OkButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_CancelButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.collection_table {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
}
.collection_field_title {
	cursor: hand;
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	background-color: #008888;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.collection_field_value {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.collection_title_checkbox {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	color: #FFFFFF;
	background-color: #008888;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	width: 20px;
}
.collection_title_checkbox input {
	background-color: #008888;
	border: 0;
}
.collection_value_checkbox {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
	width: 20px;
}
.collection_value_checkbox input {
	background-color: #FFFFFF;
	border: 0;
}
.collection_title_number {
	cursor: hand;
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: right;
	color: #FFFFFF;
	background-color: #008888;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.collection_value_number {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: right;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.object {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 4px;
}
.object_title {
	font-family: MS Shell Dlg;
	font-size: 16px;
	font-weight: 800;
	color: #008888;
	text-align: left;
	vertical-align: middle;
	margin: 0;
	border: 0;
	padding: 0;
}
.object_buttons {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
}
.object_homeButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_removeButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_editButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_okButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_cancelButton {
	cursor: hand;
	margin: 2px;
	border: 0;
	padding: 0;
}
.object_table {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
}
.object_field_title {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #008888;
	width: 25%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.object_field_value {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 25%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.object_field_value_1 {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 25%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.object_field_value_2 {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 50%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.object_field_value_3 {
	font-family: MS Shell Dlg;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	width: 75%;
	margin: 0;
	border: 0;
	padding-left: 4px;
	padding-right: 4px;
}
.disabled {
	color: #000000;
	background-color: #ffffff;
}

