<div class="modal fade bs-<%=bsModalSize%>">
  <div class="modal-dialog <%=bsModalSize%>">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= modalTitle %></h4>
      </div>
      <div class="modal-body">
        <%= modalBody %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= labelClose %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>