@font-face {
	font-family: 'Lato';
	src: url('Lato-Regular.ttf');
}
@font-face {
	font-family: 'Lato Regular';
	src: url('Lato-Regular.ttf');
}
@font-face {
	font-family: 'Lato Black';
	src: url('Lato-Black.ttf');
}
@font-face {
	font-family: 'Lato BlackItalic';
	src: url('Lato-BlackItalic.ttf');
}
@font-face {
	font-family: 'Lato Bold';
	src: url('Lato-Bold.ttf');
}
@font-face {
	font-family: 'Lato BoldItalic';
	src: url('Lato-BoldItalic.ttf');
}
@font-face {
	font-family: 'Lato Italic';
	src: url('Lato-Italic.ttf');
}
@font-face {
	font-family: 'Lato Light';
	src: url('Lato-Light.ttf');
}
@font-face {
	font-family: 'Lato LightItalic';
	src: url('Lato-LightItalic.ttf');
}
@font-face {
	font-family: 'Lato Medium';
	src: url('Lato-Medium.ttf');
}
@font-face {
	font-family: 'Lato MediumItalic';
	src: url('Lato-MediumItalic.ttf');
}
@font-face {
	font-family: 'Lato Thin';
	src: url('Lato-Thin.ttf');
}
@font-face {
	font-family: 'Lato ThinItalic';
	src: url('Lato-ThinItalic.ttf');
}
