html{
	background-color: #E6E6E6;
}
body{
	background-color: #E6E6E6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.div_main{
	width: 100%;
	background-color: #E6E6E6;
}
.div_center{
	width: 1280px;
	height: 500px;
	margin:0 auto;
}
.spacer{
	width: 100%;
}
.div_image_warning{
	width: 624px;
	height: 336px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 25px;
}
.div_image_message{
	width: 500px;
	height: 150px;
	margin: 0 auto;
}
.div_image_message span{
	font-size: 18px;
}

.div_browserLogo_container{
	width: 100%;
	height: 135px;
}

.div_browserLogo_container div{
	background-repeat: no-repeat;
}

#browser_Safari{
	width: 98px;
    height: 95px;
    float: left;
    margin-left: 52px;
    margin-top: 35px;
    background-image: url("images/safari.png");
}

#browser_IE{
	width: 98px;
    height: 95px;
    float: left;
    margin-left: 45px;
    margin-top: 30px;
	background-image: url("images/explorer.png");
}

#browser_Firefox{
	width: 98px;
    height: 95px;
	float: left;
	margin-left: 45px;
    margin-top: 45px;
	background-image: url("images/firefox.png");
}

#browser_Chrome{
	width: 98px;
    height: 95px;
    float: left;
    margin-left: 45px;
    margin-top: 35px;
	background-image: url("images/chrome.png");
}

.div_warning {
	width:50px;
	height:45px;
}

.shown{
	background-image: url("images/warning.png");
	margin-top: 45px;
}

.hidden {
	display: none;
}

#browser_Firefox .shown{
	margin-top: 35px;
}