#sw-slots .sw-center { text-align:center; }

            @media only screen and (max-device-width: 1024px) and (orientation:portrait) {
                #dialogEditServer {
                    height:100%;
                }
                #dialogServers {
                    height:100%;
                }
                #dialogNewServer {
                    height:100%;
                }
                #loginpage {
                    height:100%;
                }
            }
            @media only screen and (max-device-width: 1024px) and (orientation:landscape) {
                #dialogEditServer {
                    height:100%;
                }

                #dialogServers {
                    height:100%;
                }

                #dialogNewServer {
                    height:100%;
                }

                #loginpage {
                    height:100%;
                }
            }