<form role="form">
	<style>
			
		.field {
		  width: 150px;
		  border: 1px solid #E0E0E0;
		  padding: 4px;
		  float: left;
		  margin-right: 8px;
		  margin-bottom: 8px;
		  cursor: pointer;
		}
		.field div {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 142px;
			float: left;
		}
		.field i {
			display: none;
			float: right;
			margin-top: 4px;
		}
		.field:hover {
			background-color: rgba(0, 0, 0, 0.56);
			color: #FFFFFF;
		}
		.field:hover div {
			width: 127px;
		}
		.field:hover i.icon-check-empty {
			display: block;
		}
		.field.selected {
			background-color: #128888;
			color: #FFFFFF;
		}
		.field.selected div {
			width: 127px;
		}
		.field.selected i.icon-check {
			display: block;
		}
		.field.selected i.icon-check-empty {
			display: none;
		}
		.mappingfield {
			margin-bottom: 10px;
		}
		.alert.alert-danger {
			display: none;
		}
		
		.modal > .modal-dialog > .modal-content .wizard > .content {
			min-height: 310px;
		}
		.selectize-input {
			min-height: 28px;
			padding: 3px 10px;
		}
		.fields .form-group {
			margin-bottom: 10px;
			width: 50%;
			float: left;
		}
		.modal.material .modal-dialog .modal-content .modal-body .form-group>label {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.modal.material form {
			overflow: inherit;
		}
		.modal .fieldsnew {
			clear: both;
			padding-top: 5px;
			border-top: 1px solid #FFFFFF;
			margin-top: 12px;
		}
		.modal .fieldsnew h3 {
			margin-bottom: 12px;
		}

	</style>
	<div style="position: relative;  top: -59px;  left: 0px;height: 0px;"><div class="alert alert-danger" style="">Error!</div></div>
    <h1>Select App</h1>
    <section>
    	<div style="margin-top: 70px;width: 370px;margin-left: auto;margin-right: auto;">
			<label>* Select App</label>
			<select id="apps" name="Apps"></select>
		</div>
    </section>

    <h1>Select Catalog</h1>
    <section>
    	<div style="margin-top: 70px;width: 370px;margin-left: auto;margin-right: auto;">
			<label>* Select Catalog</label>
			<select id="catalogs" name="Catalogs"></select>
		</div>
    </section>

    <h1 title="Select fields">Select fields</h1>
    <section class="finishstep">
    	<div class="mappingselect">
	    	<div>
	    		<div class="catalogname form-group">
	    			<label for="catalogName">Catalog name</label>
	    			<input type="text" class="form-control" id="catalogName" name="catalogName" placeholder="name">
	  			</div>
	  		</div>
	    	<div class="fields"></div>
	    	<div class="fieldsnew">
	    		<h3>Add new attributes</h3>
	    		<div class="listnewfields"></div>
	    	</div>
    	</div>
    	<div class="creatingtables" style="display: none">
    		<img src="loadexcel/images/loading1.gif" style="vertical-align: sub;">Creating tables and loading data...
    	</div>
    </section>
    <div style="display: none" id="tLoadExcel">Load from eBavel</div>
    <div style="display: none" id="tPrevious">Previous</div>
    <div style="display: none" id="tFinish">Finish</div>
    <div style="display: none" id="tNext">Next</div>
    <div style="display: none" id="tSelectAttribute">Select Attribute</div>
    <div style="display: none" id="tCreatingTables">Creating tables and loading data</div>
</form>