/* 
    Document   : uiTheme
    Created on : 14/03/2014, 11:42:36 AM
    Author     : rtorres
    Description:
        Purpose of the stylesheet follows.
*/
/*				NAVEGACION*/
/*(FONDO)*/
.top-bar .global-nav .global-nav-inner 
{
/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #FF660D 0%, #EFC35D 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #FF660D 0%, #EFC35D 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #FF660D 0%, #EFC35D 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FF660D), color-stop(1, #EFC35D));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #FF660D 0%, #EFC35D 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #FF660D 0%, #EFC35D 100%);
}
/*(ICONO Y SELECTOR DE MOUSE Y FLECHA DE DESPLIEGUE)*/
a {
    color: #BCFF10;
}
a:hover{
	color: #0FC41D;
}
/*COLOR DE LETRAS*/
.global-nav .navigation ul > li span {
    color: #FFF7F7;
}
/*		    LETRAS (INTERIOR DE LOS INPUT, CABEZERAS,ETC)*/
.ui-body-w {
    color: #FFB800;
}
/*		    LETRAS DE LAS FORMAS*/
.form-add-element-new-page label.ui-input-text {
    
}
/*		BOTONES*/
.btn.btn-basic {
    border: none;
	background: transparent;
	font-weight: normal;
	color: white;
	box-shadow: none;
}
/*	    BOTONES BORDE AL ESTAR SOBRE*/
.btn.btn-basic:hover {
    border: none;
	background: none;
	font-weight: normal;
	color: #FFCC00;
}
.dropdown-menu {
	background-color: #FF8F00;
}
.dropdown-header {
color: #000;
}
/*fondo de la forma y la vista*/
.tab_content {
background-color: #FFFFFF;
}
/*Fondo Select*/
.tablelocation div select {
	margin-right: 10px;
	background-color: inherit;
}
.locationPageSize{
	background-color: inherit;
}
/*COLOR DE LAS LETRAS DENTRO DE LA VISTA*/
.table-view TD {
	color: #000;
	font-weight: bold
}
/*COLOR DE LAS CABEZERAS DE LA VISTA*/
.table-view TH {
color: #000; 
}
/*INTERLINEADO DE LAS VISTAS*/
/*PRIMARIAS*/
.table-view tbody TR:nth-child(odd) {
    background: #FFFF;
}
/*SECUNDARIAS*/
.table-view tbody TR:nth-child(even) {
 background-color: #FFE7A9;
}
.ui-dialog-title{
color:white;
}
.ui-dialog-titlebar{
background-color:#012AAC;
}

input,select {
	color:black;
}
.global-nav .navigation .nav li a:hover {
cursor: pointer;
background-color: rgb(103, 129, 0);
}
/*FONDO DE LOS INPUTS*/
.form-add-element-new-page input.ui-input-text, textarea.ui-input-text, .form-add-element-new-page input[data-role="datebox"], .form-add-element-new-page .hasDatepicker, .form-add-element-new-page .hasTimeEntry {
    border-color: silver #D9D9D9 #D9D9D9 #D9D9D9;
    background-color: #FFFFFF;
}
/*PLACEHOLDER DE LOS IMPUT*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #AFAFCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #AFAFCC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #AFAFCC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #AFAFCC;
}
/*BACKDROUD DE BODY*/
.ui-mobile .ui-page-active{
/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #EFC35D 0%, #BDFF9C 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #EFC35D 0%, #BDFF9C 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #EFC35D 0%, #BDFF9C 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #EFC35D), color-stop(1, #BDFF9C));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #EFC35D 0%, #BDFF9C 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #EFC35D 0%, #BDFF9C 100%);
}
.div-table-content .controlMenuTable .menuTable {
	background-color: #00D6FF;
}

.form-add-element-new-page label.ui-input-text {
	color: #FFFFFF;
}
/* select option {
    background-color: rgb(45, 11, 180);
} */

/*SETUP*/
#setupPage h2 {
color: #000;
}
#setupPage p {
font-size: 12px;
color: black;
}
#setupPage .setupList LI {
font-type: initial;
color: #0E0101;
text-shadow: initial;
}
.setup_page .box {
background-color: #FFFFF;
}
.setup_page .tab{
background-color: #FFFFFF;
}
.setup_page.tab .heading {
color: black;
text-shadow: initial; 
}
.setup_page.tab .menu_tab li {
color: black;
text-shadow: initial;
font-weight:bold;
}
.ui-datepicker-calendar {
background-color: #FFF;
}
/*.ui-widget-content{
	background-color:#012AAC;
}*/
.ui-widget-header {
background-color: rgb(255, 194, 0) !important;
background: initial;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background-color: rgb(0, 0, 150) !important;
font-weight: normal;
color: #FFFAFA;
background: initial;
}
.ui-state-default .ui-state-highlight{
background-color: rgb(40, 169, 255) !important;
}
.div-table {
border: 1px solid #5E97EC;
}

.dropdown-menu>li>a {
color: #FFF;
}
.form-add-element-new-page input.ui-input-text, textarea.ui-input-text, .form-add-element-new-page input[data-role="datebox"], .form-add-element-new-page .hasDatepicker, .form-add-element-new-page .hasTimeEntry {
/*border-color: rgb(255, 211, 97)*/
}
.form-add-element-new-page label.ui-input-text {
color: #000000;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background-color: rgb(255, 184, 0) !important;
color:black;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
background-color: white !important;
}