/* 
    Document   : uiTheme
    Created on : 14/03/2014, 11:42:36 AM
    Author     : rtorres
    Description:
        Purpose of the stylesheet follows.
*/
/*				NAVEGACION*/
/*(FONDO)*/
.top-bar .global-nav .global-nav-inner 
{
    border: 1px solid #0812FF;
    /*background: #453326;*/
    color: #e3ddc9;
    font-weight: bold;
	/* IE10 Consumer Preview */ 
   background-image: linear-gradient(to top, #001FFF 0%, #474747 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #001FFF 0%, #474747 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #001FFF 0%, #474747 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #001FFF), color-stop(1, #474747));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #001FFF 0%, #474747 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #001FFF 0%, #474747 100%);
}
/*(ICONO Y SELECTOR DE MOUSE Y FLECHA DE DESPLIEGUE)*/
a {
    color: #FFF7F7;
}
/*COLOR DE LETRAS*/
.global-nav .navigation ul > li span {
    color: #FFF7F7;
}
/*		    LETRAS (INTERIOR DE LOS INPUT, CABEZERAS,ETC)*/
.ui-body-w {
    color: #FFF7F7;
}
/*		    LETRAS DE LAS FORMAS*/
.form-add-element-new-page label.ui-input-text {
    
}
/*		BOTONES*/
.btn.btn-basic {
    border: 1px solid #FCFCFC;
	background: #3901C7;
	font-weight: bold;
	color: #FFFFFF;
     
}
/*	    BOTONES BORDE AL ESTAR SOBRE*/
.btn.btn-basic:hover {
    border: 1px solid #0C0900;
	background: #FFFFFF;
	font-weight: bold;
	color: #012AAC;
	background-image: initial;

}
.dropdown-menu {
	background-color: #3400BB;
}
/*fondo de la forma y la vista*/
.tab_content {
background-color: #16168E;
}
/*Fondo Select*/
.tablelocation div select {
	margin-right: 10px;
	background-color: inherit;
}
.locationPageSize{
	background-color: inherit;
}
/*COLOR DE LAS LETRAS DENTRO DE LA VISTA*/
.table-view TD {
	color: #FFF;
	font-weight: bold;
}
/*COLOR DE LAS CABEZERAS DE LA VISTA*/
.table-view TH {
color: #000; 
}
/*INTERLINEADO DE LAS VISTAS*/
/*PRIMARIAS*/
.table-view tbody TR:nth-child(odd) {
    background: #4A00FF;
}
/*SECUNDARIAS*/
.table-view tbody TR:nth-child(even) {
    background: #230079;
}
.ui-dialog-title{
color:white;
}
.ui-dialog-titlebar{
background-color:#012AAC;
}

input {
	color:black;
}
.global-nav .navigation .nav li a:hover {
cursor: pointer;
background-color: cornflowerblue;
}
/*FONDO DE LOS INPUTS*/
.form-add-element-new-page input.ui-input-text, textarea.ui-input-text, .form-add-element-new-page input[data-role="datebox"], .form-add-element-new-page .hasDatepicker, .form-add-element-new-page .hasTimeEntry {
    border-color: silver #D9D9D9 #D9D9D9 #D9D9D9;
    background-color: #FFFFFF;
}
/*PLACEHOLDER DE LOS IMPUT*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #AFAFCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #AFAFCC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #AFAFCC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #AFAFCC;
}
/*BACKDROUD DE BODY*/
.ui-mobile .ui-page-active{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #000000 0%, #110982 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #000000 0%, #110982 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #000000 0%, #110982 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #000000), color-stop(1, #110982));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #000000 0%, #110982 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #000000 0%, #110982 100%);
}
.div-table-content .controlMenuTable .menuTable {
	background-color: #001086;
}

.form-add-element-new-page label.ui-input-text {
	color: #FFFFFF;
}
select option {
    background-color: rgb(45, 11, 180);
}

/*SETUP*/
#setupPage h2 {
color: #FFF;
}
#setupPage p {
font-size: 12px;
color: #FFF5F5;
}
#setupPage .setupList LI {
font-type: initial;
color: #FFF;
text-shadow: initial;
}
.setup_page .box {
background-color: #130257;
}
.setup_page .tab{
background-color: #16168E
}
.setup_page.tab .heading {
color: #FFF;
text-shadow: initial; 
}
.setup_page.tab .menu_tab li {
color: #FFFFFF;
text-shadow: initial;
}
.ui-datepicker-calendar {
background-color: #FFF;
}
/*.ui-widget-content{
	background-color:#012AAC;
}*/
.ui-widget-header {
background-color: rgb(0, 0, 180) !important;
background: initial;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background-color: rgb(0, 0, 150) !important;
font-weight: normal;
color: #FFFAFA;
background: initial;
}
.ui-state-default .ui-state-highlight{
background-color: rgb(40, 169, 255) !important;
}