@import url("//fonts.googleapis.com/css?family=Droid+Sans:400,700");	
					/*BOTONES-------------------------------------------------------------*/
.btn.btn-basic {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	margin: 0.5em 0;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #dfeffc;
	background-image:initial;
	border: 1px solid #c5dbec;
	font-weight: bold;
	color: #2e6e9e;
}

.btn.btn-basic:active{
	margin-right: 5px;
	margin-left: 5px;
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 2px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	color: #333333;
	border: 1px solid rgb(198, 198, 198);
	color: #ffffff;
	background-color: #2d2d2d;
	border-color: #232323;
	background-image:initial;
}

.btn.btn-basic:hover {
	font-weight:
	bold;color:#1d5987;
	background-image:initial;
	border:1px solid #79b7e7;
	background:#d0e5f5
}
.frmActMnCntn{
/*	background: initial;
	background-color: #151515;*/
}
					    /*NAVEGACION-------------------------------------------------------------*/
.top-bar .global-nav {
	border-bottom: 1px solid #282828;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	background-color: #5c9ccc;
	height: 46px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	border: 1px solid #4297d7;
	color: #ffffff;
	font-weight: bold;
}
.top-bar .global-nav .global-nav-inner {
/*	background-color: #5c9ccc;*/
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5C9CCC), color-stop(2, #F7FDFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #5C9CCC 0%, #F7FDFF 200%);
	border-color: #000000;
	height: 46px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #2a9fd6;
}
.global-nav .navigation ul > li span{
	color: #2e6e9e;
}
a {
	color: white;
	text-decoration: none;
}
.global-nav .navigation .nav li.active a, .global-nav .navigation .nav li.active span{
	color: #e17009;
}
			     /*BACKDROUD DE BODY -------------------------------------------------------------*/
.ui-mobile .ui-page-active{
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #222222 !important;
	background-color: #060606;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	    font-family:"Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight:500;
	    line-height:1.1;
/*	    color:#ffffff*/
}
.ui-mobile .ui-page-active{
	    /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

	    /* IE10 Consumer Preview */ 
	    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 100%);

	    /* Mozilla Firefox */ 
	    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 100%);

	    /* Opera */ 
	    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 100%);

	    /* Webkit (Safari/Chrome 10) */ 
	    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #FFFFFF));

	    /* Webkit (Chrome 11+) */ 
	    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 100%);

	    /* W3C Markup, IE10 Release Preview */ 
	    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #FFFFFF 100%);
}
		     /*dropdown-menu-------------------------------------------------------------*/
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5C9CCC), color-stop(2, #F7FDFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #5C9CCC 0%, #F7FDFF 200%);
	border: 1px solid #444444;
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}
.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #ffffff;
	white-space: nowrap;
}
/*		COLOR DE LA TABLA CONTENEDORA-------------------------------------------------------*/
.tab_content{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.norecords{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
/*	background-color: #151515;
	border: 1px solid #030303;*/
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
		/*INTERLINEADO DE LAS VISTAS-----------------------------------------------------------*/
.table-view{
	background-color: #c5dbec;
	border-color: gray;
}
.table-view > thead > tr > th {
/*    border-bottom: 2px solid #282828;*/
	border-bottom: 2px solid #63AFE5;
    background: initial;
}
.div-table{
    border: 1px solid #a6c9e2;
}
.table-view > tbody > tr > td{
	border-top: 1px solid #282828;
	 border-bottom: 2px solid #a6c9e2;
}
.div-table-content .controlMenuTable .menuTable{
	border-bottom: initial; 
	background-color: initial;
}
.div-table-content .controlMenuTable{
	border-bottom: initial;
}
.table-view tbody TR:nth-child(odd) {
	background-color: rgba(208, 228, 245, 1);
	border-top: 1px solid #282828;
}
.table-view tbody TR:nth-child(even) {
	background: initial;
	border-bottom: initial;
}
.table-view TD{
	 color: #222222;
}
.table-view th{
	 color: #222222;
}
.div-table .imgLoading
{
    background: initial;
}
/*			PAGINA DEL SETUP DE LA APP---------------------------------------------*/
.setup_page.tab, .setup_page .box {
/*	 background-color: initial;*/
	 /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5C9CCC), color-stop(2, #F7FDFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #5C9CCC 0%, #F7FDFF 200%);
	 border: initial; 
}
.groupCriteriaDisplay, .containerCriteriaBuilder, .groupCriteriaDisplay .content, .groupCriteria .main, .containerCriteriaBuilder .containerSettings .setting , .setup_page #tbl_vwfrm_pms thead th , .containerCriteriaBuilder .main{
/*	background-color: initial !important;*/
	color: #888888 !important;
	
}
.groupCriteria, .containerCriteriaBuilder .containerSettings .setting {
	border: initial !important;
}
#setupPage h2, #setupPage p{
/*	color: #ffffff;*/
}
#setupPage .setupList LI {
	text-shadow: initial;
	color: #222222;
	
}
.setup_page.tab .heading,.setup_page.tab .menu_tab li{
	text-shadow: initial;
	color :#222222;
}
/*			PROGESS BAR------------------------------------------------------------*/
.progress {
	overflow: hidden;
	height: 20px;
	margin-bottom: 20px;
	background-color: #222222;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
/*		    fields----------------------------------------------------------*/
.form-add-element-new-page input.ui-input-text, textarea.ui-input-text, .ui-input-search, input ,select{
	border-radius: 4px;
	color:#000000;
	
}
.form-add-element-new-page label.ui-input-text{
	color: initial;
}
.ui-widget-header{
	border: 1px solid #4297d7;
	 /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5C9CCC), color-stop(2, #F7FDFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #5C9CCC 0%, #F7FDFF 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #5C9CCC 0%, #F7FDFF 200%);
	color: #ffffff;
	font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border: 1px solid #c5dbec;
	background: #dfeffc;
	font-weight: bold;
	color: #2e6e9e;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	border: 1px solid #79b7e7;
	background: #f5f8f9;
	font-weight: bold;
	color: #e17009;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border: 1px solid #fad42e;
	background: #fbec88;
	color: #363636;
}
.linkDescr{
    color: #428bca;
}

