<form role="form">
	<style>
			
		.field {
		  width: 150px;
		  border: 1px solid #E0E0E0;
		  padding: 4px;
		  float: left;
		  margin-right: 8px;
		  margin-bottom: 8px;
		  cursor: pointer;
		}
		.field div {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 142px;
			float: left;
		}
		.field i {
			display: none;
			float: right;
			margin-top: 4px;
		}
		.field:hover {
			background-color: rgba(0, 0, 0, 0.56);
			color: #FFFFFF;
		}
		.field:hover div {
			width: 127px;
		}
		.field:hover i.icon-check-empty {
			display: block;
		}
		.field.selected {
			background-color: #128888;
			color: #FFFFFF;
		}
		.field.selected div {
			width: 127px;
		}
		.field.selected i.icon-check {
			display: block;
		}
		.field.selected i.icon-check-empty {
			display: none;
		}
		.mappingfield {
			margin-bottom: 10px;
		}
		.alert.alert-danger {
			display: none;
		}
		
		.modal > .modal-dialog > .modal-content .wizard > .content {
			min-height: 310px;
		}
		.selectize-input {
			min-height: 28px;
			padding: 3px 10px;
		}
		.fields .form-group {
			margin-bottom: 10px;
			width: 50%;
			float: left;
		}
		.modal.material .modal-dialog .modal-content .modal-body .form-group>label {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.modal.material form {
			overflow: inherit;
		}
		.modal .fieldsnew {
			clear: both;
			padding-top: 5px;
			border-top: 1px solid #FFFFFF;
			margin-top: 12px;
		}
		.modal .fieldsnew h3 {
			margin-bottom: 12px;
		}

	</style>
	<div style="position: relative;  top: -59px;  left: 0px;height: 0px;"><div class="alert alert-danger" style="">Error!</div></div>
    <h1>Load file</h1>
    <section>
    	<input type="hidden" id="id_modelartus" name="id_modelartus">
		<div style="text-align: center; margin-top: 100px; height: 50px;">
			<button class="btn btn-default excelfileupload">Choose Excel</button>
			<span style="padding-left: 5px;    vertical-align: middle;"><i>XLS, XLSX</i></span>
			<div class="error-msg" style="color: rgb(187, 22, 22);margin-top: 10px;font-weight: bold;"></div>
			<div><span class="filename" style="margin-right: 20px;"></span><span class="pctBox"></span></div>
		</div>
    </section>

    <h1>Select sheet</h1>
    <section>
    	<div style="margin-top: 70px;width: 370px;margin-left: auto;margin-right: auto;">
			<label>* Select sheet</label>
			<select id="sheets" name="sheets"></select>
		</div>
    </section>

    <h1>Select fields</h1>
    <section class="finishstep">
    	<div>
    		<div class="catalogname form-group">
    			<label for="catalogName">Catalog name</label>
    			<input type="text" class="form-control" id="catalogName" name="catalogName" placeholder="name">
  			</div>
  		</div>
    	<div class="fields"></div>
    	<div class="fieldsnew">
    		<h3>Add new attributes</h3>
    		<div class="listnewfields"></div>
    	</div>
    </section>
</form>
