/* SOLO Android*/

.widget_field_alphanumeric .select2-search-choice-close {
	display: block !important;
}

.widget_field_alphanumeric .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

/*Solo pantallas reducidas*/

@media (max-device-width: 1280px) and (orientation: landscape) { 
	.ui-input-numeric{
		width: 381px;
	}
	.sig, sigWrapper, current{
		width:310px !important;
	}
	.pad{
		width:290px !important;
	}
	
}


@media (orientation: portrait) { 
	.ui-input-numeric{
		width: 232px;
	}

	.sig, sigWrapper, current{
		width:230px !important;
	}
	.pad{
		width:220px !important;
	}
}

.hasDatepicker{
	width:90% !important;
}