.gm-style-iw { 
  width: 400px;
} 

.ui-content {
	/*overflow-x: visible;*/
}

textarea:focus, input:focus{
    outline: none;
}
/*2013/-11-23@HADR(#HighlightOptionsUser) Resalta las opciones de menu*/
#controlMainNav .mainnav_user a.ui-btn-hover-w{
	opacity: 0.8;
}
#controlMainNav .mainnav_user a.ui-btn-down-w {
	position: relative;
	top: -1px;
}
#controlMainNav #moreNav_div li a:hover,
#controlMainNav #moreNav_div li a:active,
#controlMainNav #moreNav_div li a.ui-btn-active {
	background-color: #DDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
#controlMainNav #moreNav_div li a:active {
	position: relative;	
	top: -1px;
	left: -1px;
}
/*HADR*/

.ui-btn-inner{ 
	font-size:13px;
}
.ui-front { /*2014-03-14 @JRPP (#31993) Se amplia Zindex cuando se abre una ventana de acciones para alcanzar a ocultar todas las opciones*/
	z-index: 1000;
}
.backgroud
{
	background: #DADADA;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DADADA), to(white));
	background-image: -webkit-linear-gradient(top,#DADADA,white);
	background-image: -moz-linear-gradient(top,#DADADA,white);
	background-image: -ms-linear-gradient(top,#DADADA,white);
	background-image: -o-linear-gradient(top,#DADADA,white);
	background-image: linear-gradient(top,#DADADA,white);
	background-image: url(../images/bgtexture.png);
}

.contentBitam
{
	width:1040px;
	margin-left:auto;
	margin-right:auto;
	transition: width .15s;
}
@media screen and (orientation:portrait) {
	.contentBitam
	{
		width:740px;
	}
}
@media screen and (orientation:landscape) and (max-device-width: 1024px) {
	.contentBitam
	{
		width:1000px;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.contentBitam{
		width:1040px;
	}
/*	.banner_img{
		height: 116px;
	}*/
}
@media (min-width: 1200px) { 
	.contentBitam{
		width:1200px;	
	}
/*	.banner_img{
		height: 116px;
	}*/
}
/*@media (max-width: 768px) {
  .contentBitam
	{
		width:740px;
	}
}*/
/*
@media (min-width: 1200px) {
  .contentBitam
	{
		width:1180px;
	}
}
*/
.tab_content {

	margin-bottom: 40px;
    -moz-border-radius:4px 4px 4px 4px;
    
    /*
    -moz-box-shadow: 0px 1px 3px #505050;
    -webkit-box-shadow: 0px 1px 3px #505050;
    box-shadow: 0px 1px 3px #505050;*/
    
    
    -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px; 
    -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.3) 0px 1px 3px; 
    
    
    /*-webkit-box-shadow: 0px 14px 80px #505050;
    -moz-box-shadow: 0px 14px 80px #505050;
    box-shadow: 0px 14px 80px #505050;*/
    
    background-color:#FFFFFF;
    /*padding:10px;*/
	padding:0px;
	padding-top: 1px;
    
    /*Safari*/
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    
    /*IEs*/
}

#table_meetings, #table_items
{
	padding:10px;
	padding: 1px;
	margin: 17px;
	
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	
	/*
	box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	*/
	
	border: 1px solid #F0F0F0;

}

#table_meetings #table_meetings_header, #table_items #table_items_header
{
	border-bottom: 1px solid #F0F0F0;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
}

#table_meetings .ui-select, #table_items .ui-select
{
	width: 90%;
}

#table_meetings a, #table_items a
{
	text-decoration: initial;
	color:#666;
}

#table_meetings ul, #table_items ul 
{
	margin:0px;
	padding: 0px;
}

#table_meetings li, #table_items li
{
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	
	font-family: Arial, sans-serif;
	font-size:12px;
}
#table_meetings li:nth-child(even), #table_items li:nth-child(even) {
  background: #F0F0F0;
}
#table_meetings li:nth-child(odd), #table_items li:nth-child(odd)  {
  background: white;
}

#table_meetings .time
{
	color: #666;
	font-style: italic;
}

#table_meetings .date
{
	color: #666;
	font-style: italic;
}

#table_meetings .meeting-name
{
	color: #000000;
	
}

#table_meetings .ui-progressbar {
	height: 1.2em;
	text-align: left;
}
#table_meetings .ui-progressbar-value {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.task-element
{
	color:#000000;
}

.task-element:hover
{
	text-decoration: initial;
}

.deadline-element
{
	/*font-weight: bold;*/
	color:#78A540
}

.deadline-element:hover
{
	text-decoration: initial;
}

#subsectionlist_items li
{
	margin-top: 0px;
	margin-bottom: 7px;
}

#subsectionlist_decisions li
{
	margin-top: 0px;
	margin-bottom: 7px;
}

#subsectionlist_keynotes li
{
	margin-top: 0px;
	margin-bottom: 7px;
}



/*Pagina de notificaciones*/
.contentNotifications
{
	margin-bottom: 30px;
}
.contentNotifications .boxFilter
{
	float: left;
	width: 235px;
}
.contentNotifications .contentListNotifications
{
	/*
	margin-left: 70px;
	width: 724px;*/
	margin-left: 0px;
	width: 745px;
	display: inline-block;
}
@media (max-width: 768px) {
	.contentNotifications .contentListNotifications
	{
		margin-left: 24px;
		width: 530px;
	}
}
.contentNotifications .contentListNotifications .itemIco {
	float: left;
	padding-left: 5px;
	padding-top: 12px;
	width: 12px;
}
.contentNotifications .contentListNotifications .itemIco IMG{
	float:right;
}
.contentNotifications .containerItem
{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 13px;
	
	
	
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	-webkit-box-shadow:	rgba(0, 0, 0, 0.3) 0px 1px 3px;
	box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 3px;
	background-color:white;
	
	/*
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	*/
}
.contentListNotifications .headernotifications {
	padding-left: 24px;
	padding-right: 24px;
	font-size: 13px;
	font-weight: bolder;
	height: 27px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
	background-color: rgba(255, 255, 255, .6);
	padding-top: 9px;
}
.contentListNotifications .headernotifications .descriptionItem{
	width: 30%;
	float: left;
}
.contentListNotificationsMobile .headernotifications .descriptionItem{
	width: 50%;
}
.contentListNotifications .headernotifications .meetingName{
	width: 20%;
	float: left;
}
.contentListNotifications .headernotifications .responsibleItem{
	width: 20%;
	float: left;
}
.contentListNotifications .headernotifications .deadline{
	width: 10%;
	float: left;
}
.contentListNotificationsMobile .headernotifications .deadline{
	width: 25%;
}
.contentListNotifications .headernotifications .status{
	width: 10%;
	float: left;
}
.contentListNotificationsMobile .headernotifications .status{
	width: 25%;
}
.contentListNotifications .headernotifications .finishdate{
	width: 10%;
	float: left;
}
.containerItem .descItem
{
	font-size: 12px;
	padding: 24px;
	padding-bottom: 2px;
	padding-top: 9px;
	padding-left:24px;
}
.containerItem  .changeStatusIco {
	background-image: url(../images/changestatus.png);
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 5px;
	opacity: .3;
}
.containerItem  .changeResponsibleIco {
	background-image: url(../images/changeuser.png);
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 5px;
	opacity: .3;
}
.containerItem  .changeNotesIco {
	background-image: url(../images/note.png);
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 5px;
	opacity: .3;
}
.containerItem  .changeDueDateIco {
	background-image: url(../images/date.png);
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 5px;
	opacity: .3;
}
.containerItem  .moreActionIco {
	background-image: url(../images/ico-action-more.png);
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 5px;
	opacity: .3;
}
.containerItem  #addNotes
{
	padding:0px;
}
.containerItem  .action-components
{
	border-top: 1px solid #DDD;
	padding: 15px 41px 10px 45px;
	background-color: whiteSmoke;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	display:none;
}
.containerItem  .action-components .textcomment
{
	margin-left: auto;
	margin-right: auto;
	width: 467px;
	margin-top: 15px;
	padding-bottom: 10px;
}
.containerItem  .action-components .textcomment textarea
{
	width: 100%;
}
.containerItem  .descriptionItem{
	color:#333333;
	font-weight: bold;
}
.containerItem  .descriptionItem {
	width: 30%;
	float: left;
}
.contentListNotificationsMobile .descriptionItem{
	width: 50%;
}
.containerItem .meetingName {
	width: 20%;
	float: left;
	color:#333333;
}
.containerItem .responsibleItem{
	width: 20%;
	float: left;
	color: #999;
	/*text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;*/
}
.containerItem .responsibleItem SPAN {
display: block;
margin-right: 4px;
text-overflow: ellipsis;
overflow: hidden;
}
.containerItem  .descriptionItem span {
	padding-right: 4px;
}
.containerItem  .deadline {
	width: 10%;
	float: left;
}
.contentListNotificationsMobile .deadline{
	width: 25%;
}
.containerItem  .item_history {
	opacity: 0.3;
	margin-left: 8px;
}
.containerItem  .createdDate
{
	color:#1DADE2;
	margin-right: 12px;
	font-size: 12px;
}
.containerItem  .createdBy
{
	color:#999999;
	font-size: 12px;
	margin-right: 12px;
}
.containerItem .inprogress, .containerItem .standby, .containerItem .finished{
	width: 10%;
	float: left;
}
.contentListNotificationsMobile .inprogress, .contentListNotificationsMobile .standby, .contentListNotificationsMobile .finished{
	width: 25%;
}
.containerItem .inprogress
{
	color:#FF0000;	
}
.containerItem .standby
{
	color:#999;
}
.containerItem .finished
{
	color:#999;
}
.containerItem  .finishdate {
	width: 10%;
	float: left;
}
.containerItem  .actionslists
{
	list-style: none;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
	padding-left: 0px;
	font-size: 11px;
	/*height: 19px;*/
}
.containerItem  .actionslists LI
{
	margin-bottom: 3px;
	color:#FF3300;
	float: left;
	padding-right: 10px;
}
.containerItem  .actionslists LI a
{
	text-decoration: none;
	/*color:#FF3300;*/
	color:#337d87;
}
.containerItem  .actionslists LI a:hover
{
	color:#5381c7;
	text-decoration: underline;
}
.containerItem .commentitem
{
	border-bottom: 1px solid #E8E8E8;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 13px;
}
.containerItem  .commentitem .user
{
	font-weight: bold;
	font-size: 12px;
}
.containerItem  .commentitem .createdDate
{
	color: #999;
	margin-left: 14px;
	font-size: 11px;
}
.containerItem  .textAction{
	text-align: right;float: left;width: 100px;padding-top: 2px;
}
.containerItem  .inputAction
{
	margin-left: 140px;
}
.containerItem .listUserActions
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.containerItem .listUserActions LI
{
	margin-bottom: 3px;	
}

/*CSS para boton de carga de archivos*/
.qq-uploader {
	margin-top: 5px;
}
.qq-upload-button {
	/*-webkit-border-radius: 2px;*/
	-webkit-border-radius: 1em;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/*font-size: 11px;*/
	font-size: 12px;
	/*font-weight: normal;*/
	font-weight: bold;
	/*color:white;*/
	color: #444;
	padding: 3px 1px 3px 1px;
	/*background-color:#459475;*/
	background: whiteSmoke;
	box-shadow:rgba(0, 0, 0, 0.2) 1px 1px 2px 0px;
	/*border: none;*/
	border: 1px solid #CCC;
	text-shadow: 0 1px 1px white;
	height: 16px;
	font-family: Arial;
}

.qq-upload-button-hover {background:white;}

.qq-upload-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 70px;
	z-index: 2;
	background:#73CC9B;
	text-align: center;
	color:white;
	margin-bottom: 10px;
}
.form-inline .qq-upload-file{
	font-size: 12px;
	font-weight: normal;
}
.form-inline UL[id$="_file_list"]{
	list-style: none;
	padding: 0;
	padding-left: 5px;
	padding-bottom: 5px;
	margin: 0;
	margin-bottom: 10px;
}
/* --------------- */
.table-view {
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 12px;
	border-collapse: collapse;
	overflow: auto;
}

.table-view .hasDatepicker{
	width: 70% !important;	
}
.table-view thead th span {
	padding-left: 2px;
}
.table-view TR {
	height: 25px;
}
.table-view TH {
	text-align: left;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	color: #555;
	text-transform: capitalize;
	height:28px;
	padding-left: 1px;
}
.table-view TD {
	color: #666;
	padding-left: 1px;
}
.table-view .table_checkitem{
	width:23px;
}
.table-view .table_syncitem {
	width: 20px;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}
.table-view TD.table_syncitem.ico{
	background-image: url(./../images/nosyncreg.png);
}
.table-view .table_newitem {	
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;	
}
.table-view TD.table_newitem.ico{
	background-image: url(./../images/newitem.png);	
}
.table-view thead TR TH {
	background: white;
	border-bottom: 1px solid #F0F0F0;
}
/*.table-view tbody TR TD:nth-child(odd) {
	background: white;
	border-bottom: 1px solid #F0F0F0;
}*/
/*.table-view tbody TR TD:nth-child(even) {
	background: white;
	border-bottom: 1px solid #F0F0F0;
}*/

.table-view tbody TR span.cell{
	float:left;
	padding-left: 3px;
}

.table-view tbody TR:nth-child(odd) {
	background: white;
	border-bottom: 1px solid #F0F0F0;
}
.table-view tbody TR:nth-child(even){
	background: rgba(240, 240, 240, 0.35);
	border-bottom: 1px solid #F0F0F0;
}
.table-view .tr-selected TD {
	background: #FFC !important;
}
.info-viewpage{
	margin-right: 10px;
	font-size: 12px;
	cursor:pointer;
}
/*buttons table*/
.btn-bck-vw, .btn-ntx-vw{
	width: 6px !important;
	margin: 0px !important;
}
.btn-bck-vw{
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.btn-ntx-vw{
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}
.btn-bck-vw .ui-btn-inner, .btn-ntx-vw .ui-btn-inner{
	padding: 6px 0px 6px 0px !important;
}
.btn-bck-vw .ui-btn-text, .btn-ntx-vw .ui-btn-text{
	padding: 0 1px 0 1px !important;
}
.btn-bck-vw .ui-btn-text{
	background: url(../images/sprite_black.png) 1px -2px no-repeat;
}
.btn-ntx-vw .ui-btn-text{
	background: url(../images/sprite_black.png) 1px -23px no-repeat;
}

/*2013-11-22@HADR(#FieldsReadonlyShowAsLabels) Mejor Manejo de Campos readonly*/
/*Alphanumeric, Time*/
input.widgetBitamReadonly, 
/*Text*/
textarea.widgetBitamReadonly,
/*Datepicker*/
div.widgetBitamReadonly input.hasDatepicker,
/*Single Choice List*/
div.widgetBitamReadonly a.select2-choice,
/*Multiple Choice List*/
div.widgetBitamReadonly div.select2-container-multi ul.select2-choices,
/*signature*/
div.widgetBitamReadonly div.sigPad div.sigWrapper,
/*Numeric*/
div.widgetBitamReadonly input[type="number"],
/*Numeric Format*/
div.widgetBitamReadonly input[type="text"] {
	border: none !important;
	/**Se comento para aliniar los iconos de la derecha de los campos*/
	/*padding-left: 0px !important;*/
}

/*Numeric*/
div.widgetBitamReadonly input::-webkit-outer-spin-button,
div.widgetBitamReadonly input::-webkit-inner-spin-button,
/*Datepicker*/
div.widgetBitamReadonly img.ui-datepicker-trigger,
/*Select2*/
div.widgetBitamReadonly a.select2-choice span.select2-arrow,
/*Radioboton*/
label.widgetBitamReadonly input[type="radio"],
/*fileuploader*/
div.widgetBitamReadonly div.qq-uploader div.qq-upload-button, /*2014-03-18 @JRPP (#32038) Se oculta solo el boton y el link de eliminar*/
div.widgetBitamReadonly div.qq-uploader ul.qq-upload-list li a:nth-last-child(1),
/*signature*/
div.widgetBitamReadonly ul.sigNav {
	display: none !important;
}

/*Checkbox*/
input.widgetBitamReadonly[type="checkbox"] {
	visibility: hidden;
}

/*signature*/
div.widgetBitamReadonly canvas.pad {
	/* -webkit-touch-callout: none;
     -webkit-user-select: none;
    -khtml-user-select: none;
     -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     outline: none; */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/*Check boxes*/
.chkbox-box {
	cursor: default;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #C6C6C6;
	border: 1px solid rgba(155, 155, 155, .57);
	font-size: 1px;
	height: 11px;
	margin: 0 4px 0 5px;
	outline: 0;
	vertical-align: text-bottom;
	width: 11px;
	display: inline-block;
}
.chkbox-box-disable {
	cursor: default;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	background-color: rgba(0, 0, 0, .2);
	border: 1px solid #C6C6C6;
	border: 1px solid rgba(155, 155, 155, .57);
	font-size: 1px;
	height: 11px;
	margin: 0 4px 0 5px;
	outline: 0;
	vertical-align: text-bottom;
	width: 11px;
}
.chkbox-box:hover {
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
}
.chkbox-box-disable:hover{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.chkbox-box .chkbox-box-inner {
	height: 11px;
	outline: 0;
	width: 11px;
	left: 0;
	position: relative;
	/*top: -3px;*/
}
.chkbox-box .checked {
	background: url(../images/checkmark.png) no-repeat -5px -3px;
}

/* Delete button Thanks to http://www.andymatthews.net/ */
.aDeleteBtn {
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	height: 15px;
	line-height: 15px;
	margin: 3px 10px 0 0;
	padding: 0.6em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	width: 56px;
	text-align: center;
}
TD .aDeleteBtn {
	position: absolute;
}

/* red color buttons */
.ui-btn-up-r { border: 1px solid #953403; background: #2567ab; font-weight: bold; color: #fff !important; cursor: pointer;  text-shadow: 0 -1px 1px #953403; text-decoration: none; 
	/*background-image: -moz-linear-gradient(top, #ec4a0b, #ad390c); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ec4a0b),color-stop(1, #ad390c));  
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec4a0b', EndColorStr='#ad390c')"; */
	
	background: -moz-linear-gradient(top, rgba(237,75,11,1) 28%, rgba(174,58,12,1) 63%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,rgba(237,75,11,1)), color-stop(63%,rgba(174,58,12,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,75,11,1) 28%,rgba(174,58,12,1) 63%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,75,11,1) 28%,rgba(174,58,12,1) 63%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,75,11,1) 28%,rgba(174,58,12,1) 63%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(237,75,11,1) 28%,rgba(174,58,12,1) 63%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4b0b', endColorstr='#ae3a0c',GradientType=0 ); /* IE6-9 */
}
.ui-btn-up-r a.ui-link-inherit { color: #fff; }
.ui-btn-hover-r { border: 1px solid #953403; background: #f15c22; font-weight: bold; color: #fff !important;  text-shadow: 0 -1px 1px #014D68; 
	background-image: -moz-linear-gradient(top, #f15c22, #f15c22); 
	text-decoration: none; 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f15c22),color-stop(1, #f15c22));   
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f15c22', EndColorStr='#f15c22')";  
}
.ui-btn-hover-r a.ui-link-inherit { color: #fff; }
.ui-btn-down-r { border: 1px solid #225377; background: #79ae21; font-weight: bold; color: #fff !important; text-shadow: 0 -1px 1px #225377; background-image: -moz-linear-gradient(top, #bc770f, #e6590c); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #bc770f),color-stop(1, #e6590c));   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bc770f', EndColorStr='#e6590c')"; }
.ui-btn-down-r a.ui-link-inherit { color: #fff; }
.ui-btn-up-r, .ui-btn-hover-r, .ui-btn-down-r { font-family: Helvetica, Arial, sans-serif; }

/*parche emeeting*/
#viewFormData_FRM_10001 H4
{
	margin: 0;
	margin-bottom: 6px;
	color: #555;
	text-transform: capitalize;
	font-size: 1.3em;
}
#viewFormData_FRM_10001 span {
	margin-left: 10px;
	margin-right: 20px;
	font-size: .8em;
}

.notificationsButtonsNav {
	float: right;
}

.ui-dialog .form-add-element {
	background-color:transparent;
}
.ui-dialog .form-add-element .form-inline input,  .twocolumns .form-add-element .form-inline textarea{
	border: none;
	border-bottom: 1px dashed #CBD3E2;
	-webkit-appearance: none;
	box-shadow: none;
	background-color:transparent;
}
.ui-dialog .form-add-element .form-inline textarea{
	height: 13px;
}
.ui-dialog .form-add-element.grid_12 {
	margin-bottom: 8px;
}
.ui-dialog .ui-dialog-buttonset  .ui-btn { /*ui-btn-inline*/
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
/*Para los checkbox group, en la ventana modal*/
.ui-dialog .item-checkbox {
	padding-bottom: 5px;
	border-bottom: 1px solid #EBEBEB;
	padding-top: 5px;
}
.highlight{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -webkit-transition: opacity .218s;
        -moz-transition: opacity .218s;
        -o-transition: opacity .218s;
        transition: opacity .218s;
        background: white;
        border: 1px solid #CCC;
        border: 1px solid rgba(0, 0, 0, .2);

}
/*campo requerido*/
.requiredfield {
	color: #900 !important;
}
/**/
.itmdash{
	background-image: url(./../images/dasharrow.png);
	background-repeat: no-repeat;
	background-position-y: 6px;
	padding-left: 28px !important;
}
.itmdashars{
	background-image: url(./../images/reportarrow.png);
	background-repeat: no-repeat;
	background-position-y: 6px;
	padding-left: 28px !important;
}

/*forms, formas, pantallas de captura*/
form .error {
	/*display: block;*/
	font-size: 14px;
	color: #B40000;
	min-width: inherit;
}

.form-add-element-new-page .chzn-container, .form-add-element-new-page .chzn-container .search-field input, .form-add-element-new-page .chzn-container .chzn-drop {
	width: 90% !important;
	height: initial !important;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	background: url('../images/chosen-sprite.png') right top no-repeat;
}
.chzn-container .chzn-results {
	max-height: 80px;
}
.form-add-element-edit-page .chzn-container-multi .chzn-choices{
	background-image: initial;
	background-image: initial;
	background-image: initial;
	background-image: initial;
	background-image: initial;
	border: 1px solid #FFFFFF;
}
.form-add-element-edit-page .chzn-container-active .chzn-choices, .form-add-element-edit-page .chzn-container-multi:hover .chzn-choices{
	background-color: white;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #EEE), color-stop(15%, white));
	background-image: -webkit-linear-gradient(top, #EEE 1%, white 15%);
	background-image: -moz-linear-gradient(top, #EEE 1%, white 15%);
	background-image: -o-linear-gradient(top, #EEE 1%, white 15%);
	background-image: linear-gradient(#EEE 1%, white 15%);
	/*border: 1px solid #AAA;	*/
	border: 1px solid #4D90FE;
	-webkit-box-shadow: initial;
	-moz-box-shadow: initial;
	box-shadow: initial;
}
.frmActMnCntn{
	background-color:#FFFFFF;
	padding-left: 125px;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 31%,rgba(255,255,255,1) 54%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.57) 31%, rgba(255,255,255,1) 54%); /* FF3.6+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 31%,rgba(255,255,255,1) 54%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 31%,rgba(255,255,255,1) 54%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 31%,rgba(255,255,255,1) 54%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.radiobuttongroup{ 
	width: 92%;
	display: inline-block;	
}

.radiobuttongroup.vertical label{
	display:block;
}
.checkboxgroup.vertical label {
	display:block;
}

/*ventana de dialogo*/
.ui-dialog-content .ui-autocomplete-input {
	width:100%;
}

/*datepicker*/
.ui-datepicker{ 
	z-index: 1001 !important;
}

.checkbox-group label, .radiobuttongroup  label {
	display:initial;
	margin-bottom: initial;
	font-weight: initial;
}

.checkboxgroup label {
	display:block;
	margin-bottom: initial;
	font-weight: initial;
}
/**/
.filterLoading
{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000000;
   width: 100%;
   height: 100%;
/*   background: #000;*/
/*   filter:alpha(opacity=20);
   -moz-opacity: 0.6;
   opacity: 0.6;*/
}

/* Estilo aplicado al preview de la personalizaciÃ³n del Login
--------------------------------------------------------------------*/
.boxbodylogin{
	width: 912px;
	height: 505px;
	margin: -55px -15px;
	margin-bottom: -16px;
	/*border: 1px solid gray;*/
}
.customize-login{

	/*height: 490px;
	 margin: -33px -18px;*/
	 height: 440px;
	margin: 20px 35px;
	width: 840px;
	top: 30px;
	position: relative;
	border-radius: 10px !important;
	background-color: #f9f9f9;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid gray;
	-webkit-border-radius: 3px;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.boxlogin{

	height: 145px;
	margin: 108px 230px;
	position: absolute;
	background-color: #FFFFFF;
	box-shadow: initial;
	width: 310px;
	padding: 40px 40px;
	border-radius: 2px;
	}

.subboxlogin{

	-webkit-appearance: none;
	display: inline-block;
	height: 35px;
	padding: 0 8px;
	background: #fff;
	border: 1px solid #d9d9d9;
	width: 95%;
	position: relative;
	}

.boxbtnlogin{

	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	position: relative;
	height: 35px;
	width: 80%;
	display: block;
	margin: 20px 30px;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;

	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

/*Setup page application*/
#setupPage {
}
#setupPage .setup_page {
	width: 980px;
	float: right;
}

@media (max-width: 1200px) and (min-width: 992px) {
	#setupPage .setup_page {
		width: 820px;
	}	
}
#setupPage .cfgList {
    list-style: none;
}
#setupPage .cfgList .cfgValue {
    float: right;
    width: 560px;
    /* border-left: 1px solid; */
}
#setupPage .cfgList .cfgDescription {
    font-size: 13px;
    color: #848484;
    width: 180px;
}

#setupPage .setupList li {
	font-size: 14px;
	padding-right: 10px;
	margin-bottom: 5px;
}
#setupPage .setupList {
	width: 210px;
}

#setupPage h2 {
	padding-bottom: 3px;
	font-size: 20px;
	font-weight: normal;
	color: #333;
	margin: 0px;
	border-bottom: 1px dotted #ddd;
	line-height: 28px;
}
#setupPage p{
	font-size: 12px;
	color: #262626;
}
.setup_page.tab{
	background-color: #f9f9f9;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	padding: 15px 0px 0px 0px;
	font-size: 12px;
	margin-bottom: 20PX;
	-moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.2);
}
.setup_page.tab .heading{
	color: #aaa;
	font-size: 20px;
	font-weight: normal;
	padding: 0px 0px 5px 14px;
	text-shadow: 0 1px 0 #fff;
}
.setup_page.tab .menu_tab{
	list-style: none;
	float: left;
	margin-bottom: 0px;
	margin-top: 0px;
}
.setup_page.tab .menu_tab li:nth-last-child(1){
	border-left: 1px solid #FFFFFF;
}
.setup_page.tab .menu_tab li{
	border-right: 1px solid #E4E4E4;
}
.setup_page.tab .menu_tab li{
	float: left;
	color: #848484;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 0 #fff;
	padding: 9px 15px 13px;
	cursor: pointer;
}
.setup_page .box {
	background-color: #f9f9f9;
	border: 1px dotted #f1f1f1;
	padding: 15px;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.setup_page #tbl_vwfrm_pms
{
	font-size: 12px;
	width: 100%;
}
.setup_page #tbl_vwfrm_pms thead th{
	white-space: nowrap;
	color: #888;
	border-bottom: 1px solid #eee;
	background-color: #f9f9f9;
}

.setup_page #tbl_vwfrm_pms tbody tr td {
	background: white;
	height: 18px;
	padding: 5px;
}
.setup_page #tbl_vwfrm_pms tbody .formname {
	font-weight: bolder;
}
.setup_page #tbl_vwfrm_pms tbody .viewname {
	padding-left: 20px;
}
/*2013-11-09@EVEG (#fieldlist,#viewlist,#elementlist)Clases para la interfaz de la pantalla de seguridad de campos*/
.setup_page tbody td.fieldlist{
	padding-left: 20px !important;
	background: #f5f5f5 !important;
	font-weight:bold !important;
}
.setup_page tbody td.viewlist{
	padding-left: 20px !important;
	background: #ededed !important;
	font-weight:bold !important;
}
.setup_page tbody td.elementlist{
	padding-left: 30px !important;
}
/*-------------*/
/* filterbox */
.filterbox
{
	margin-left: 5px;
	margin-top: 0px;
	margin-right: 16px;
	float: left;
	width: 175px;
}
.filterbox .input-group .form-control {
	height: 28px;
}
.filterbox .input-group .input-group-btn {
	height: 28px;	
}
.filterbox .input
{
	margin-right: 14px;
}
.filterbox .input input
{
	border: 1px solid #D9D9D9;
}

.filterbox .list-filter
{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: arial;
	margin-bottom: 10px;
}

.filterbox .description-tag
{
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 4px;
}
.filterbox .list-filter-tag
{
	color: #666;
	list-style: none;
	margin: 0;
	margin-left: 0px;
	padding: 0;
	font-size: 12px;
}
.filterbox .tagname {
	position:relative;
}
.filterbox .tagname .tagnumitems
{
	border-radius:2px;
	border: solid 1px #ddd;
	color: #999;
	display: inline-block;
	font-size: 10px;
	margin: 0 0 0 3px;
	padding: 0 5px;
	position: absolute;
	right: 0px;
	top: 2px;
}
.filterbox .list-filter-tag li
{
	clear: both;	
}
.filterbox .list-filter-tag li label
{
	display: initial;
	margin-bottom: initial;
	font-weight: initial;
	padding: initial;
}
.filterbox .list-filter-tag li label input[type=checkbox], .filterbox .list-filter-tag li label input[type=radio]
{
	float: left;
}

.filterbox .list-filter-tag li label span
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	margin-left: 21px;
	margin-right: 24px;
	padding-top: 2px;
}
.showHideFilterBox
{
	margin-top: 1px;
	margin-bottom: 2px;
	font-size: 13px;
	cursor: pointer;
}
/**/
.customRange{
	padding-left: 8px;
}
.list-filter-tag .customRange{
	padding-left: 0px;
}
.customRange.title{
	color: #222;font-size: 16px;margin-bottom: 7px;
}
.list-filter-tag .customRange.title{
	font-size: 13px;margin-bottom: 5px;
}
.customRange.label{
	width: 40px;
	display: block;
	float: left;
	clear: both;
	margin-top: 3px;
	margin-bottom: 7px;
	font-size: 12px;
}
.list-filter-tag .customRange.label{
	width: 33px;
	margin-top: 2px;
	margin-bottom: 0px;
	color: #000000;
}
.customRange input{
	margin-left: 16px;
	clear: both;
	height: 15px;
}
.list-filter-tag .customRange input {
	margin-left: 11px;
	width: 108px;
}
.list-filter-tag .customRange.title .clear.ico {
	vertical-align: middle;
	margin-left: 10px;
}

/*-- Div Table */
.div-table-content
{
	padding:10px;
}
.div-table-content .controlMenuTable{
	border-bottom: 1px solid #F0F0F0;
}
.div-table-content.simplified .controlMenuTable{
	display:none;
}
.div-table-content.simplified .div-table {
border: none;
}
.div-table-content.simplified tbody tr td {
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left: 10px;
}
.div-table-content.simplified .table-view tbody TR:nth-child(odd) {
background:#F5F5F5;
}
.div-table-content.simplified .table-view tbody TR {
background: white;
border-bottom: 1px solid #F0F0F0;
}
.div-table-content.simplified .tablelocation {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	float: initial;
}
.div-table-content.simplified thead {
	display:none;
}
.div-table-content.simplified .simplified-details-container {
padding:0px;
}
.div-table-content.simplified-details {
padding: 0px;
}
.div-table-content.simplified-details .table-view tbody TR TD {
padding-bottom: 3px;
padding-top: 3px;
padding-left: 20px;
}
.div-table-content.simplified-details .table-view tbody TR:nth-child(odd) {
background: #FDFDFD;
}
.div-table-content.simplified-details .table_checkitem {
display:none;
}
.div-table-content.simplified-details tbody td div {
display: inline-block;
margin-right: 15px;
color: #999;
}
.div-table-content.simplified-details tbody td div:nth-child(1) {
display: block;
margin-bottom: 4px;
color: initial;
}
.div-table-content.simplified-details .div-table {
border: none;
}
.div-table-content.simplified-details .tablefooter {
display: none;
}
.div-table-content.simplified-details .norecords {
padding-bottom: 7px;
padding-top: 5px;
}
.div-table-content .controlMenuTable .menuTable{
	border-bottom: 1px solid #F0F0F0;
	background-color: #FFFFFF;
	height: 40px;
	padding-left: 0px;
}

.div-table-content .mainMenu .ddm li{
    float:none;
}
.div-table
{
	font-family: Arial, sans-serif;

	padding:10px;
	padding: 1px;
	margin: 1px;
	
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	
	border: 1px solid #F0F0F0;
	clear:both;
	position:relative;
	margin-bottom: 8px;
}
.div-table-content.withFilterBox .div-table
{
    overflow: hidden;
    clear: initial;
}

.div-table .div-table-header
{
	border-bottom: 1px solid #F0F0F0;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	margin-right: 30px;
}

.sbbx
{
	box-shadow: 0 3px 2px -1px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 3px 2px -1px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 2px -1px rgba(0, 0, 0, .1);
}

.div-table .ui-select
{
	width: 90%;
}
.div-table a
{
	text-decoration: initial;
	color:#666;
}

.div-table .ui-link
{
	color:#000000;
	font-weight: 100;
}

.div-table ul
{
	margin:0px;
	padding: 0px;
}

.div-table li
{
	padding-bottom: 6px;
	/*padding-top: 6px;*/
	padding-left: 0px;
	padding-right: 0px;
	/*font-size: 14px;*/
	
	font-family: Arial, sans-serif;
	font-size:12px;
}
.div-table .imgLoading{
	background: -moz-linear-gradient(top, rgba(255,255,255,.90) 0%, rgba(255,255,255,0.10) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.90)), color-stop(100%,rgba(255,255,255,0.10))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.90) 0%,rgba(255,255,255,0.10) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.90) 0%,rgba(255,255,255,0.10) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.90) 0%,rgba(255,255,255,0.10) 100%); /* IE10+ */
}
/*
.div-table li:nth-child(even)
{
  background: white;
  border-bottom: 1px solid #F0F0F0;
}
.div-table li:nth-child(odd)
{
  background: white;
  border-bottom: 1px solid #F0F0F0;
}
*/
.div-table .cell
{
	padding-right: 2px;
	display:block;
}

.div-table .options
{
	text-align: center;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #F0F0F0;
}

.div-table-content .mainMenu
{
	margin:0px;
	list-style: none;
	padding: 0px;
}

.div-table-content .mainMenu LI
{
	float: left;
	background: none;
	border-bottom: none;
	padding: 0px;
}
.icon-tablet-annotate-header
{
	float: right;
	width: 20px;
	height: 20px;
}
.icon-tablet-annotate
{
	float: right;
	width: 20px;
	height: 20px;
	background-color:#7B7481;
	border-radius: 20px;
	margin-top: -2px;
	cursor:pointer;
}
.icon-tablet-annotate
{
	background-image: url(../images/book_edit.png);
	background-color:#FFFFFF;
	border-radius: 0;
	background-repeat: no-repeat;
}
.icon-tablet-annotate .number
{
	margin-left: 6px;
	padding-top: 2px;
	font-family: arial;
	font-size: 9pt;
	color:#F1E4E4;
}
/*-------------*/
/*Mostrar la vista de la forma inline en la vista de la tabla de informacion*/
.viewform-inline{
	height: initial;
}
.viewform-inline .contentBitam {
	width: 100%;
	webkit-box-shadow: initial;
	moz-box-shadow: initial;
	box-shadow: initial;	
	moz-border-radius: initial;
	webkit-border-radius: initial;
	border-radius: initial;
}
.viewform-inline .tab_content {
	margin-bottom: 0px;
}
.viewform-inline .mask{
	-webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,0.8) 50%,transparent 100%);
	background-color: transparent;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.2),transparent);
	background-image: linear-gradient(top,rgba(0,0,0,.2),transparent);
	height: 8px;
	left: 100px;
	margin: -1px 0 -9px 0;
	opacity: 100;
	/*position: fixed;
	border-top: 1px solid rgba(0,0,0,0.4);*/
	right: 0;
	z-index: 10000000;
}
/*-------------*/
/*select2*/
.select2-container-multi .select2-choices {
	min-height: 25px !important;
}
/*.select2-container-multi .select2-choices .select2-search-choice {*/
.widget_field_alphanumeric .select2-choices .select2-search-choice {
	font-size: 12px;
	border-radius: 0px;
	border: none;
	background-color: initial;
	background-image: initial;
	margin: 0px;
	box-shadow: initial;
	padding-left: 5px;
	padding-top: 5px;
	max-width: 88%;
}
.widget_field_alphanumeric .select2-choices .select2-search-choice div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.select2-container-multi .select2-choices .select2-search-field input {
	height: 20px;
	padding: 0px;
}
.select2-container-multi .select2-choices .select2-search-field {
	font-size: 12px;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice{
	background-color: #f4f4f4;
	border: 1px solid #f4f4f4;
	box-shadow: initial;
}
.widget_field_alphanumeric .select2-search-choice-close {
	display: none;
}
/*.select2-container-multi .select2-choices .select2-search-choice {*/
.widget_field_alphanumeric .select2-choices .select2-search-choice* {
	padding-left: 3px;
}
.select2-search-field .ui-input-text {
	background-color: transparent;
}

.ui-input-numeric {
	display: table-caption;
	text-align: left;
	width: 90%;
	padding: 0.3em;
	line-height: 1;
	font-size: 13px;
	margin: 1px;
	border: 1px solid;
	border-color: silver #D9D9D9 #D9D9D9 #D9D9D9;
}

.ui-input-text {
	height:30px;
}
tr.form-inline .ui-input-text {
	width: 94%;
	display: flex;

}
.select2-results ul.select2-result-sub {
	padding: 0px
}
/*-------------*/
/*css para cuadro de filtro y vista general*/
.viewwithboxfilter.master{
	margin-left: 16px;
	margin-top: 16px; 
	margin-right: 0px; 
	margin-bottom: 16px;
}
.viewwithboxfilter.master .boxfiltercontainer_div .filterbox {
	margin: 0px;
	width: 164px;
}
.viewwithboxfilter.master #tableFilter{
	float: right;
	width: 860px;
}
@media screen and (orientation:portrait) {
	.viewwithboxfilter.master #tableFilter{
		width:560px;
	}
}
@media screen and (orientation:landscape) and (max-device-width: 1024px) {
	.viewwithboxfilter.master #tableFilter{
		width:820px;
	}
}

.width100Percentage{
	width:100% !important;
}
.metroRow
{
	cursor: pointer;
	height: 25px;
	height: 200px;
/*	width: 197px;*/
	width: 325px;
	margin-bottom: 1%;
	margin-left: 0.3%;
	margin-top: .5%;
	float: left;
	border: 1px solid #F0F0F0;
	border-radius:4px 4px 4px 4px; 
	-moz-border-radius:4px 4px 4px 4px; /* Firefox */ 
	-webkit-border-radius:4px 4px 4px 4px; /* Safari y Chrome */
	box-shadow: 2px 2px 5px #999;
	
}


.table-view .metroRow:nth-child(odd) {
	background: white;
	min-height: 100px;
	float: left;
	overflow: auto;
/*	border-bottom: 1px solid #F0F0F0;*/
}
.table-view .metroRow:nth-child(even){
	background: rgba(240, 240, 240, 0.35);
	min-height: 100px;
	float: left;
	overflow: auto
/*	border-bottom: 1px solid #F0F0F0;*/
}
.table-view .tr-selected{ /*2014-03-18 @JRPP (#30031) Cambio el fondo para dar el efecto de selecciÃ³n.*/
	background: #FFC !important;
}
.div-table .cellMetro 
{
	padding-right: 2px;
	display: block;
	margin-bottom: 10px;
	margin-left: 6px;
	word-break: break-word;
}
.viewsSettings
{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #F0F0F0;
}
.viewsSettings .divView, .divButtons
{
   width: 25%;
   float: left;
}
.viewsSettings .divView .select2-container
{
    margin-top: 3%;
    margin-left: 8%;
    width: 92%;
}
.select2-container:not(.select2_setup_page)
{
  width: 93% !important;
}
.select2-container-multi .select2-choices .select2-search-field {
	height: 25% !important;
	padding-top: 1px;
	padding-left: 8px;
}
/* 2013-11-11 @SM Para desplegar imagenes de forma circular en las vistas */
.imagen {
 width: 30px;
 height: 30px;
 border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-khtml-border-radius: 15px;
 overflow: hidden;
 float: right;
}
/* 2013-11-15 @ARMZ, Para el link de campo catalogo cuando esta deshabilitado */
.linkDescr {
	font-size: 14px;
}
/*2013-11-26@RTORRES:(#iphoneUse)Classes donde se controla la pantalla reducida el responsive.*/
@media screen and (orientation:portrait) and (max-width: 767px) {
    .scrollable table thead
	{
		width: 201px;
	}
	.pinned table thead
	{
		width: 108px;
	}
}
/* Landscape */
@media screen and (orientation:landscape) and (max-width: 767px){
    .scrollable  table thead
	{
		width: 305px;
	}
	.pinned table thead tr
	{
		width: 100%;
	}
	.pinned table thead tr th
	{
		width: 142px;
	}
}
.containerFieldForm{
    padding-top: 1%;
    padding-bottom: 2%
}
.groupFieldDisplay {
border: 1px solid #E1E1E1;
border-radius: 3px;
background-color: #F8F8F8;
color: #555;
padding: 0px;
margin-top: 12px;
}
.groupFieldDisplay div {
display: inline-block;
}
.groupFieldDisplay .fieldName {
width: 140px;
}

.groupFieldDisplay .action {
font-size: 14px;
}
.groupFieldDisplay .action i {
vertical-align: middle;
margin-right: 10px;
cursor:pointer;
}
.groupFieldDisplay .content {
background-color: #F8F8F8;
padding: 7px;
display: block;
}

.widecontainer .select2-container {
width:97% !important;
}

.widecontainer .geolocationmap, .bitamMapsGoogle{
width:96% !important;
}

.widecontainer .sigPad{
width:100% !important;
}
.chartContainer{
	width: 100%; 
	height: 300px;
	margin: 0 auto
}
