.ui-btn-up-i {
}
.ui-btn-up-i {
font-weight: bold;
color: white /*{a-bup-color}*/;
text-shadow: 0 /*{a-bup-shadow-x}*/ 0 /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ white /*{a-bup-shadow-color}*/;
}
.ui-btn-corner-all[data-theme="i"] {
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}
.ui-btn-up-i .ui-btn-inner, .ui-btn-hover-i .ui-btn-inner {
	border-top: 0px ;
	border-color: 			rgba(255,255,255,.3);
}
.ui-btn-hover-i {
	border: 1px solid #357AE8 /*{a-bhover-border}*/;
	background: #357AE8 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #FFFFFF /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 0 /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #ffffff /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #357ae8 /*{a-bhover-background-start}*/), to( #357ae8 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #357ae8 /*{a-bhover-background-start}*/, #357ae8 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #357ae8 /*{a-bhover-background-start}*/, #357ae8 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #357ae8 /*{a-bhover-background-start}*/, #357ae8 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #357ae8 /*{a-bhover-background-start}*/, #357ae8 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #357ae8 /*{a-bhover-background-start}*/, #357ae8 /*{a-bhover-background-end}*/);
}

ul.nav-pills li.ActionFormsMenu a.btn_Actions{
	margin-bottom: 1px;
	border: 1px solid rgb(198, 198, 198);
}

ul.nav-pills li.ActionFormsMenu ul.businessProcesscss{
	left: auto;
	right: 4%;
}

/** Butones para bootstrap*/

.btn.btn-basic {
	background-color: whitesmoke;
	background-image: -webkit-linear-gradient(top,whitesmoke,#F1F1F1);
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	margin: 0.5em 0;
	color: rgb(102, 102, 102);
	margin-right: 5px;
	margin-left: 5px;
}

.btn.btn-basic:active{
	margin-right: 5px;
	margin-left: 5px;
	color: rgb(51, 51, 51);
	border: 1px solid #CCCCCC;
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 2px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	color: #333333;
	background-color: #EEEEEE;
	background-image: -webkit-linear-gradient(top, #EEEEEE, #E0E0E0);
	background-image: -moz-linear-gradient(top, #EEEEEE, #E0E0E0);
	background-image: -ms-linear-gradient(top, #EEEEEE, #E0E0E0);
	background-image: -o-linear-gradient(top, #EEEEEE, #E0E0E0);
	background-image: linear-gradient(top, #EEEEEE, #E0E0E0);
}

.btn.btn-basic:hover {
	border: 1px solid rgb(198, 198, 198);
	background-image: -webkit-linear-gradient(bottom, rgb(245, 245, 245) 44%, rgb(255, 255, 255) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(245, 245, 245) 44%, rgb(255, 255, 255) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(245, 245, 245) 44%, rgb(255, 255, 255) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(245, 245, 245) 44%, rgb(255, 255, 255) 90%);
	background-image: linear-gradient(bottom, rgb(245, 245, 245) 44%, rgb(255, 255, 255) 90%);
}

.btn.button-loading {
	background-image: url(../images/loading-gif-button-white.png);
	background-size: 15px;
	background-position: 6px center;
	background-repeat: no-repeat;
	padding-left: 30px;
}

/** Botones bootstrap que aparecen en el menu de control de la tabla de datos */
.div-table-content .controlMenuTable .mainMenu li .btn.btn-primary, .div-table-content .controlMenuTableFooter .mainMenu li .btn.btn-primary {
	padding: 5px 10px;
	margin: 0.5em 5px 0 5px;
	font-size: 12px;
}
