#loginpage .input
{
	width: 194px;
}

#page_login {
	padding-top: 8px;
	height: 459px;
	width: 960px;
	background-image: url(../images/barcel.jpg);
}

#page_login form .labelform
{
	width: 90px;
}

#page_login_content {
	width: 340px;
	margin-left: 582px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
	background-color: rgba(255, 255, 255, .9)
}

.page_login_section_form {
	background: transparent;
}

.input_wrapper
{
	margin-left: 100px;
}