
.editableGrid .table-view TR {
height: 35px;
}

.editableGrid .div-table .buttonhome {
width: 35px;
}

.editableGrid .div-table .buttonhome .dropdown{
text-align: center;
}

.editableGrid .div-table .buttonhome .dropdown .btn-home {
min-height: 24px;
width: 24px;
margin: auto;
cursor: pointer;
}

.editableGrid .div-table .buttonhome i{
color: rgb(68, 68, 68);
opacity: 0.30000001192092896;
font-size: 18px;
}

.editableGrid .div-table .buttonhome .dropdown-menu {
left: -140px;
text-align: initial;
padding: 5px 0;
}

div.editableGrid .div-table ul.dropdown-menu>li {
padding-bottom: initial;
padding-top: initial;
}

.editableGrid .div-table .dropdown-menu>li>a {
padding: 6px 20px 6px 10px;

}

.editableGrid .div-table .dropdown-menu>li>a>i {
padding-right: 10px;
}


.editableGrid .div-table .cell {
padding-left: 4px;
}

.editableGrid .input-box {
position: absolute;
padding: 1px 2px;
max-width: none;
max-height: none;
overflow: hidden;
right: auto;
background-color: rgb(255, 255, 255);
box-shadow: 0 2px 5px rgba(0,0,0,0.4);
word-wrap: break-word;
outline: none;
margin: 0;
z-index: 10000;
}

.editableGrid .input-box.text {
border: 2px #5292f7 solid;
max-width: 320px;
}

.editableGrid .input-box.selected {
background-color: transparent;
box-shadow: initial;
z-index: 100;
}

.editableGrid .input-box.widget {
overflow: auto;
overflow-y: scroll;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1050;
display: block;
background-color: transparent;
border: none;
}

.editableGrid .input-box.widget .cell-input {
width: 600px;
height: 200px;
margin: 126px auto;
background-color: white;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
border-radius: 2px;
overflow: hidden;
}

.editableGrid .input-box.widget .cell-input .title {
height: 80px;
line-height: 80px;
padding-left: 24px;
background-color: #fff;
letter-spacing: 0.05em;
font-size: 24px;
font-weight: 400;
color: #5265a2;
}

.editableGrid .input-box.widget .cell-input .content {
padding-left: 24px;
overflow: auto;
height: 85px;
}

.editableGrid .cell-input {
outline: none;	
}

.editableGrid .cell_error_right {
	background: #ffffff url("../images/cell_error_right.png") no-repeat top right;
}

.editableGrid.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #000;
}
/*
.editableGrid.modal-backdrop.fade {
opacity: 0;
filter: alpha(opacity=0);
}

.editableGrid.modal-backdrop.fade {
opacity: 0;
-webkit-transition: opacity .15s linear;
transition: opacity .15s linear;
}

.editableGrid.modal-backdrop.in {
opacity: .1;
filter: alpha(opacity=10);
}

.editableGrid.modal-backdrop.in {
-webkit-animation-fill-mode: both;
-webkit-animation-timing-function: ease-out;
-webkit-animation-duration: 350ms;
-moz-animation-fill-mode: both;
-moz-animation-timing-function: ease-out;
-moz-animation-duration: 350ms;
}
*/
/***/

.editableGrid table tbody tr td div.cell .select2-container .select2-choice {
border: none;
border-radius: initial;
background-image: none;
background-color: transparent;
}

.editableGrid table tbody tr td div.cell .select2-container .select2-choice .select2-arrow {
border: none;
background-image: initial;
background-color: transparent;
}

.editableGrid.select2-drop-active {
border: 1px solid rgba(0,0,0,.15);
}

.editableGrid table tbody tr td div.cell .select2-container-active .select2-choice, .editableGrid .select2-container-active .select2-choices {
-webkit-box-shadow: initial;
box-shadow: initial;
}

.editableGrid table tbody tr td div.cell .select2-container .select2-choice {
padding-left: 0px;
color: #666;
}

.editableGrid table tbody tr td div.cell .select2-container-multi .select2-choices {
border: none;
background-image: initial;
background-color: transparent;
}

.editableGrid table tbody tr td div.cell .select2-container-multi .select2-choices .select2-search-choice {
background-color: transparent;
border: 1px solid transparent;
padding-top: 6px;
color: #666;
}

.editableGrid table tbody tr td div.cell  .select2-container {
min-width: 100px !important;
}

.editableGrid table tbody tr td div.cell .hasDatepicker {
background-color: transparent;
}

/***/

.editableGrid table tbody .hasDatepicker {
border: none;
padding: 0px;
height: 23px;
}

/***/

.modal.editableGrid .modal-content {
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
border-radius: 2px;
border: none;
}

.modal.editableGrid .modal-header{
border: none;
}

.modal.editableGrid .modal-title {
color: #5265a2;
font-size: 24px;
}

.modal.editableGrid .modal-footer {
border: none;
}

/***/