
@import url("jquery.timeentry.css");
@import url("jquery-ui-1.10.1.custom.min.css");
@import url("fileinput.css");
@import url("bootstrap.min.css");
@import url("jquerymobile.css");
@import url("fileuploader.css");
@import url("evol.colorpicker.css");
@import url("select2.css");
@import url("base.css");
@import url("buttons.css");
@import url("metroNavegation.css");
@import url("font-awesome.min.css");
@import url("metroNavegation.css");
/*@import url("<?php echo Utils::style("responsive-tables.css") ?>");*/
@import url("../js/jquery_signaturepad/jquery.signaturepad_2.css");
@import url("gantt.css");
@import url("widgets.misc.css");
@import url("dropdown/dropdown.css");
@import url("dropdown/dropdown.vertical.rtl.css");
@import url("dropdown/themes/default/default.css");
@import url("nprogress.css");
@import url("topbar.css");
@import url("widgets.mobile.css");
@import url("jquery.ui.datepicker.mobile.css");

* {
box-sizing: initial;
}

input[type='text'],input[type='email'],input[type='password'],input[type='number'],input[type='tel'],input[type='url'], textarea{
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}