/* Portrait */
@media screen and (orientation:portrait) {

    .navMetro {
	margin-left: 4%; 
	margin-top: 1%;
    }

}
/* Landscape */
@media screen and (orientation:landscape) {

    .navMetro {
	margin-left: 3.2%; 
	margin-top: 1%;
    }

}
.navMetro {
	position: relative; 
	overflow: hidden; 
/*	background-cwhite; */
	height: 190px;
	width: 150px; 
	margin-bottom: 1%;
	float: left; 
	-webkit-transform: scale(.80);
    -ms-transform: scale(.80);
    -moz-transform: scale(.80);
    -o-transform: scale(.80);
    transform: scale(.80);
	cursor: pointer;
    }
.navImage{
    top: 0; 
    left: 0; 
    margin: 0; 
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
    position: absolute;
}
.titleNav
{
/*    position: absolute; */
	/*white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: 79.2px; /* Fallback for non-webkit */
	margin: 0 auto;
	line-height: 1.2;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
  ///////////////////////////////////////////////////
    bottom: 0; 
    font-size: 12px; 
    left: 0; 
    padding: 0 0 0px 2%; 
    text-decoration: none; 
    width: 95%;
    text-align: center;
}
.transform
{
    -webkit-transform: scale(.80);
    -ms-transform: scale(.80);
    -moz-transform: scale(.80);
    -o-transform: scale(.80);
    transform: scale(.80);
}

.navMetroIOS {
	position: relative !important; 
	overflow: hidden !important; 
/*	background-cwhite; */
	height: 100%;
	width: 150px; 
	margin-left: 2%; 
	margin-top: 1%;
	margin-bottom: 1%;
	float: left; 
	-webkit-transform: scale(.80);
    -ms-transform: scale(.80);
    -moz-transform: scale(.80);
    -o-transform: scale(.80);
    transform: scale(.80);
    }
.titleNavBox{
/*    position: absolute; */
	/*white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: 50.2px; /* Fallback for non-webkit */
	margin: 0 auto;
	line-height: 1.2;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
  ///////////////////////////////////////////////////
    bottom: 0; 
    font-size: 12px; 
    left: 0; 
    padding: 0 0 0px 2%; 
    text-decoration: none; 
    width: 95%;
    text-align: center;
}
/*Nuevo tipo de navegcion*/
#divbox{
	height: 369px;
	width: 25%;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: 3%;
}
#divbox span{
	float: left;
	padding-left: 2%;
}
#divbox i{
	float: right;
	padding-right: 2%;
}

.upperright{
	float: right;
	margin-right: 5%;
}
.lowerright{
	float: right;
	margin-right: 5%;
	margin-top: 9%;
}
.lowerleft{
	margin-top: 9%;
}