#page_login {
	max-width: 600px;
	min-width: 300px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 10%;
}
@media (max-width: 480px) {
  #page_login
	{
		width: 300px;
	}
}
#page_login form .labelform {
	width: 85px;
}
#page_login form .input_wrapper {
	margin-left: 90px;
}
.page_login_section_form_content {
	padding: 11px;
}
#loginpage .input {
	width: 165px;
}
.contentBitam
{
	/*max-width:600px;*/
	width: 100%;
}
.ui-content {
	/*padding-left: 8px;
	padding-right: 8px;*/
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
.ui-page {
        /*-webkit-backface-visibility: hidden;*/
} 
.ui-content .ui-listview {
	margin: 0px;
}
.agrupadorOculto {
	display:none !important;
}
.ui-header {
	/*height: 40px;*/
	background-image: -webkit-linear-gradient(top,#292929 0,#252525 100%);
	background-image: -moz-linear-gradient(top,#292929 0,#252525 100%);
	background-image: linear-gradient(top,#292929 0,#252525 100%);
	color:white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px;
}
.ui-footer {
	background-image: -webkit-linear-gradient(top,#292929 0,#252525 100%);
	background-image: -moz-linear-gradient(top,#292929 0,#252525 100%);
	background-image: linear-gradient(top,#292929 0,#252525 100%);
	color:white;
}
.ui-page-header-fixed {
padding-top: 3.1em !important;
}
.ui-btn-inner {
    font-size: 1em;
}
#mainPageMobil .ui-listview li {
	margin-bottom: 10px;
	border: 1px solid #CFD0CF;
	margin-left: 24px;
	margin-right: 25px;
	border-radius: 7px;
	color:white;
}

.tab_content {
	margin: 0px;
	margin-bottom: 15px;
	/*margin-left: 5px;
	margin-right: 5px;*/
	border-radius: 0;
}

.filterpage {
	margin-bottom: 15px;
	/*margin-left: 5px;
	margin-right: 5px;*/
	margin-top: 10px;
	padding: 1px;
	border-radius: 0;
}

.tab_content .contentViewForm {
	padding-top: 0px !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
	padding-bottom: 3px !important;
}

.div-table-content {
	padding: 0px;
	margin-right: 5px !important;
	margin-bottom: 12px;
}
.filterbox .list-filter-tag{
border: 1px solid #CCC;
border-radius: 4px;
margin-right: 30px;
}
.filterbox .list-filter-tag .tagname{
border-bottom: 1px solid #CCC;
padding: 5px;
}
.contentListNotifications .headernotifications {
	padding-left: 8px;
	height: 35px;
}
.contentListNotifications .headernotifications_details {
	padding-right: 1px;
	height: 35px;
}
.contentListNotifications .headerDescription .actionitem_title {
float: left;
width: 70%;
font-size: 1.3em;
text-overflow: ellipsis;
display: block;
overflow: hidden;
white-space: nowrap;
margin-right: 6px;
margin-top: 4px;
margin-left: 2px;
}
.contentNotifications .contentListNotifications {
	margin-left: 0px;
	width: 100%;
}

.contentNotifications .containerItem .descItem {
	padding-top: 9px;
	padding-left: 8px;
	padding-right: 4px;
}
.contentNotifications .containerItem .descriptionItem {
	width: 100%;
	font-size: 1.2em;
	font-weight: normal;
}
.contentNotifications .containerItem .descriptionItem_details {
	width: 100%;
	font-size: 1.4em;
	font-weight: normal;
	margin-left: 20px;
	margin-bottom: 6px;
}
.contentNotifications .containerItem .title, .contentNotifications .containerItem .description{
	display:none;
}
.contentNotifications .containerItem .title_details {
	clear: both;
	margin-left: 10px;
	color: #999;
	display: block;
	width: 100% !important;
	padding-top: 3px;
}
.contentNotifications .containerItem .description_details {
	clear: both;
	margin-left: 20px;
	display: block;
	width: 100% !important;
	margin-bottom: 6px;
	font-size: 1.4em;
	color:#333;
}
.contentNotifications .containerItem .deadline {
width: 17%;
}
.contentNotifications .containerItem .status {
width: 27%;
}
.contentNotifications .containerItem .meetingName {
width: 100%;
}
.contentNotifications .containerItem .responsibleItem {
width: 100%;
}
.contentNotifications .containerItem .action-components {
	padding: 9px 7px 7px 7px;
}
.contentNotifications .containerItem .textAction {
	float: left;
	width: 26%;
	padding-top: 12px;
}
.contentNotifications .containerItem .inputAction {
	width: 69%;
	float: left;
	margin-left: 8px;
}
.contentNotifications .containerItem .inputAction SELECT {
	/*width: initial !important;*/
}
.contentNotifications .containerItem .action-components .textcomment {
margin-left: auto;
margin-right: auto;
width: 260px;
margin-top: 2px;
}
.containerItem .actionslists {
font-size: 1.2em;
/*border-top: 1px solid #EEE;*/
padding-top: 5px;
margin-top: 8px;
}
.containerItem .actionslists li {
padding-right: 4px;
}
.containerItem .commentitem {
padding-left: 17px;
padding-right: 8px;
}

.ui-btn-up-h {
	border: 1px solid #131917;
	background: #353942;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 1px #111;
}
.ui-btn-hover-h {
	border: 1px solid #131917;
	background: #353942;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 1px #111;
}
.ui-btn-up-h .ui-btn-corner-all, .ui-btn-corner-all[data-theme='h'], .ui-btn-hover-h .ui-btn-corner-all{
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}
.ui-btn-up-h .ui-btn-inner {
border-top: 1px solid;
border-color:rgba(255, 255, 255, .3);
}
.ui-btn-up-h, .ui-btn-hover-h, .ui-btn-down-h {
font-family:Helvetica,Arial,sans-serif;
text-decoration: none;
}
.ui-shadow[data-theme='h'] {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.ui-btn-up-c .ui-btn-corner-all, .ui-btn-corner-all[data-theme='c'], .ui-btn-hover-c .ui-btn-corner-all, .ui-corner-all[data-theme='c']{
-moz-border-radius: 0.2em;
-webkit-border-radius: 0.2em;
border-radius: 0.2em;
}
.ui-shadow[data-theme='c'] {
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
.ui-btn[data-theme='c'] .ui-btn-inner {
padding: 0.4em 20px;
}
.ui-select .ui-btn select {
width: 100% !important;
}
.ui-li-section {
	padding-left: 10px !important;
	padding-top: 2px !important;
	padding-right: 5px !important;
	padding-bottom: 2px !important;
}
.form-add-element .input, .form-add-element .ui-input-text, .form-add-element input[type=text], .form-add-element input[type=email], .form-add-element select, .form-add-element .hasDatepicker  {
	border: 1px solid #E2E9EF;
	border-top: 1px solid #CBD3E2;
	padding: 2px;
	font-size: 16px;
	margin-top: 2px;
	width: 90%;
	border-image: initial;
	background-color: white;
/*        height: 30px;*/
}
.form-add-element-new-page input.ui-input-text, textarea.ui-input-text, .form-add-element-new-page input[data-role="datebox"], .form-add-element-new-page .hasDatepicker, .form-add-element-new-page .hasTimeEntry
{
	background-image: none;
	padding: 0.3em;
	line-height: 1;
	font-size: 16px !important;
	margin: 1px;
	border: 1px solid;
	border-color: silver #D9D9D9 #D9D9D9 #D9D9D9;
	background-color: #FFFFFF;
        text-align: left;
/*        height: 30px;*/
        width: 100%;
}
.form-add-element-new-page label.ui-input-text {
	color:#777777;
	font-size: 13px;
	line-height: 1;
	display: inline-block;
	font-weight: normal;
	margin: 0 0 .3em;
	width: 90%;
	margin-top: 4px;
        text-align: left;
        padding-left: 5%;
}

.ui-menu .ui-menu-item a {
	font-size: 1.5em;
}
.form-add-element .ui-btn-text {
        font-size: 13px;
        font-weight: bold;
}
.ui-btn-up-g span, .ui-btn-hover-g span, .ui-dialog-buttonset .ui-btn-up-c span {
    
        padding: 2px 15px 0 15px;
        height: 20px;
}
.subsection-title {
    border-bottom: none;
}