.stream-items 
{
	margin: 0px;
	padding: 0;
	list-style: none;
/* 	margin-left: 30px; */
	margin-right: 15px;
	/* margin-bottom: 30px; */
}
.rowDescription {
	float: right;
	margin-right: 30px;
	cursor: pointer;
}
.businessProcess {
	float: right;
	cursor: pointer;
}
.stream-item-header H4 {
	display: inline-block;
}
b{
font-size: 13px;
}
#filerNotification.filterbox ul.list-filter ul.list-filter-tag li.tagname label.letraNotif {
	width: 35px;
	display: inline-block !important;
}

.parrafoFilter {
	display: inline;
	font-size: 12px;
}

.fechaNotification {
	padding: 0;
	padding-left: 3px;
	padding-right: 3px;
	height: 24px;
}

#filerNotification {
	padding: 25px;
}

ol.stream-items {
	width: 775px;
	float: right;
}

ol.stream-items .contentNotification {
	padding: 10px;
}

ol.stream-items .contentNotification .description {
	margin-left: 65px;
}

.configurationbtn{
	float: right;
	margin-right: 37px;
}

.imagenNotificacion 
{
	width: 50px;
 	height: 50px;
 	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
 	overflow: hidden;
 	float: left;
	margin: 0px 5px 0px 0px;
	border: 2px solid #F2F2F2;
	
	-webkit-filter: sepia(100%);
 	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease; 
}
#windowModal {
	width: 478px !important;
}

.imagenNotificacion:hover
{
	-webkit-filter: sepia(0%);
}