body {
	background-color: #e5e5e5;
	font: normal 13px Roboto,arial,sans-serif;
	height: 100%;
	margin: 0;
	overflow-y: scroll;
	visibility: visible;
}

#content_notification {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6%;
}

.stream-item-header {
margin-left: 65px;
}

.stream-item-header H4 {
	display: inline-block;
}

ol.stream-items>li {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	border-top-width: 0;
	vertical-align: top;
}

ol.stream-items .contentNotification {
	padding: 10px;
}

ol.stream-items .contentNotification .description {
	margin-left: 65px;
}
ol.stream-items {
	margin-left: 30px !important ;
}