.divTableScroll
{
	overflow-x: scroll;
	width: 100%;
}
.reductedPages
{
	display: none;
}
.container-login {
    width: 250px !important;
    padding: 40px 20px !important;
}
.container-login form {
    width: 245px !important;
}
/*FILTRO*/
.filterbox .input-group .form-control {
	height: 35px !important;
}
.filterbox .input-group .input-group-btn {
	height: 35px !important;	
}
.input-group-btn:last-child>.btn{
	height: 100% !important;
}
.filterbox{
	margin-left: auto !important;
	margin-right: auto !important;
	float: initial;
	width: 280px !important;
}
.selecFilter{
	width: 100%;
}
.filterbox .list-filter-tag{
	border: initial !important;
}
.buttonSearchMobile
{
	margin-top: 5%;
}
.list-filter select {
	width: 100% !important
}
.ui-footer-fixed{
	width: initial !important
}
ul.dropdown-menu>li.dropdown>.dropdown-menu
{
	position: initial;
	float: none;
}

/* General styles for all menus */

.cbp-spmenu {
	/*background: #47a3da;*/
	background: #F2F2F2;
	position: fixed;
}

.cbp-spmenu h3 {
	/*color: #afdefa;*/
	color: #FFFFFF;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	/*background: #0d77b6;*/
	background: #000000;
}

.cbp-spmenu a {
	display: block;
	/*color: #fff;*/
	color: #000000;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	/*border-bottom: 1px solid #258ecd;*/
	border-bottom: 1px solid #E5E5E5;
	padding: 1em;
}
	/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -500px;
}
.cbp-spmenu-right {
	right: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	overflow: auto;
}
.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}
/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
	top: -150px;
}
.cbp-spmenu-bottom {
	bottom: -150px;
}
.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}
.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 240px;
}
.cbp-spmenu-push-toleft {
	left: -240px;
}
/* Transitions */
.cbp-spmenu,.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.cbp-spmenu-vertical i {
	padding-right:  5%;
}

/* se le quita el borde a los botones*/
.ui-btn-inner{
	border-top: initial !important; 
	border-color: initial !important; 
}


#divbox{
	height: 369px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-left: 3%;
}

.metroRow
{
	cursor: pointer;
	height: initial;
	width: 100%;
	margin-bottom: initial;
	margin-left: initial;
	margin-top: initial;
	float: left;
	border: 1px solid #F0F0F0;
	border-radius:4px 4px 4px 4px; 
	-moz-border-radius:4px 4px 4px 4px; /* Firefox */ 
	-webkit-border-radius:4px 4px 4px 4px; /* Safari y Chrome */
	box-shadow: initial;
	overflow: initial;
	
	
}
.celMetro{
	font-size: 18px;
}
.div-table .cellMetro{
	margin-bottom: 2px;
}
.div-table-content{
	width: 100%;
}
/*barra de search en el header*/
.input-groupOut{
	width: 83%;
	float: left;
	height: 22px;
	color: #555;
	-webkit-border-radius: 0.6em 0.6em 0.6em 0.6em;
}
.form-controlOut{
	padding-bottom: 35px;
}
.tab_content {
	margin-top: 35px !important;
}
.ui-listview{
	margin-top: 23px;
}