/** page*/
.contentBitam {
	width:99%;
}

/** Buttons*/
.btn.btn-basic {
	font-size: 14px;
}


/** Tablet*/
.div-table-content .controlMenuTable .menuTable {
	height: 48px;
}

.table-view tbody TR {
	height: 40px !important;
}

.div-table .cell, .div-table TH span {
	font-size: 14px !important;
}

.chkbox-box {
	height: 20px;
	width: 20px;
}

.chkbox-box .chkbox-box-inner {
	height: 20px;
	width: 20px;
}
.chkbox-box .checked {
	background: url(../images/check.png) no-repeat 3px 3px;
	background-size: 15px 15px;
}

input[type=radio] {
    height: 20px;
    width: 20px;
    padding: 2px;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    padding: 2px;
}

.ddm a {
/*font-family: Tahoma,Arial,Helvetica,sans-serif !important;
color: #000000 !important;
line-height: 18px !important;
font-size: 16px !important;
margin: 0px;
display: block;
padding: 19px 5px 4px 9px;*/
}

/** Cambios al menu contextual de bootstrap*/
.dropdown-menu, .ddm, .dropdown-header {
	background-color:rgba(255,255,255,.95); 
	border: 1px solid rgba(0,0,0,.05);
	font-size: 16px;
	border-radius: 4px;
}
.dropdown-header {
	color: #999;
	border:initial;
	border-radius:initial;
}
.dropdown-menu li span, .ddm li a {
	color:#000000 !important;
	font-size: 16px !important;
}
.dropdown-menu>li, .ddm li {
	border-bottom:1px solid #D6D6D6 !important;
}
.dropdown-menu>li:last-child, .ddm li:last-child {
	border-bottom:none !important;;
}
.dropdown-menu>li>a {
	padding: 6px 20px;
}
.ddm li a {
	padding: 8px 20px;
}
.dropdown-menu .divider {
	display: none;
}

.ui-datepicker{
width:25em;
padding:.2em .2em 0;
display:none
}

.ui-datepicker td a{
display:block;
padding:1em;
text-align:right;
text-decoration:none
}

.ui-widget button{
font-family:Verdana,Arial,sans-serif;
font-size:1em;
box-sizing:border-box;
}


