.twocolumns{
	
}
.twocolumns .boxA{
	float: left;
	width: 650px;
	margin-bottom: 10px;
}
.twocolumns .boxB{
	float: left;
	width: 330px;
	margin-bottom: 10px;
}
@media only screen and (device-width: 768px) and (orientation:portrait) {
	.twocolumns .boxA{
		float: left;
		width: 502px;
	}
	.twocolumns .boxB{
		float: left;
		width: 238px;
	}
}

.twocolumns .boxA .form-add-element-new-page {
	background-color: #F7F7F7;
	border: 1px solid rgba(0, 0, 0, .05);
}

.twocolumns .boxA .form-add-element-new-page input, .twocolumns .boxA .form-add-element-new-page textarea {
	background-color: transparent;
}
.twocolumns .div-table-content .controlMenuTable, 
.minimalist .div-table-content .controlMenuTable{
	height: 25px;
	display:none;
}
.twocolumns .div-table-content .norecords,
.minimalist .div-table-content .norecords{
	padding: 4px 0px 6px 10px;
}
.twocolumns .div-table-content .controlMenuTable .mainMenu .ui-btn,
.minimalist .div-table-content .controlMenuTable .mainMenu .ui-btn{
	margin: 0.2em 3px;
}
.twocolumns .div-table-content .controlMenuTable .mainMenu .ui-btn .ui-btn-inner,
.minimalist .div-table-content .controlMenuTable .mainMenu .ui-btn .ui-btn-inner{
	padding: 1px 1px 1px 1px;
}
.twocolumns .div-table-content .div-table .div-table-header,
.minimalist .div-table-content .div-table .div-table-header {
	padding-left: 10px;
}
.twocolumns .div-table-content .checkMasterSelect, .twocolumns .div-table-content .checkItemSelect, .twocolumns .div-table-content .table_checkitem,
.minimalist .div-table-content .checkMasterSelect, .minimalist .div-table-content .checkItemSelect, .minimalist .div-table-content .table_checkitem{
	display:none;
}
.twocolumns .subsection-title,.minimalist .subsection-title{
	color:black;
	padding-bottom: 0px;
}
.twocolumns .div-table,.minimalist .div-table {
	border: none;
}
.twocolumns .form-add-element,.minimalist .form-add-element {
	background-color:transparent;
}
.twocolumns .form-add-element .form-inline .ui-input-text,  .twocolumns .form-add-element .form-inline textarea, .twocolumns .form-add-element .form-inline .select2-choices
.minimalist .form-add-element .form-inline .ui-input-text,  .minimalist .form-add-element .form-inline textarea, .minimalist .form-add-element .form-inline .select2-choices{
	border: none;
	border-bottom: 1px dashed #CBD3E2;
	-webkit-appearance: none;
	box-shadow: none;
}
.twocolumns .form-add-element .form-inline textarea,
.minimalist .form-add-element .form-inline textarea{
	height: 13px;
}
.twocolumns .table-view tr ,
.minimalist .table-view tr {
	height: 17px;
}
.twocolumns .table-view th,
.minimalist .table-view th {
	font-size: 11px;
	height: 17px;
}
.twocolumns .boxB .div-table-content{
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
.twocolumns .boxB .section-navigation-column{
	margin-left: 5px;
	margin-bottom: 10px;
	padding: 4px;
	margin-right: 20px;
	text-align: center;
	margin-top: 16px;
	background-color: #F7F7F7;
	border: 1px solid rgba(0, 0, 0, .05);
}
.twocolumns .boxB .section-navigation-column .nav{
	margin-left: 50px;
	margin-right: 50px;
}
.twocolumns .boxA .select2-container-multi .select2-choices,
.twocolumns .boxB .select2-container-multi .select2-choices {
	border: 1px solid #FFFFFF;
	border-bottom: 1px dashed #CBD3E2;
	-webkit-appearance: none;
	box-shadow: none;
	background-image: initial;
}
.twocolumns .select2-container-multi .select2-choices .select2-search-field input {
	padding: 0px;
}
/*.twocolumns .boxA .select2-choice,
.twocolumns .boxB .select2-choice
{
    border: none;
    border-bottom: 1px dashed #CBD3E2;
    background-color: white;
    background-image: initial;
}*/