.top-bar .contentBitam .navigation .nav 
{
	width:100%;
}
@media screen and (orientation:portrait) /*and (max-device-width: 800px)*/ {
	.top-bar .contentBitam .navigation .nav
	{
		/*width:740px;*/
	}
	.top-bar #SyncId {
		padding-top: 10px !important;
	}
	#SyncId .s-vr {
		display: block;
	}
	#SyncId .s-hr {
		display: none;
	}
}
@media screen and (orientation:landscape) and (max-device-width: 1024px) {
	.top-bar .contentBitam .navigation .nav
	{
		width:1000px;
	}
	#SyncId .s-vr {
		display: none;
	}
	#SyncId .s-hr {
		display: block;
	}
}

@media (max-width: 1200px) {
	.global-nav .navigation .nav>li>a {
		padding: 12px 10px !important;
	}
}

.top-bar {
	height: 128px;
}

.top-bar .banner {
	margin-top: 46px;
	max-height: 116px;
	overflow: hidden;
	border-radius: 0 0 2px 2px;
}

.top-bar .banner img{
	border-radius: 0 0 2px 2px;
}

.top-bar #SyncId {
	padding: 5px 15px;
}

.top-bar #SyncId span {
	color: #FFFFFF !important;
}

.top-bar #SyncId a {
	padding: 7px 10px 7px 10px;
}

.top-bar .global-nav {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	height: 46px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

.top-bar .global-nav .global-nav-inner {
	background: #fff;
	height: 46px;
}

.top-bar .global-nav .global-nav-inner .container {
	position: relative;
}

.top-bar .global-nav .global-nav-inner .container .navigation {
	display: inline-block;
}

.global-nav .navigation ul.nav {
	height: 44px;
	width: 850px;
}

.global-nav .navigation ul > li {
	float: left;
}

.global-nav .navigation ul.dropdown-menu {
	max-width: 250px;
	max-height: 500px;
	overflow: auto;
}

.global-nav .navigation ul.dropdown-menu > li {
	float: none;
}

.global-nav .navigation .nav .open>a, .global-nav .navigation .nav .open>a:hover, .global-nav .navigation .nav .open>a:focus {
	background-color:initial;
	background-color: rgba(255,255,255, .3);
}

.global-nav .navigation .nav>li>a:hover, global-nav .navigation .nav>li>a:focus {
	text-decoration: none;
	background-color: inherit;
}

.global-nav .navigation .nav li a {
	cursor: pointer;
}

.global-nav .navigation .nav li.active a {
	background-color: rgba(231, 231, 231, 0.54);
	border-bottom: 2px solid;
}

.global-nav .navigation .nav>li>a {
	position: relative;
	display: block;
	padding: 12px 15px;
	font-size: 14px;
}

.global-nav .navigation ul > li span {
	color: #737373;
}

.global-nav .navigation ul.dropdown-menu > li .app-span {
	float:left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	width:180px;
}

.global-nav .navigation ul.dropdown-menu > li a {
	height: 20px;
}

.global-nav .navigation ul > li.global-notification .badge {
	background-color: #428bca;
}

.global-nav .navigation .bar {
	background-color: #427fed;
    width: 0%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    transition: all .15s ease-in-out;
}

.global-nav .navigation .nav>li>a:hover .bar {
	width: 100%;
}


ul.dropdown-menu>li.dropdown{position:relative;}
ul.dropdown-menu>li.dropdown>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
ul.dropdown-menu>li.dropdown:hover>.dropdown-menu{display:block;}
ul.dropdown-menu>li.dropdown>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
ul.dropdown-menu>li.dropdown:hover>a:after{border-left-color:#ffffff;}
ul.dropdown-menu>li.dropdown.pull-left{float:none;}
ul.dropdown-menu>li.dropdown.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
ul.dropdown-menu>li.dropdown>a>b.caret {display: none;}