/** */
.ui-datepicker-trigger 
{
	position: absolute;
	right: 1.45em;
	top: .2em;
}
.table-view .ui-datepicker-trigger
{
	position: static;
	right: 1.45em;
	top: .2em;
}
.ui-datepicker-trigger-modal{
	position: absolute;
	right: 18.5em;
	top: 3.3em;
}

div.fieldFormCnt > img.ui-datepicker-trigger 
{
	position: relative;
}

.shistory
{
	position: absolute;
	right: 52.5em;
	top: 19.5em;
}

.fieldFormCnt .addon
{
	position: relative;
	right: initial;
	top: initial;
}

.fieldFormCnt .addon i {
	position: absolute;
	padding: 6px;
	right: 0px;
	color: #333;
}

span.addon + span.addon > i {
	right: 18px;
}

/**Cuuando es un select2*/
.select2-offscreen + .addon i {
	right: 18px;
}